openapi: 3.2.0
info:
  title: TheSpaceDevs LL2 Docking API
  version: v2.3.0
  description: Rocket launches, space events and crewed spaceflight. The Launch Library 2 API is the official successor of the popular Launch Library API. It keeps its core features whilst also including everything the broader Space Launch Now API had to offer. The result is a large database delivering a more complete experience for each rocket launch and ...
  license:
    name: Apache License 2.0
servers:
- url: https://ll.thespacedevs.com/
  description: Production API (� rate-limited)
- url: https://lldev.thespacedevs.com/
  description: Development API (stale and limited data, for development testing only)
tags:
- name: Docking
paths:
  /2.3.0/config/docking_locations/:
    get:
      operationId: config_docking_locations_list
      summary: List Docking Locations
      description: '#### Number of results

        Use `limit` to control the number of objects in the response (max 100)


        Example - /config/docking_locations/?limit=2


        #### Format

        Switch to JSON output - /config/docking_locations/?format=json


        #### Help

        Find all the FAQs and support links on the documentation homepage - ll.thespacedevs.com/docs'
      parameters:
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - name: ordering
        required: false
        in: query
        description: Which field to use when ordering the results.
        schema:
          type: string
      - name: search
        required: false
        in: query
        description: A search term.
        schema:
          type: string
      tags:
      - Docking
      security:
      - cookieAuth: []
      - Token_Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedDockingLocationList'
          description: ''
  /2.3.0/config/docking_locations/{id}/:
    get:
      operationId: config_docking_locations_retrieve
      summary: Get Docking Location
      description: '#### Number of results

        Use `limit` to control the number of objects in the response (max 100)


        Example - /config/docking_locations/?limit=2


        #### Format

        Switch to JSON output - /config/docking_locations/?format=json


        #### Help

        Find all the FAQs and support links on the documentation homepage - ll.thespacedevs.com/docs'
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this Docking Location.
        required: true
      tags:
      - Docking
      security:
      - cookieAuth: []
      - Token_Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DockingLocation'
          description: ''
  /2.3.0/docking_events/:
    get:
      operationId: docking_events_list
      summary: List Docking Events
      description: '#### Modes

        Levels of detail in the response - `normal`, `detailed`


        Example - /docking_events/?mode=detailed


        #### Filters

        Parameters - `docking__gt`, `docking__gte`, `docking__lt`, `docking__lte`, `docking_location__id`, `flight_vehicle_chaser__id`, `space_station_target__id`


        Example - /docking_events/?space_station_target__id=6


        #### Search

        Fields searched - `docking_location__name`, `flight_vehicle_chaser__spacecraft__name`, `flight_vehicle_target__spacecraft__name`, `payload_flight_chaser__payload__name`, `payload_flight_target__payload__name`, `space_station_chaser__name`, `space_station_target__name`


        Example - /docking_events/?search=Salyut


        #### Ordering

        Fields - `departure`, `docking`


        Example - /docking_events/?ordering=-docking


        #### Number of results

        Use `limit` to control the number of objects in the response (max 100)


        Example - /docking_events/?limit=2


        #### Format

        Switch to JSON output - /docking_events/?format=json


        #### Help

        Find all the FAQs and support links on the documentation homepage - ll.thespacedevs.com/docs'
      parameters:
      - in: query
        name: docking__gt
        schema:
          type: string
          format: date-time
        description: Docking is greater than
      - in: query
        name: docking__gte
        schema:
          type: string
          format: date-time
        description: Docking is greater than or equal to
      - in: query
        name: docking__lt
        schema:
          type: string
          format: date-time
        description: Docking is less than
      - in: query
        name: docking__lte
        schema:
          type: string
          format: date-time
        description: Docking is less than or equal to
      - in: query
        name: docking_location__id
        schema:
          type: integer
      - in: query
        name: flight_vehicle_chaser__id
        schema:
          type: integer
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - in: query
        name: mode
        schema:
          type: string
          enum:
          - detailed
          - normal
        description: Level of detail in the response.
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - name: ordering
        required: false
        in: query
        description: Which field to use when ordering the results.
        schema:
          type: string
      - name: search
        required: false
        in: query
        description: A search term.
        schema:
          type: string
      - in: query
        name: space_station_target__id
        schema:
          type: integer
      tags:
      - Docking
      security:
      - cookieAuth: []
      - Token_Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedPolymorphicDockingEventEndpointList'
          description: ''
  /2.3.0/docking_events/{id}/:
    get:
      operationId: docking_events_retrieve
      summary: Get Docking Event
      description: '#### Modes

        Levels of detail in the response - `normal`, `detailed`


        Example - /docking_events/?mode=detailed


        #### Filters

        Parameters - `docking__gt`, `docking__gte`, `docking__lt`, `docking__lte`, `docking_location__id`, `flight_vehicle_chaser__id`, `space_station_target__id`


        Example - /docking_events/?space_station_target__id=6


        #### Search

        Fields searched - `docking_location__name`, `flight_vehicle_chaser__spacecraft__name`, `flight_vehicle_target__spacecraft__name`, `payload_flight_chaser__payload__name`, `payload_flight_target__payload__name`, `space_station_chaser__name`, `space_station_target__name`


        Example - /docking_events/?search=Salyut


        #### Ordering

        Fields - `departure`, `docking`


        Example - /docking_events/?ordering=-docking


        #### Number of results

        Use `limit` to control the number of objects in the response (max 100)


        Example - /docking_events/?limit=2


        #### Format

        Switch to JSON output - /docking_events/?format=json


        #### Help

        Find all the FAQs and support links on the documentation homepage - ll.thespacedevs.com/docs'
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this docking event.
        required: true
      tags:
      - Docking
      security:
      - cookieAuth: []
      - Token_Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DockingEventEndpointDetailed'
          description: ''
components:
  schemas:
    SpacecraftFlightNormal:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        destination:
          type:
          - string
          - 'null'
          maxLength: 255
        mission_end:
          type:
          - string
          - 'null'
          format: date-time
        spacecraft:
          $ref: '#/components/schemas/SpacecraftNormal'
        launch:
          $ref: '#/components/schemas/LaunchNormal'
        landing:
          $ref: '#/components/schemas/Landing'
        duration:
          type: string
          readOnly: true
        turn_around_time:
          type: string
          readOnly: true
        response_mode:
          type: string
          readOnly: true
          default: normal
      required:
      - duration
      - id
      - landing
      - launch
      - response_mode
      - spacecraft
      - turn_around_time
      - url
    SpacecraftFlightMini:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        destination:
          type:
          - string
          - 'null'
          maxLength: 255
        mission_end:
          type:
          - string
          - 'null'
          format: date-time
        spacecraft:
          $ref: '#/components/schemas/SpacecraftNormal'
        launch:
          $ref: '#/components/schemas/LaunchMini'
        landing:
          $ref: '#/components/schemas/Landing'
        duration:
          type: string
          readOnly: true
        turn_around_time:
          type: string
          readOnly: true
      required:
      - duration
      - id
      - landing
      - launch
      - spacecraft
      - turn_around_time
      - url
    ImageLicense:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
        priority:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        link:
          type:
          - string
          - 'null'
          format: uri
          maxLength: 200
      required:
      - id
    SpaceStationMini:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 255
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
      required:
      - id
      - image
      - name
      - url
    SpacecraftConfigFamilyNormal:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: normal
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 200
        description:
          type: string
          maxLength: 2048
        manufacturer:
          allOf:
          - $ref: '#/components/schemas/AgencyMini'
        parent:
          allOf:
          - $ref: '#/components/schemas/SpacecraftConfigFamilyMini'
        maiden_flight:
          type:
          - string
          - 'null'
          format: date
          title: Maiden Flight Date
      required:
      - id
      - manufacturer
      - name
      - parent
      - response_mode
    ProgramMini:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: list
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 255
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
        info_url:
          type:
          - string
          - 'null'
          format: uri
          maxLength: 200
        wiki_url:
          type:
          - string
          - 'null'
          format: uri
          maxLength: 200
      required:
      - id
      - image
      - name
      - response_mode
      - url
    PayloadFlightNormal:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: normal
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        destination:
          type:
          - string
          - 'null'
          maxLength: 255
        amount:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        payload:
          $ref: '#/components/schemas/PayloadNormal'
        launch:
          $ref: '#/components/schemas/LaunchNormal'
        landing:
          $ref: '#/components/schemas/Landing'
      required:
      - id
      - landing
      - launch
      - payload
      - response_mode
      - url
    LauncherConfigFamilyMini:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: list
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 200
      required:
      - id
      - name
      - response_mode
    DockingEventEndpointNormal:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        docking:
          type: string
          format: date-time
        departure:
          type:
          - string
          - 'null'
          format: date-time
        docking_location:
          $ref: '#/components/schemas/DockingLocation'
        space_station_target:
          $ref: '#/components/schemas/SpaceStationMini'
        flight_vehicle_target:
          $ref: '#/components/schemas/SpacecraftFlightMini'
        payload_flight_target:
          $ref: '#/components/schemas/PayloadFlightMini'
        response_mode:
          type: string
          readOnly: true
          default: normal
        flight_vehicle_chaser:
          $ref: '#/components/schemas/SpacecraftFlightMini'
        space_station_chaser:
          $ref: '#/components/schemas/SpaceStationMini'
        payload_flight_chaser:
          $ref: '#/components/schemas/PayloadFlightMini'
      required:
      - docking
      - docking_location
      - flight_vehicle_chaser
      - flight_vehicle_target
      - id
      - payload_flight_chaser
      - payload_flight_target
      - response_mode
      - space_station_chaser
      - space_station_target
      - url
    AgencyMini:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: list
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 200
        abbrev:
          type: string
          maxLength: 255
        type:
          $ref: '#/components/schemas/AgencyType'
      required:
      - id
      - name
      - response_mode
      - type
      - url
    Country:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
        alpha_2_code:
          type: string
          description: ISO 3166-1 alpha-2
          maxLength: 2
        alpha_3_code:
          type: string
          description: ISO 3166-1 alpha-3
          maxLength: 3
        nationality_name:
          type: string
          description: e.g. French
          maxLength: 255
        nationality_name_composed:
          type: string
          description: e.g. Franco
          maxLength: 255
      required:
      - id
    SpacecraftNormal:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: normal
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 255
        serial_number:
          type:
          - string
          - 'null'
          maxLength: 255
        is_placeholder:
          type: boolean
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
          readOnly: true
        in_space:
          type: boolean
        time_in_space:
          type:
          - string
          - 'null'
          readOnly: true
        time_docked:
          type:
          - string
          - 'null'
          readOnly: true
        flights_count:
          type:
          - integer
          - 'null'
        mission_ends_count:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        status:
          $ref: '#/components/schemas/SpacecraftStatus'
        description:
          type: string
          maxLength: 2048
        spacecraft_config:
          $ref: '#/components/schemas/SpacecraftConfigNormal'
        fastest_turnaround:
          type:
          - string
          - 'null'
          readOnly: true
      required:
      - description
      - fastest_turnaround
      - flights_count
      - id
      - image
      - name
      - response_mode
      - spacecraft_config
      - status
      - time_docked
      - time_in_space
      - url
    DockingLocation:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
        spacestation:
          $ref: '#/components/schemas/SpaceStationMini'
        spacecraft:
          $ref: '#/components/schemas/SpacecraftConfigNormal'
        payload:
          $ref: '#/components/schemas/PayloadMini'
      required:
      - id
      - name
      - payload
      - spacecraft
      - spacestation
    LaunchNormal:
      type: object
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 2048
        response_mode:
          type: string
          readOnly: true
          default: normal
        slug:
          type: string
          pattern: ^[-a-zA-Z0-9_]+$
        launch_designator:
          type:
          - string
          - 'null'
          maxLength: 255
        status:
          allOf:
          - $ref: '#/components/schemas/LaunchStatus'
        last_updated:
          type: string
          format: date-time
        net:
          type: string
          format: date-time
        net_precision:
          allOf:
          - $ref: '#/components/schemas/NetPrecision'
        window_end:
          type: string
          format: date-time
        window_start:
          type: string
          format: date-time
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
          readOnly: true
        infographic:
          type:
          - string
          - 'null'
          readOnly: true
        probability:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        weather_concerns:
          type:
          - string
          - 'null'
          maxLength: 255
        failreason:
          type:
          - string
          - 'null'
          maxLength: 2048
        hashtag:
          type:
          - string
          - 'null'
          maxLength: 2048
        launch_service_provider:
          $ref: '#/components/schemas/AgencyMini'
        rocket:
          allOf:
          - $ref: '#/components/schemas/RocketNormal'
        mission:
          allOf:
          - $ref: '#/components/schemas/Mission'
        pad:
          allOf:
          - $ref: '#/components/schemas/Pad'
        webcast_live:
          type: boolean
        program:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ProgramNormal'
        orbital_launch_attempt_count:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        location_launch_attempt_count:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        pad_launch_attempt_count:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        agency_launch_attempt_count:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        orbital_launch_attempt_count_year:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        location_launch_attempt_count_year:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        pad_launch_attempt_count_year:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        agency_launch_attempt_count_year:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
      required:
      - id
      - image
      - infographic
      - launch_service_provider
      - mission
      - net_precision
      - pad
      - program
      - response_mode
      - rocket
      - slug
      - status
      - url
    NetPrecision:
      type: object
      properties:
        id:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        name:
          type: string
          maxLength: 255
        abbrev:
          type: string
          maxLength: 255
        description:
          type: string
          maxLength: 2048
      required:
      - id
    SpacecraftConfigFamilyMini:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: list
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 200
      required:
      - id
      - name
      - response_mode
    ProgramType:
      type: object
      properties:
        id:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        name:
          type: string
          maxLength: 255
      required:
      - id
    VidURL:
      type: object
      properties:
        priority:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        source:
          type:
          - string
          - 'null'
          maxLength: 200
        publisher:
          type:
          - string
          - 'null'
          maxLength: 255
        title:
          type:
          - string
          - 'null'
          maxLength: 200
        description:
          type:
          - string
          - 'null'
          maxLength: 350
        feature_image:
          type:
          - string
          - 'null'
          format: uri
          maxLength: 200
        url:
          type: string
          format: uri
        type:
          allOf:
          - $ref: '#/components/schemas/VidURLType'
        language:
          allOf:
          - $ref: '#/components/schemas/Language'
        start_time:
          type:
          - string
          - 'null'
          format: date-time
        end_time:
          type:
          - string
          - 'null'
          format: date-time
        live:
          type: boolean
      required:
      - language
      - type
      - url
    CelestialBodyNormal:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: normal
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
        type:
          $ref: '#/components/schemas/CelestialBodyType'
        diameter:
          type:
          - number
          - 'null'
          format: double
          description: m
        mass:
          type:
          - number
          - 'null'
          format: double
          description: kg
        gravity:
          type:
          - number
          - 'null'
          format: double
          description: m/s^2
        length_of_day:
          type:
          - string
          - 'null'
        atmosphere:
          type: boolean
        image:
          $ref: '#/components/schemas/Image'
        description:
          type:
          - string
          - 'null'
        wiki_url:
          type:
          - string
          - 'null'
          format: uri
          maxLength: 200
      required:
      - id
      - image
      - name
      - response_mode
      - type
    SpacecraftConfigType:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
      required:
      - id
      - name
    PaginatedDockingLocationList:
      type: object
      required:
      - count
      - results
      properties:
        count:
          type: integer
          example: 123
        next:
          type:
          - string
          - 'null'
          format: uri
          example: http://api.example.org/accounts/?offset=400&limit=100
        previous:
          type:
          - string
          - 'null'
          format: uri
          example: http://api.example.org/accounts/?offset=200&limit=100
        results:
          type: array
          items:
            $ref: '#/components/schemas/DockingLocation'
    VidURLType:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
      required:
      - id
      - name
    SpacecraftConfigNormal:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: normal
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 200
        type:
          $ref: '#/components/schemas/SpacecraftConfigType'
        agency:
          $ref: '#/components/schemas/AgencyMini'
        family:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/SpacecraftConfigFamilyNormal'
        in_use:
          type: boolean
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
      required:
      - agency
      - family
      - id
      - image
      - name
      - response_mode
      - type
      - url
    AgencyNormal:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: normal
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 200
        abbrev:
          type: string
          maxLength: 255
        type:
          $ref: '#/components/schemas/AgencyType'
        featured:
          type: boolean
        country:
          type: array
          items:
            $ref: '#/components/schemas/Country'
        description:
          type:
          - string
          - 'null'
          maxLength: 2048
        administrator:
          type:
          - string
          - 'null'
          maxLength: 200
        founding_year:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        launchers:
          type: string
          maxLength: 500
        spacecraft:
          type: string
          maxLength: 500
        parent:
          type:
          - string
          - 'null'
          readOnly: true
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
        logo:
          allOf:
          - $ref: '#/components/schemas/Image'
        social_logo:
          allOf:
          - $ref: '#/components/schemas/Image'
      required:
      - country
      - id
      - image
      - logo
      - name
      - parent
      - response_mode
      - social_logo
      - type
      - url
    CelestialBodyDetailed:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: normal
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
        type:
          $ref: '#/components/schemas/CelestialBodyType'
        diameter:
          type:
          - number
          - 'null'
          format: double
          description: m
        mass:
          type:
          - number
          - 'null'
          format: double
          description: kg
        gravity:
          type:
          - number
          - 'null'
          format: double
          description: m/s^2
        length_of_day:
          type:
          - string
          - 'null'
        atmosphere:
          type: boolean
        image:
          $ref: '#/components/schemas/Image'
        description:
          type:
          - string
          - 'null'
        wiki_url:
          type:
          - string
          - 'null'
          format: uri
          maxLength: 200
        total_attempted_launches:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        successful_launches:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        failed_launches:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        total_attempted_landings:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        successful_landings:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        failed_landings:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
      required:
      - id
      - image
      - name
      - response_mode
      - type
    PaginatedPolymorphicDockingEventEndpointList:
      type: object
      required:
      - count
      - results
      properties:
        count:
          type: integer
          example: 123
        next:
          type:
          - string
          - 'null'
          format: uri
          example: http://api.example.org/accounts/?offset=400&limit=100
        previous:
          type:
          - string
          - 'null'
          format: uri
          example: http://api.example.org/accounts/?offset=200&limit=100
        results:
          type: array
          items:
            $ref: '#/components/schemas/PolymorphicDockingEventEndpoint'
    Location:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: normal
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 255
        celestial_body:
          $ref: '#/components/schemas/CelestialBodyDetailed'
        active:
          type: boolean
        country:
          allOf:
          - $ref: '#/components/schemas/Country'
        description:
          type:
          - string
          - 'null'
          maxLength: 2048
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
        map_image:
          type:
          - string
          - 'null'
          format: uri
        longitude:
          type:
          - number
          - 'null'
          format: double
        latitude:
          type:
          - number
          - 'null'
          format: double
        timezone_name:
          type: string
          maxLength: 255
        total_launch_count:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        total_landing_count:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
      required:
      - celestial_body
      - country
      - id
      - image
      - response_mode
      - url
    AgencyType:
      type: object
      properties:
        id:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        name:
          type: string
          maxLength: 255
      required:
      - id
    ImageVariant:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        type:
          $ref: '#/components/schemas/ImageVariantType'
        image_url:
          type: string
          format: uri
      required:
      - id
      - image_url
      - type
    Mission:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
        type:
          type: string
          readOnly: true
        description:
          type: string
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
        orbit:
          $ref: '#/components/schemas/Orbit'
        agencies:
          type: array
          items:
            $ref: '#/components/schemas/AgencyDetailed'
        info_urls:
          type: array
          items:
            $ref: '#/components/schemas/InfoURL'
        vid_urls:
          type: array
          items:
            $ref: '#/components/schemas/VidURL'
      required:
      - agencies
      - id
      - image
      - info_urls
      - name
      - orbit
      - type
      - vid_urls
    SocialMedia:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
        url:
          type:
          - string
          - 'null'
          format: uri
        logo:
          allOf:
          - $ref: '#/components/schemas/Image'
      required:
      - id
      - logo
      - url
    Orbit:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 50
        abbrev:
          type: string
          maxLength: 30
        celestial_body:
          $ref: '#/components/schemas/CelestialBodyMini'
      required:
      - abbrev
      - celestial_body
      - id
      - name
    LauncherConfigList:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: list
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 200
        families:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/LauncherConfigFamilyMini'
        full_name:
          type: string
          maxLength: 200
        variant:
          type: string
          maxLength: 200
      required:
      - families
      - id
      - name
      - response_mode
      - url
    PayloadFlightMini:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: list
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        destination:
          type:
          - string
          - 'null'
          maxLength: 255
        amount:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        payload:
          $ref: '#/components/schemas/PayloadMini'
        launch:
          $ref: '#/components/schemas/LaunchMini'
        landing:
          $ref: '#/components/schemas/Landing'
      required:
      - id
      - landing
      - launch
      - payload
      - response_mode
      - url
    PayloadMini:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: list
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 1048
        type:
          $ref: '#/components/schemas/PayloadType'
        manufacturer:
          $ref: '#/components/schemas/AgencyMini'
        operator:
          $ref: '#/components/schemas/AgencyMini'
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
      required:
      - id
      - image
      - manufacturer
      - operator
      - response_mode
      - type
    Landing:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        attempt:
          type: boolean
        success:
          type:
          - boolean
          - 'null'
        description:
          type: string
          maxLength: 2048
        downrange_distance:
          type:
          - number
          - 'null'
          format: double
          title: Downrange distance (km)
        landing_location:
          $ref: '#/components/schemas/LandingLocation'
        type:
          $ref: '#/components/schemas/LandingType'
      required:
      - id
      - landing_location
      - type
      - url
    DockingEventEndpointDetailed:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        docking:
          type: string
          format: date-time
        departure:
          type:
          - string
          - 'null'
          format: date-time
        docking_location:
          $ref: '#/components/schemas/DockingLocation'
        space_station_target:
          $ref: '#/components/schemas/SpaceStationMini'
        flight_vehicle_target:
          $ref: '#/components/schemas/SpacecraftFlightMini'
        payload_flight_target:
          $ref: '#/components/schemas/PayloadFlightMini'
        response_mode:
          type: string
          readOnly: true
          default: detailed
        flight_vehicle_chaser:
          $ref: '#/components/schemas/SpacecraftFlightNormal'
        space_station_chaser:
          $ref: '#/components/schemas/SpaceStationNormal'
        payload_flight_chaser:
          $ref: '#/components/schemas/PayloadFlightNormal'
      required:
      - docking
      - docking_location
      - flight_vehicle_chaser
      - flight_vehicle_target
      - id
      - payload_flight_chaser
      - payload_flight_target
      - response_mode
      - space_station_chaser
      - space_station_target
      - url
    LandingLocation:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
        active:
          type: boolean
        abbrev:
          type: string
          maxLength: 255
        description:
          type:
          - string
          - 'null'
          maxLength: 2048
        location:
          $ref: '#/components/schemas/LocationSerializerNoCelestialBody'
        longitude:
          type:
          - number
          - 'null'
          format: double
        latitude:
          type:
          - number
          - 'null'
          format: double
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
        successful_landings:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        attempted_landings:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        failed_landings:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        celestial_body:
          $ref: '#/components/schemas/CelestialBodyNormal'
      required:
      - celestial_body
      - id
      - image
      - location
    Image:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
        image_url:
          type: string
          format: uri
        thumbnail_url:
          type: string
          format: uri
        credit:
          type:
          - string
          - 'null'
          maxLength: 255
        license:
          $ref: '#/components/schemas/ImageLicense'
        single_use:
          type: boolean
        variants:
          type: array
          items:
            $ref: '#/components/schemas/ImageVariant'
      required:
      - id
      - image_url
      - license
      - name
      - thumbnail_url
      - variants
    ImageVariantType:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
      required:
      - id
    SocialMediaLink:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        social_media:
          $ref: '#/components/schemas/SocialMedia'
        url:
          type:
          - string
          - 'null'
          format: uri
      required:
      - id
      - social_media
      - url
    LandingType:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
        abbrev:
          type: string
          maxLength: 255
        description:
          type:
          - string
          - 'null'
          maxLength: 2048
      required:
      - id
    SpaceStationNormal:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 255
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
        status:
          $ref: '#/components/schemas/SpaceStationStatus'
        founded:
          type: string
          format: date
        deorbited:
          type:
          - string
          - 'null'
          format: date
        description:
          type: string
          maxLength: 2048
        orbit:
          type:
          - string
          - 'null'
          readOnly: true
        type:
          $ref: '#/components/schemas/SpaceStationType'
      required:
      - description
      - founded
      - id
      - image
      - name
      - orbit
      - status
      - type
      - url
    PayloadType:
      type: object
      properties:
        id:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        name:
          type: string
          maxLength: 255
      required:
      - id
    LaunchStatus:
      type: object
      properties:
        id:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        name:
          type: string
          readOnly: true
        abbrev:
          type: string
          maxLength: 255
        description:
          type: string
          maxLength: 2048
      required:
      - id
      - name
    AgencyDetailed:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: normal
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 200
        abbrev:
          type: string
          maxLength: 255
        type:
          $ref: '#/components/schemas/AgencyType'
        featured:
          type: boolean
        country:
          type: array
          items:
            $ref: '#/components/schemas/Country'
        description:
          type:
          - string
          - 'null'
          maxLength: 2048
        administrator:
          type:
          - string
          - 'null'
          maxLength: 200
        founding_year:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        launchers:
          type: string
          maxLength: 500
        spacecraft:
          type: string
          maxLength: 500
        parent:
          type:
          - string
          - 'null'
          readOnly: true
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
        logo:
          allOf:
          - $ref: '#/components/schemas/Image'
        social_logo:
          allOf:
          - $ref: '#/components/schemas/Image'
        total_launch_count:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        consecutive_successful_launches:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        successful_launches:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        failed_launches:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        pending_launches:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        consecutive_successful_landings:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        successful_landings:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        failed_landings:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        attempted_landings:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        successful_landings_spacecraft:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        failed_landings_spacecraft:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        attempted_landings_spacecraft:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        successful_landings_payload:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        failed_landings_payload:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        attempted_landings_payload:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        info_url:
          type:
          - string
          - 'null'
          format: uri
          maxLength: 200
        wiki_url:
          type:
          - string
          - 'null'
          format: uri
          maxLength: 200
        social_media_links:
          type: array
          items:
            $ref: '#/components/schemas/SocialMediaLink'
      required:
      - country
      - id
      - image
      - logo
      - name
      - parent
      - response_mode
      - social_logo
      - social_media_links
      - type
      - url
    LocationSerializerNoCelestialBody:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: normal
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 255
        active:
          type: boolean
        country:
          allOf:
          - $ref: '#/components/schemas/Country'
        description:
          type:
          - string
          - 'null'
          maxLength: 2048
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
        map_image:
          type:
          - string
          - 'null'
          format: uri
        longitude:
          type:
          - number
          - 'null'
          format: double
        latitude:
          type:
          - number
          - 'null'
          format: double
        timezone_name:
          type: string
          maxLength: 255
        total_launch_count:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        total_landing_count:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
      required:
      - country
      - id
      - image
      - response_mode
      - url
    RocketNormal:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        configuration:
          $ref: '#/components/schemas/LauncherConfigList'
      required:
      - configuration
      - id
    PayloadNormal:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: normal
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 1048
        type:
          $ref: '#/components/schemas/PayloadType'
        manufacturer:
          $ref: '#/components/schemas/AgencyNormal'
        operator:
          $ref: '#/components/schemas/AgencyNormal'
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
        wiki_link:
          type: string
          format: uri
          maxLength: 200
        info_link:
          type: string
          format: uri
          maxLength: 200
        program:
          type: array
          items:
            $ref: '#/components/schemas/ProgramMini'
        cost:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
          title: Cost (USD)
        mass:
          type:
          - number
          - 'null'
          format: double
          title: Mass (kg)
        description:
          type: string
          maxLength: 2048
      required:
      - id
      - image
      - manufacturer
      - operator
      - program
      - response_mode
      - type
    CelestialBodyType:
      type: object
      properties:
        id:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        name:
          type: string
          maxLength: 255
      required:
      - id
    InfoURLType:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
      required:
      - id
      - name
    SpaceStationType:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
      required:
      - id
      - name
    Pad:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        active:
          type: boolean
        agencies:
          type: array
          items:
            $ref: '#/components/schemas/AgencyNormal'
        name:
          type: string
          maxLength: 255
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
        description:
          type:
          - string
          - 'null'
          maxLength: 2048
        info_url:
          type:
          - string
          - 'null'
          format: uri
          maxLength: 200
        wiki_url:
          type:
          - string
          - 'null'
          format: uri
          maxLength: 200
        map_url:
          type:
          - string
          - 'null'
          format: uri
          maxLength: 200
        latitude:
          type:
          - number
          - 'null'
          format: double
        longitude:
          type:
          - number
          - 'null'
          format: double
        country:
          allOf:
          - $ref: '#/components/schemas/Country'
        map_image:
          type:
          - string
          - 'null'
          format: uri
        total_launch_count:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        orbital_launch_attempt_count:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        fastest_turnaround:
          type:
          - string
          - 'null'
          readOnly: true
        location:
          allOf:
          - $ref: '#/components/schemas/Location'
      required:
      - agencies
      - country
      - fastest_turnaround
      - id
      - image
      - location
      - url
    InfoURL:
      type: object
      properties:
        priority:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        source:
          type:
          - string
          - 'null'
          maxLength: 200
        title:
          type:
          - string
          - 'null'
          maxLength: 200
        description:
          type:
          - string
          - 'null'
          maxLength: 350
        feature_image:
          type:
          - string
          - 'null'
          format: uri
          maxLength: 200
        url:
          type: string
          format: uri
        type:
          allOf:
          - $ref: '#/components/schemas/InfoURLType'
        language:
          allOf:
          - $ref: '#/components/schemas/Language'
      required:
      - language
      - type
      - url
    MissionPatch:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 200
        priority:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        image_url:
          type: string
          format: uri
        agency:
          allOf:
          - $ref: '#/components/schemas/AgencyMini'
        response_mode:
          type: string
          readOnly: true
          default: normal
      required:
      - agency
      - id
      - image_url
      - name
      - response_mode
    Language:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
        code:
          type: string
          description: ISO 639-1 (two-letter) code
          maxLength: 255
      required:
      - code
      - id
      - name
    SpacecraftStatus:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
      required:
      - id
      - name
    LaunchMini:
      type: object
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 2048
      required:
      - id
      - url
    CelestialBodyMini:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: list
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
      required:
      - id
      - name
      - response_mode
    PolymorphicDockingEventEndpoint:
      oneOf:
      - $ref: '#/components/schemas/DockingEventEndpointNormal'
      - $ref: '#/components/schemas/DockingEventEndpointDetailed'
      discriminator:
        propertyName: response_mode
        mapping:
          normal: '#/components/schemas/DockingEventEndpointNormal'
          detailed: '#/components/schemas/DockingEventEndpointDetailed'
    ProgramNormal:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: normal
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 255
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
        info_url:
          type:
          - string
          - 'null'
          format: uri
          maxLength: 200
        wiki_url:
          type:
          - string
          - 'null'
          format: uri
          maxLength: 200
        description:
          type:
          - string
          - 'null'
          maxLength: 40000
        agencies:
          type: array
          items:
            $ref: '#/components/schemas/AgencyMini'
        start_date:
          type:
          - string
          - 'null'
          format: date-time
        end_date:
          type:
          - string
          - 'null'
          format: date-time
        mission_patches:
          type: array
          items:
            $ref: '#/components/schemas/MissionPatch'
        type:
          $ref: '#/components/schemas/ProgramType'
      required:
      - agencies
      - id
      - image
      - mission_patches
      - name
      - response_mode
      - type
      - url
    SpaceStationStatus:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
      required:
      - id
      - name
  securitySchemes:
    Token_Authentication:
      type: apiKey
      in: header
      name: Authorization
      description: "Token authentication uses a header of Authorization and the value with a required prefix \"Token\" followed by a space and then the apiKey. \n\n Example: `Authorization: Token 9944b09199c62bcf9418ad846dd0e4bbdfc6ee4b`"
    cookieAuth:
      type: apiKey
      in: cookie
      name: sessionid
