openapi: 3.2.0
info:
  title: TheSpaceDevs LL2 Events API
  version: v2.3.0
  description: Rocket launches, space events and crewed spaceflight. The Launch Library 2 API is the official successor of the popular Launch Library API. It keeps its core features whilst also including everything the broader Space Launch Now API had to offer. The result is a large database delivering a more complete experience for each rocket launch and ...
  license:
    name: Apache License 2.0
servers:
- url: https://ll.thespacedevs.com/
  description: Production API (� rate-limited)
- url: https://lldev.thespacedevs.com/
  description: Development API (stale and limited data, for development testing only)
tags:
- name: Events
paths:
  /2.3.0/events/:
    get:
      operationId: events_list
      summary: List Events
      description: '#### Modes

        Levels of detail in the response - `list`, `normal`, `detailed`


        Example - /events/?mode=list


        #### Filters

        Parameters - `agency__ids`, `date__gt`, `date__gt__lt`, `date__gte`, `date__lte`, `day`, `id`, `last_updated__gte`, `last_updated__lte`, `month`, `program`, `slug`, `type`, `type__ids`, `video_url`, `year`


        Example - /events/?type__ids=2,8


        #### Search

        Fields searched - `name`


        Example - /events/?search=Flyby


        #### Ordering

        Fields - `date`, `last_updated`


        Example - /events/?ordering=-last_updated


        #### Number of results

        Use `limit` to control the number of objects in the response (max 100)


        Example - /events/?limit=2


        #### Format

        Switch to JSON output - /events/?format=json


        #### Help

        Find all the FAQs and support links on the documentation homepage - ll.thespacedevs.com/docs'
      parameters:
      - in: query
        name: agency__ids
        schema:
          type: array
          items:
            type: integer
        description: Comma-separated agency IDs.
        explode: false
        style: form
      - in: query
        name: date__gt
        schema:
          type: string
          format: date-time
        description: Date is greater than
      - in: query
        name: date__gt__lt
        schema:
          type: string
          format: date-time
        description: Date is less than
      - in: query
        name: date__gte
        schema:
          type: string
          format: date-time
        description: Date is greater than or equal to
      - in: query
        name: date__lte
        schema:
          type: string
          format: date-time
        description: Date is less than or equal to
      - in: query
        name: day
        schema:
          type: array
          items:
            type: number
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: id
        schema:
          type: array
          items:
            type: integer
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: last_updated__gte
        schema:
          type: string
          format: date-time
        description: Last Update is greater than or equal to
      - in: query
        name: last_updated__lte
        schema:
          type: string
          format: date-time
        description: Last Update is less than or equal to
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - in: query
        name: mode
        schema:
          type: string
          enum:
          - detailed
          - list
          - normal
        description: Level of detail in the response.
      - in: query
        name: month
        schema:
          type: array
          items:
            type: number
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - name: ordering
        required: false
        in: query
        description: Which field to use when ordering the results.
        schema:
          type: string
      - in: query
        name: program
        schema:
          type: array
          items:
            type: integer
        explode: true
        style: form
      - name: search
        required: false
        in: query
        description: A search term.
        schema:
          type: string
      - in: query
        name: slug
        schema:
          type: string
      - in: query
        name: type
        schema:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
      - in: query
        name: type__ids
        schema:
          type: array
          items:
            type: integer
        description: Comma-separated event type IDs.
        explode: false
        style: form
      - in: query
        name: video_url
        schema:
          type: array
          items:
            type: string
        description: Comma-separated video URLs.
        explode: false
        style: form
      - in: query
        name: year
        schema:
          type: array
          items:
            type: number
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      tags:
      - Events
      security:
      - cookieAuth: []
      - Token_Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedPolymorphicEventsEndpointList'
          description: ''
  /2.3.0/events/{id}/:
    get:
      operationId: events_retrieve
      summary: Get Event
      description: '#### Modes

        Levels of detail in the response - `list`, `normal`, `detailed`


        Example - /events/?mode=list


        #### Filters

        Parameters - `agency__ids`, `date__gt`, `date__gt__lt`, `date__gte`, `date__lte`, `day`, `id`, `last_updated__gte`, `last_updated__lte`, `month`, `program`, `slug`, `type`, `type__ids`, `video_url`, `year`


        Example - /events/?type__ids=2,8


        #### Search

        Fields searched - `name`


        Example - /events/?search=Flyby


        #### Ordering

        Fields - `date`, `last_updated`


        Example - /events/?ordering=-last_updated


        #### Number of results

        Use `limit` to control the number of objects in the response (max 100)


        Example - /events/?limit=2


        #### Format

        Switch to JSON output - /events/?format=json


        #### Help

        Find all the FAQs and support links on the documentation homepage - ll.thespacedevs.com/docs'
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this Event.
        required: true
      tags:
      - Events
      security:
      - cookieAuth: []
      - Token_Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventEndpointDetailed'
          description: ''
  /2.3.0/events/previous/:
    get:
      operationId: events_previous_list
      summary: List Previous Events
      description: '#### Modes

        Levels of detail in the response - `list`, `normal`, `detailed`


        Example - /events/previous/?mode=list


        #### Filters

        Parameters - `agency__ids`, `date__gt`, `date__gt__lt`, `date__gte`, `date__lte`, `day`, `id`, `last_updated__gte`, `last_updated__lte`, `month`, `program`, `slug`, `type`, `type__ids`, `video_url`, `year`


        Example - /events/previous/?type__ids=2,8


        #### Search

        Fields searched - `name`


        Example - /events/previous/?search=Flyby


        #### Ordering

        Fields - `date`, `last_updated`


        Example - /events/previous/?ordering=-last_updated


        #### Number of results

        Use `limit` to control the number of objects in the response (max 100)


        Example - /events/previous/?limit=2


        #### Format

        Switch to JSON output - /events/previous/?format=json


        #### Help

        Find all the FAQs and support links on the documentation homepage - ll.thespacedevs.com/docs'
      parameters:
      - in: query
        name: agency__ids
        schema:
          type: array
          items:
            type: integer
        description: Comma-separated agency IDs.
        explode: false
        style: form
      - in: query
        name: date__gt
        schema:
          type: string
          format: date-time
        description: Date is greater than
      - in: query
        name: date__gt__lt
        schema:
          type: string
          format: date-time
        description: Date is less than
      - in: query
        name: date__gte
        schema:
          type: string
          format: date-time
        description: Date is greater than or equal to
      - in: query
        name: date__lte
        schema:
          type: string
          format: date-time
        description: Date is less than or equal to
      - in: query
        name: day
        schema:
          type: array
          items:
            type: number
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: id
        schema:
          type: array
          items:
            type: integer
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: last_updated__gte
        schema:
          type: string
          format: date-time
        description: Last Update is greater than or equal to
      - in: query
        name: last_updated__lte
        schema:
          type: string
          format: date-time
        description: Last Update is less than or equal to
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - in: query
        name: mode
        schema:
          type: string
          enum:
          - detailed
          - list
          - normal
        description: Level of detail in the response.
      - in: query
        name: month
        schema:
          type: array
          items:
            type: number
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - name: ordering
        required: false
        in: query
        description: Which field to use when ordering the results.
        schema:
          type: string
      - in: query
        name: program
        schema:
          type: array
          items:
            type: integer
        explode: true
        style: form
      - name: search
        required: false
        in: query
        description: A search term.
        schema:
          type: string
      - in: query
        name: slug
        schema:
          type: string
      - in: query
        name: type
        schema:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
      - in: query
        name: type__ids
        schema:
          type: array
          items:
            type: integer
        description: Comma-separated event type IDs.
        explode: false
        style: form
      - in: query
        name: video_url
        schema:
          type: array
          items:
            type: string
        description: Comma-separated video URLs.
        explode: false
        style: form
      - in: query
        name: year
        schema:
          type: array
          items:
            type: number
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      tags:
      - Events
      security:
      - cookieAuth: []
      - Token_Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedPolymorphicEventsEndpointList'
          description: ''
  /2.3.0/events/previous/{id}/:
    get:
      operationId: events_previous_retrieve
      summary: Get Previous Event
      description: '#### Modes

        Levels of detail in the response - `list`, `normal`, `detailed`


        Example - /events/previous/?mode=list


        #### Filters

        Parameters - `agency__ids`, `date__gt`, `date__gt__lt`, `date__gte`, `date__lte`, `day`, `id`, `last_updated__gte`, `last_updated__lte`, `month`, `program`, `slug`, `type`, `type__ids`, `video_url`, `year`


        Example - /events/previous/?type__ids=2,8


        #### Search

        Fields searched - `name`


        Example - /events/previous/?search=Flyby


        #### Ordering

        Fields - `date`, `last_updated`


        Example - /events/previous/?ordering=-last_updated


        #### Number of results

        Use `limit` to control the number of objects in the response (max 100)


        Example - /events/previous/?limit=2


        #### Format

        Switch to JSON output - /events/previous/?format=json


        #### Help

        Find all the FAQs and support links on the documentation homepage - ll.thespacedevs.com/docs'
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this Event.
        required: true
      tags:
      - Events
      security:
      - cookieAuth: []
      - Token_Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventEndpointDetailed'
          description: ''
  /2.3.0/events/upcoming/:
    get:
      operationId: events_upcoming_list
      summary: List Upcoming Events
      description: '#### Modes

        Levels of detail in the response - `list`, `normal`, `detailed`


        Example - /events/upcoming/?mode=list


        #### Filters

        Parameters - `agency__ids`, `date__gt`, `date__gt__lt`, `date__gte`, `date__lte`, `day`, `hide_recent_previous`, `id`, `last_updated__gte`, `last_updated__lte`, `month`, `program`, `slug`, `type`, `type__ids`, `video_url`, `year`


        Example - /events/upcoming/?type__ids=2,8


        #### Search

        Fields searched - `name`


        Example - /events/upcoming/?search=Flyby


        #### Ordering

        Fields - `date`, `last_updated`


        Example - /events/upcoming/?ordering=-last_updated


        #### Number of results

        Use `limit` to control the number of objects in the response (max 100)


        Example - /events/upcoming/?limit=2


        #### Format

        Switch to JSON output - /events/upcoming/?format=json


        #### Help

        Find all the FAQs and support links on the documentation homepage - ll.thespacedevs.com/docs'
      parameters:
      - in: query
        name: agency__ids
        schema:
          type: array
          items:
            type: integer
        description: Comma-separated agency IDs.
        explode: false
        style: form
      - in: query
        name: date__gt
        schema:
          type: string
          format: date-time
        description: Date is greater than
      - in: query
        name: date__gt__lt
        schema:
          type: string
          format: date-time
        description: Date is less than
      - in: query
        name: date__gte
        schema:
          type: string
          format: date-time
        description: Date is greater than or equal to
      - in: query
        name: date__lte
        schema:
          type: string
          format: date-time
        description: Date is less than or equal to
      - in: query
        name: day
        schema:
          type: array
          items:
            type: number
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: hide_recent_previous
        schema:
          type: boolean
        description: Hide events from the past 24 hours, which are included by default for convenience.
      - in: query
        name: id
        schema:
          type: array
          items:
            type: integer
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: last_updated__gte
        schema:
          type: string
          format: date-time
        description: Last Update is greater than or equal to
      - in: query
        name: last_updated__lte
        schema:
          type: string
          format: date-time
        description: Last Update is less than or equal to
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - in: query
        name: mode
        schema:
          type: string
          enum:
          - detailed
          - list
          - normal
        description: Level of detail in the response.
      - in: query
        name: month
        schema:
          type: array
          items:
            type: number
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - name: ordering
        required: false
        in: query
        description: Which field to use when ordering the results.
        schema:
          type: string
      - in: query
        name: program
        schema:
          type: array
          items:
            type: integer
        explode: true
        style: form
      - name: search
        required: false
        in: query
        description: A search term.
        schema:
          type: string
      - in: query
        name: slug
        schema:
          type: string
      - in: query
        name: type
        schema:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
      - in: query
        name: type__ids
        schema:
          type: array
          items:
            type: integer
        description: Comma-separated event type IDs.
        explode: false
        style: form
      - in: query
        name: video_url
        schema:
          type: array
          items:
            type: string
        description: Comma-separated video URLs.
        explode: false
        style: form
      - in: query
        name: year
        schema:
          type: array
          items:
            type: number
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      tags:
      - Events
      security:
      - cookieAuth: []
      - Token_Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedPolymorphicEventsEndpointList'
          description: ''
  /2.3.0/events/upcoming/{id}/:
    get:
      operationId: events_upcoming_retrieve
      summary: Get Upcoming Event
      description: '#### Modes

        Levels of detail in the response - `list`, `normal`, `detailed`


        Example - /events/upcoming/?mode=list


        #### Filters

        Parameters - `agency__ids`, `date__gt`, `date__gt__lt`, `date__gte`, `date__lte`, `day`, `hide_recent_previous`, `id`, `last_updated__gte`, `last_updated__lte`, `month`, `program`, `slug`, `type`, `type__ids`, `video_url`, `year`


        Example - /events/upcoming/?type__ids=2,8


        #### Search

        Fields searched - `name`


        Example - /events/upcoming/?search=Flyby


        #### Ordering

        Fields - `date`, `last_updated`


        Example - /events/upcoming/?ordering=-last_updated


        #### Number of results

        Use `limit` to control the number of objects in the response (max 100)


        Example - /events/upcoming/?limit=2


        #### Format

        Switch to JSON output - /events/upcoming/?format=json


        #### Help

        Find all the FAQs and support links on the documentation homepage - ll.thespacedevs.com/docs'
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this Event.
        required: true
      tags:
      - Events
      security:
      - cookieAuth: []
      - Token_Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventEndpointDetailed'
          description: ''
components:
  schemas:
    AstronautNormal:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 255
        status:
          $ref: '#/components/schemas/AstronautStatus'
        agency:
          allOf:
          - $ref: '#/components/schemas/AgencyMini'
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
      required:
      - agency
      - id
      - image
      - name
      - status
      - url
    ExpeditionNormal:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 255
        start:
          type: string
          format: date-time
        end:
          type:
          - string
          - 'null'
          format: date-time
        response_mode:
          type: string
          readOnly: true
          default: normal
        spacestation:
          $ref: '#/components/schemas/SpaceStationNormal'
        mission_patches:
          type: array
          items:
            $ref: '#/components/schemas/MissionPatch'
        spacewalks:
          type: array
          items:
            $ref: '#/components/schemas/SpacewalkList'
      required:
      - id
      - mission_patches
      - name
      - response_mode
      - spacestation
      - spacewalks
      - start
      - url
    ImageLicense:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
        priority:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        link:
          type:
          - string
          - 'null'
          format: uri
          maxLength: 200
      required:
      - id
    SpacewalkList:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: list
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 255
        start:
          type:
          - string
          - 'null'
          format: date-time
        end:
          type:
          - string
          - 'null'
          format: date-time
        duration:
          type:
          - string
          - 'null'
          readOnly: true
        location:
          type:
          - string
          - 'null'
          maxLength: 255
      required:
      - duration
      - id
      - name
      - response_mode
      - url
    AgencyMini:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: list
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 200
        abbrev:
          type: string
          maxLength: 255
        type:
          $ref: '#/components/schemas/AgencyType'
      required:
      - id
      - name
      - response_mode
      - type
      - url
    NetPrecision:
      type: object
      properties:
        id:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        name:
          type: string
          maxLength: 255
        abbrev:
          type: string
          maxLength: 255
        description:
          type: string
          maxLength: 2048
      required:
      - id
    ProgramType:
      type: object
      properties:
        id:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        name:
          type: string
          maxLength: 255
      required:
      - id
    VidURL:
      type: object
      properties:
        priority:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        source:
          type:
          - string
          - 'null'
          maxLength: 200
        publisher:
          type:
          - string
          - 'null'
          maxLength: 255
        title:
          type:
          - string
          - 'null'
          maxLength: 200
        description:
          type:
          - string
          - 'null'
          maxLength: 350
        feature_image:
          type:
          - string
          - 'null'
          format: uri
          maxLength: 200
        url:
          type: string
          format: uri
        type:
          allOf:
          - $ref: '#/components/schemas/VidURLType'
        language:
          allOf:
          - $ref: '#/components/schemas/Language'
        start_time:
          type:
          - string
          - 'null'
          format: date-time
        end_time:
          type:
          - string
          - 'null'
          format: date-time
        live:
          type: boolean
      required:
      - language
      - type
      - url
    VidURLType:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
      required:
      - id
      - name
    EventType:
      type: object
      properties:
        id:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        name:
          type: string
          maxLength: 255
      required:
      - id
    AgencyType:
      type: object
      properties:
        id:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        name:
          type: string
          maxLength: 255
      required:
      - id
    ImageVariant:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        type:
          $ref: '#/components/schemas/ImageVariantType'
        image_url:
          type: string
          format: uri
      required:
      - id
      - image_url
      - type
    PolymorphicEventsEndpoint:
      oneOf:
      - $ref: '#/components/schemas/EventEndpointList'
      - $ref: '#/components/schemas/EventEndpointNormal'
      - $ref: '#/components/schemas/EventEndpointDetailed'
      discriminator:
        propertyName: response_mode
        mapping:
          list: '#/components/schemas/EventEndpointList'
          normal: '#/components/schemas/EventEndpointNormal'
          detailed: '#/components/schemas/EventEndpointDetailed'
    LaunchBasic:
      type: object
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 2048
        response_mode:
          type: string
          readOnly: true
          default: list
        slug:
          type: string
          pattern: ^[-a-zA-Z0-9_]+$
        launch_designator:
          type:
          - string
          - 'null'
          maxLength: 255
        status:
          allOf:
          - $ref: '#/components/schemas/LaunchStatus'
        last_updated:
          type: string
          format: date-time
        net:
          type: string
          format: date-time
        net_precision:
          allOf:
          - $ref: '#/components/schemas/NetPrecision'
        window_end:
          type: string
          format: date-time
        window_start:
          type: string
          format: date-time
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
          readOnly: true
        infographic:
          type:
          - string
          - 'null'
          readOnly: true
      required:
      - id
      - image
      - infographic
      - net_precision
      - response_mode
      - slug
      - status
      - url
    Image:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
        image_url:
          type: string
          format: uri
        thumbnail_url:
          type: string
          format: uri
        credit:
          type:
          - string
          - 'null'
          maxLength: 255
        license:
          $ref: '#/components/schemas/ImageLicense'
        single_use:
          type: boolean
        variants:
          type: array
          items:
            $ref: '#/components/schemas/ImageVariant'
      required:
      - id
      - image_url
      - license
      - name
      - thumbnail_url
      - variants
    PaginatedPolymorphicEventsEndpointList:
      type: object
      required:
      - count
      - results
      properties:
        count:
          type: integer
          example: 123
        next:
          type:
          - string
          - 'null'
          format: uri
          example: http://api.example.org/accounts/?offset=400&limit=100
        previous:
          type:
          - string
          - 'null'
          format: uri
          example: http://api.example.org/accounts/?offset=200&limit=100
        results:
          type: array
          items:
            $ref: '#/components/schemas/PolymorphicEventsEndpoint'
    ImageVariantType:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
      required:
      - id
    EventEndpointDetailed:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 200
        info_urls:
          type: array
          items:
            $ref: '#/components/schemas/InfoURL'
        vid_urls:
          type: array
          items:
            $ref: '#/components/schemas/VidURL'
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
        date:
          type:
          - string
          - 'null'
          format: date-time
        slug:
          type: string
          pattern: ^[-a-zA-Z0-9_]+$
        type:
          $ref: '#/components/schemas/EventType'
        description:
          type: string
          maxLength: 2048
        webcast_live:
          type: boolean
        location:
          type:
          - string
          - 'null'
          maxLength: 100
        date_precision:
          allOf:
          - $ref: '#/components/schemas/NetPrecision'
        response_mode:
          type: string
          readOnly: true
          default: detailed
        duration:
          type:
          - string
          - 'null'
          readOnly: true
        updates:
          type: array
          items:
            $ref: '#/components/schemas/Update'
        last_updated:
          type: string
          format: date-time
        agencies:
          type: array
          items:
            $ref: '#/components/schemas/AgencyMini'
        launches:
          type: array
          items:
            $ref: '#/components/schemas/LaunchBasic'
        expeditions:
          type: array
          items:
            $ref: '#/components/schemas/ExpeditionNormal'
        spacestations:
          type: array
          items:
            $ref: '#/components/schemas/SpaceStationNormal'
        program:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ProgramNormal'
        astronauts:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/AstronautNormal'
      required:
      - agencies
      - astronauts
      - date_precision
      - duration
      - expeditions
      - id
      - image
      - info_urls
      - launches
      - name
      - program
      - response_mode
      - slug
      - spacestations
      - type
      - updates
      - url
      - vid_urls
    EventEndpointNormal:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 200
        info_urls:
          type: array
          items:
            $ref: '#/components/schemas/InfoURL'
        vid_urls:
          type: array
          items:
            $ref: '#/components/schemas/VidURL'
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
        date:
          type:
          - string
          - 'null'
          format: date-time
        slug:
          type: string
          pattern: ^[-a-zA-Z0-9_]+$
        type:
          $ref: '#/components/schemas/EventType'
        description:
          type: string
          maxLength: 2048
        webcast_live:
          type: boolean
        location:
          type:
          - string
          - 'null'
          maxLength: 100
        date_precision:
          allOf:
          - $ref: '#/components/schemas/NetPrecision'
        response_mode:
          type: string
          readOnly: true
          default: normal
        duration:
          type:
          - string
          - 'null'
          readOnly: true
        updates:
          type: array
          items:
            $ref: '#/components/schemas/Update'
        last_updated:
          type: string
          format: date-time
      required:
      - date_precision
      - duration
      - id
      - image
      - info_urls
      - name
      - response_mode
      - slug
      - type
      - updates
      - url
      - vid_urls
    SpaceStationNormal:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 255
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
        status:
          $ref: '#/components/schemas/SpaceStationStatus'
        founded:
          type: string
          format: date
        deorbited:
          type:
          - string
          - 'null'
          format: date
        description:
          type: string
          maxLength: 2048
        orbit:
          type:
          - string
          - 'null'
          readOnly: true
        type:
          $ref: '#/components/schemas/SpaceStationType'
      required:
      - description
      - founded
      - id
      - image
      - name
      - orbit
      - status
      - type
      - url
    AstronautStatus:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
      required:
      - id
      - name
    LaunchStatus:
      type: object
      properties:
        id:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        name:
          type: string
          readOnly: true
        abbrev:
          type: string
          maxLength: 255
        description:
          type: string
          maxLength: 2048
      required:
      - id
      - name
    EventEndpointList:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 200
        info_urls:
          type: array
          items:
            $ref: '#/components/schemas/InfoURL'
        vid_urls:
          type: array
          items:
            $ref: '#/components/schemas/VidURL'
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
        date:
          type:
          - string
          - 'null'
          format: date-time
        slug:
          type: string
          pattern: ^[-a-zA-Z0-9_]+$
        type:
          $ref: '#/components/schemas/EventType'
        description:
          type: string
          maxLength: 2048
        webcast_live:
          type: boolean
        location:
          type:
          - string
          - 'null'
          maxLength: 100
        date_precision:
          allOf:
          - $ref: '#/components/schemas/NetPrecision'
        response_mode:
          type: string
          readOnly: true
          default: list
        duration:
          type:
          - string
          - 'null'
          readOnly: true
      required:
      - date_precision
      - duration
      - id
      - image
      - info_urls
      - name
      - response_mode
      - slug
      - type
      - url
      - vid_urls
    InfoURLType:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
      required:
      - id
      - name
    SpaceStationType:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
      required:
      - id
      - name
    InfoURL:
      type: object
      properties:
        priority:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        source:
          type:
          - string
          - 'null'
          maxLength: 200
        title:
          type:
          - string
          - 'null'
          maxLength: 200
        description:
          type:
          - string
          - 'null'
          maxLength: 350
        feature_image:
          type:
          - string
          - 'null'
          format: uri
          maxLength: 200
        url:
          type: string
          format: uri
        type:
          allOf:
          - $ref: '#/components/schemas/InfoURLType'
        language:
          allOf:
          - $ref: '#/components/schemas/Language'
      required:
      - language
      - type
      - url
    MissionPatch:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 200
        priority:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        image_url:
          type: string
          format: uri
        agency:
          allOf:
          - $ref: '#/components/schemas/AgencyMini'
        response_mode:
          type: string
          readOnly: true
          default: normal
      required:
      - agency
      - id
      - image_url
      - name
      - response_mode
    Language:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
        code:
          type: string
          description: ISO 639-1 (two-letter) code
          maxLength: 255
      required:
      - code
      - id
      - name
    ProgramNormal:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: normal
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 255
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
        info_url:
          type:
          - string
          - 'null'
          format: uri
          maxLength: 200
        wiki_url:
          type:
          - string
          - 'null'
          format: uri
          maxLength: 200
        description:
          type:
          - string
          - 'null'
          maxLength: 40000
        agencies:
          type: array
          items:
            $ref: '#/components/schemas/AgencyMini'
        start_date:
          type:
          - string
          - 'null'
          format: date-time
        end_date:
          type:
          - string
          - 'null'
          format: date-time
        mission_patches:
          type: array
          items:
            $ref: '#/components/schemas/MissionPatch'
        type:
          $ref: '#/components/schemas/ProgramType'
      required:
      - agencies
      - id
      - image
      - mission_patches
      - name
      - response_mode
      - type
      - url
    Update:
      type: object
      properties:
        id:
          type: integer
        profile_image:
          type:
          - string
          - 'null'
          readOnly: true
        comment:
          type:
          - string
          - 'null'
          maxLength: 40000
        info_url:
          type:
          - string
          - 'null'
          format: uri
          maxLength: 200
        created_by:
          type:
          - string
          - 'null'
          readOnly: true
        created_on:
          type: string
          format: date-time
      required:
      - created_by
      - id
      - profile_image
    SpaceStationStatus:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
      required:
      - id
      - name
  securitySchemes:
    Token_Authentication:
      type: apiKey
      in: header
      name: Authorization
      description: "Token authentication uses a header of Authorization and the value with a required prefix \"Token\" followed by a space and then the apiKey. \n\n Example: `Authorization: Token 9944b09199c62bcf9418ad846dd0e4bbdfc6ee4b`"
    cookieAuth:
      type: apiKey
      in: cookie
      name: sessionid
