openapi: 3.2.0
info:
  title: TheSpaceDevs LL2 Patches API
  version: v2.3.0
  description: Rocket launches, space events and crewed spaceflight. The Launch Library 2 API is the official successor of the popular Launch Library API. It keeps its core features whilst also including everything the broader Space Launch Now API had to offer. The result is a large database delivering a more complete experience for each rocket launch and ...
  license:
    name: Apache License 2.0
servers:
- url: https://ll.thespacedevs.com/
  description: Production API (� rate-limited)
- url: https://lldev.thespacedevs.com/
  description: Development API (stale and limited data, for development testing only)
tags:
- name: Patches
paths:
  /2.3.0/mission_patches/:
    get:
      operationId: mission_patches_list
      summary: List Mission Patches
      description: '#### Modes

        Levels of detail in the response - `normal`, `detailed`


        Example - /mission_patches/?mode=detailed


        #### Filters

        Parameters - `agency__id`, `agency__name`, `agency__name__contains`, `id`, `ids`, `name`, `name__contains`


        Example - /mission_patches/?agency__id=147


        #### Search

        Fields searched - `agency__name`, `name`


        Example - /mission_patches/?search=Ariane


        #### Ordering

        Fields - `agency__name`, `id`, `name`, `priority`


        Example - /mission_patches/?ordering=priority


        #### Number of results

        Use `limit` to control the number of objects in the response (max 100)


        Example - /mission_patches/?limit=2


        #### Format

        Switch to JSON output - /mission_patches/?format=json


        #### Help

        Find all the FAQs and support links on the documentation homepage - ll.thespacedevs.com/docs'
      parameters:
      - in: query
        name: agency__id
        schema:
          type: integer
      - in: query
        name: agency__name
        schema:
          type: string
      - in: query
        name: agency__name__contains
        schema:
          type: string
      - in: query
        name: id
        schema:
          type: integer
      - in: query
        name: ids
        schema:
          type: array
          items:
            type: integer
        description: Comma-separated mission patch IDs.
        explode: false
        style: form
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - in: query
        name: mode
        schema:
          type: string
          enum:
          - detailed
          - normal
        description: Level of detail in the response.
      - in: query
        name: name
        schema:
          type: string
      - in: query
        name: name__contains
        schema:
          type: string
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - name: ordering
        required: false
        in: query
        description: Which field to use when ordering the results.
        schema:
          type: string
      - name: search
        required: false
        in: query
        description: A search term.
        schema:
          type: string
      tags:
      - Patches
      security:
      - cookieAuth: []
      - Token_Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedPolymorphicMissionPatchEndpointList'
          description: ''
  /2.3.0/mission_patches/{id}/:
    get:
      operationId: mission_patches_retrieve
      summary: Get Mission Patch
      description: '#### Modes

        Levels of detail in the response - `normal`, `detailed`


        Example - /mission_patches/?mode=detailed


        #### Filters

        Parameters - `agency__id`, `agency__name`, `agency__name__contains`, `id`, `ids`, `name`, `name__contains`


        Example - /mission_patches/?agency__id=147


        #### Search

        Fields searched - `agency__name`, `name`


        Example - /mission_patches/?search=Ariane


        #### Ordering

        Fields - `agency__name`, `id`, `name`, `priority`


        Example - /mission_patches/?ordering=priority


        #### Number of results

        Use `limit` to control the number of objects in the response (max 100)


        Example - /mission_patches/?limit=2


        #### Format

        Switch to JSON output - /mission_patches/?format=json


        #### Help

        Find all the FAQs and support links on the documentation homepage - ll.thespacedevs.com/docs'
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this Mission Patch.
        required: true
      tags:
      - Patches
      security:
      - cookieAuth: []
      - Token_Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MissionPatchDetailed'
          description: ''
components:
  schemas:
    ExpeditionNormal:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 255
        start:
          type: string
          format: date-time
        end:
          type:
          - string
          - 'null'
          format: date-time
        response_mode:
          type: string
          readOnly: true
          default: normal
        spacestation:
          $ref: '#/components/schemas/SpaceStationNormal'
        mission_patches:
          type: array
          items:
            $ref: '#/components/schemas/MissionPatch'
        spacewalks:
          type: array
          items:
            $ref: '#/components/schemas/SpacewalkList'
      required:
      - id
      - mission_patches
      - name
      - response_mode
      - spacestation
      - spacewalks
      - start
      - url
    ImageLicense:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
        priority:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        link:
          type:
          - string
          - 'null'
          format: uri
          maxLength: 200
      required:
      - id
    LauncherConfigFamilyMini:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: list
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 200
      required:
      - id
      - name
      - response_mode
    SpacewalkList:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: list
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 255
        start:
          type:
          - string
          - 'null'
          format: date-time
        end:
          type:
          - string
          - 'null'
          format: date-time
        duration:
          type:
          - string
          - 'null'
          readOnly: true
        location:
          type:
          - string
          - 'null'
          maxLength: 255
      required:
      - duration
      - id
      - name
      - response_mode
      - url
    AgencyMini:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: list
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 200
        abbrev:
          type: string
          maxLength: 255
        type:
          $ref: '#/components/schemas/AgencyType'
      required:
      - id
      - name
      - response_mode
      - type
      - url
    Country:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
        alpha_2_code:
          type: string
          description: ISO 3166-1 alpha-2
          maxLength: 2
        alpha_3_code:
          type: string
          description: ISO 3166-1 alpha-3
          maxLength: 3
        nationality_name:
          type: string
          description: e.g. French
          maxLength: 255
        nationality_name_composed:
          type: string
          description: e.g. Franco
          maxLength: 255
      required:
      - id
    LaunchNormal:
      type: object
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 2048
        response_mode:
          type: string
          readOnly: true
          default: normal
        slug:
          type: string
          pattern: ^[-a-zA-Z0-9_]+$
        launch_designator:
          type:
          - string
          - 'null'
          maxLength: 255
        status:
          allOf:
          - $ref: '#/components/schemas/LaunchStatus'
        last_updated:
          type: string
          format: date-time
        net:
          type: string
          format: date-time
        net_precision:
          allOf:
          - $ref: '#/components/schemas/NetPrecision'
        window_end:
          type: string
          format: date-time
        window_start:
          type: string
          format: date-time
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
          readOnly: true
        infographic:
          type:
          - string
          - 'null'
          readOnly: true
        probability:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        weather_concerns:
          type:
          - string
          - 'null'
          maxLength: 255
        failreason:
          type:
          - string
          - 'null'
          maxLength: 2048
        hashtag:
          type:
          - string
          - 'null'
          maxLength: 2048
        launch_service_provider:
          $ref: '#/components/schemas/AgencyMini'
        rocket:
          allOf:
          - $ref: '#/components/schemas/RocketNormal'
        mission:
          allOf:
          - $ref: '#/components/schemas/Mission'
        pad:
          allOf:
          - $ref: '#/components/schemas/Pad'
        webcast_live:
          type: boolean
        program:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ProgramNormal'
        orbital_launch_attempt_count:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        location_launch_attempt_count:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        pad_launch_attempt_count:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        agency_launch_attempt_count:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        orbital_launch_attempt_count_year:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        location_launch_attempt_count_year:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        pad_launch_attempt_count_year:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        agency_launch_attempt_count_year:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
      required:
      - id
      - image
      - infographic
      - launch_service_provider
      - mission
      - net_precision
      - pad
      - program
      - response_mode
      - rocket
      - slug
      - status
      - url
    NetPrecision:
      type: object
      properties:
        id:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        name:
          type: string
          maxLength: 255
        abbrev:
          type: string
          maxLength: 255
        description:
          type: string
          maxLength: 2048
      required:
      - id
    ProgramType:
      type: object
      properties:
        id:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        name:
          type: string
          maxLength: 255
      required:
      - id
    VidURL:
      type: object
      properties:
        priority:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        source:
          type:
          - string
          - 'null'
          maxLength: 200
        publisher:
          type:
          - string
          - 'null'
          maxLength: 255
        title:
          type:
          - string
          - 'null'
          maxLength: 200
        description:
          type:
          - string
          - 'null'
          maxLength: 350
        feature_image:
          type:
          - string
          - 'null'
          format: uri
          maxLength: 200
        url:
          type: string
          format: uri
        type:
          allOf:
          - $ref: '#/components/schemas/VidURLType'
        language:
          allOf:
          - $ref: '#/components/schemas/Language'
        start_time:
          type:
          - string
          - 'null'
          format: date-time
        end_time:
          type:
          - string
          - 'null'
          format: date-time
        live:
          type: boolean
      required:
      - language
      - type
      - url
    PaginatedPolymorphicMissionPatchEndpointList:
      type: object
      required:
      - count
      - results
      properties:
        count:
          type: integer
          example: 123
        next:
          type:
          - string
          - 'null'
          format: uri
          example: http://api.example.org/accounts/?offset=400&limit=100
        previous:
          type:
          - string
          - 'null'
          format: uri
          example: http://api.example.org/accounts/?offset=200&limit=100
        results:
          type: array
          items:
            $ref: '#/components/schemas/PolymorphicMissionPatchEndpoint'
    VidURLType:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
      required:
      - id
      - name
    AgencyNormal:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: normal
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 200
        abbrev:
          type: string
          maxLength: 255
        type:
          $ref: '#/components/schemas/AgencyType'
        featured:
          type: boolean
        country:
          type: array
          items:
            $ref: '#/components/schemas/Country'
        description:
          type:
          - string
          - 'null'
          maxLength: 2048
        administrator:
          type:
          - string
          - 'null'
          maxLength: 200
        founding_year:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        launchers:
          type: string
          maxLength: 500
        spacecraft:
          type: string
          maxLength: 500
        parent:
          type:
          - string
          - 'null'
          readOnly: true
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
        logo:
          allOf:
          - $ref: '#/components/schemas/Image'
        social_logo:
          allOf:
          - $ref: '#/components/schemas/Image'
      required:
      - country
      - id
      - image
      - logo
      - name
      - parent
      - response_mode
      - social_logo
      - type
      - url
    CelestialBodyDetailed:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: normal
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
        type:
          $ref: '#/components/schemas/CelestialBodyType'
        diameter:
          type:
          - number
          - 'null'
          format: double
          description: m
        mass:
          type:
          - number
          - 'null'
          format: double
          description: kg
        gravity:
          type:
          - number
          - 'null'
          format: double
          description: m/s^2
        length_of_day:
          type:
          - string
          - 'null'
        atmosphere:
          type: boolean
        image:
          $ref: '#/components/schemas/Image'
        description:
          type:
          - string
          - 'null'
        wiki_url:
          type:
          - string
          - 'null'
          format: uri
          maxLength: 200
        total_attempted_launches:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        successful_launches:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        failed_launches:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        total_attempted_landings:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        successful_landings:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        failed_landings:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
      required:
      - id
      - image
      - name
      - response_mode
      - type
    Location:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: normal
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 255
        celestial_body:
          $ref: '#/components/schemas/CelestialBodyDetailed'
        active:
          type: boolean
        country:
          allOf:
          - $ref: '#/components/schemas/Country'
        description:
          type:
          - string
          - 'null'
          maxLength: 2048
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
        map_image:
          type:
          - string
          - 'null'
          format: uri
        longitude:
          type:
          - number
          - 'null'
          format: double
        latitude:
          type:
          - number
          - 'null'
          format: double
        timezone_name:
          type: string
          maxLength: 255
        total_launch_count:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        total_landing_count:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
      required:
      - celestial_body
      - country
      - id
      - image
      - response_mode
      - url
    AgencyType:
      type: object
      properties:
        id:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        name:
          type: string
          maxLength: 255
      required:
      - id
    ImageVariant:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        type:
          $ref: '#/components/schemas/ImageVariantType'
        image_url:
          type: string
          format: uri
      required:
      - id
      - image_url
      - type
    Mission:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
        type:
          type: string
          readOnly: true
        description:
          type: string
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
        orbit:
          $ref: '#/components/schemas/Orbit'
        agencies:
          type: array
          items:
            $ref: '#/components/schemas/AgencyDetailed'
        info_urls:
          type: array
          items:
            $ref: '#/components/schemas/InfoURL'
        vid_urls:
          type: array
          items:
            $ref: '#/components/schemas/VidURL'
      required:
      - agencies
      - id
      - image
      - info_urls
      - name
      - orbit
      - type
      - vid_urls
    SocialMedia:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
        url:
          type:
          - string
          - 'null'
          format: uri
        logo:
          allOf:
          - $ref: '#/components/schemas/Image'
      required:
      - id
      - logo
      - url
    Orbit:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 50
        abbrev:
          type: string
          maxLength: 30
        celestial_body:
          $ref: '#/components/schemas/CelestialBodyMini'
      required:
      - abbrev
      - celestial_body
      - id
      - name
    LauncherConfigList:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: list
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 200
        families:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/LauncherConfigFamilyMini'
        full_name:
          type: string
          maxLength: 200
        variant:
          type: string
          maxLength: 200
      required:
      - families
      - id
      - name
      - response_mode
      - url
    Image:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
        image_url:
          type: string
          format: uri
        thumbnail_url:
          type: string
          format: uri
        credit:
          type:
          - string
          - 'null'
          maxLength: 255
        license:
          $ref: '#/components/schemas/ImageLicense'
        single_use:
          type: boolean
        variants:
          type: array
          items:
            $ref: '#/components/schemas/ImageVariant'
      required:
      - id
      - image_url
      - license
      - name
      - thumbnail_url
      - variants
    ImageVariantType:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
      required:
      - id
    SocialMediaLink:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        social_media:
          $ref: '#/components/schemas/SocialMedia'
        url:
          type:
          - string
          - 'null'
          format: uri
      required:
      - id
      - social_media
      - url
    SpaceStationNormal:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 255
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
        status:
          $ref: '#/components/schemas/SpaceStationStatus'
        founded:
          type: string
          format: date
        deorbited:
          type:
          - string
          - 'null'
          format: date
        description:
          type: string
          maxLength: 2048
        orbit:
          type:
          - string
          - 'null'
          readOnly: true
        type:
          $ref: '#/components/schemas/SpaceStationType'
      required:
      - description
      - founded
      - id
      - image
      - name
      - orbit
      - status
      - type
      - url
    PolymorphicMissionPatchEndpoint:
      oneOf:
      - $ref: '#/components/schemas/MissionPatch'
      - $ref: '#/components/schemas/MissionPatchDetailed'
      discriminator:
        propertyName: response_mode
        mapping:
          normal: '#/components/schemas/MissionPatch'
          detailed: '#/components/schemas/MissionPatchDetailed'
    LaunchStatus:
      type: object
      properties:
        id:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        name:
          type: string
          readOnly: true
        abbrev:
          type: string
          maxLength: 255
        description:
          type: string
          maxLength: 2048
      required:
      - id
      - name
    AgencyDetailed:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: normal
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 200
        abbrev:
          type: string
          maxLength: 255
        type:
          $ref: '#/components/schemas/AgencyType'
        featured:
          type: boolean
        country:
          type: array
          items:
            $ref: '#/components/schemas/Country'
        description:
          type:
          - string
          - 'null'
          maxLength: 2048
        administrator:
          type:
          - string
          - 'null'
          maxLength: 200
        founding_year:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        launchers:
          type: string
          maxLength: 500
        spacecraft:
          type: string
          maxLength: 500
        parent:
          type:
          - string
          - 'null'
          readOnly: true
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
        logo:
          allOf:
          - $ref: '#/components/schemas/Image'
        social_logo:
          allOf:
          - $ref: '#/components/schemas/Image'
        total_launch_count:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        consecutive_successful_launches:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        successful_launches:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        failed_launches:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        pending_launches:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        consecutive_successful_landings:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        successful_landings:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        failed_landings:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        attempted_landings:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        successful_landings_spacecraft:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        failed_landings_spacecraft:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        attempted_landings_spacecraft:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        successful_landings_payload:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        failed_landings_payload:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        attempted_landings_payload:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        info_url:
          type:
          - string
          - 'null'
          format: uri
          maxLength: 200
        wiki_url:
          type:
          - string
          - 'null'
          format: uri
          maxLength: 200
        social_media_links:
          type: array
          items:
            $ref: '#/components/schemas/SocialMediaLink'
      required:
      - country
      - id
      - image
      - logo
      - name
      - parent
      - response_mode
      - social_logo
      - social_media_links
      - type
      - url
    RocketNormal:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        configuration:
          $ref: '#/components/schemas/LauncherConfigList'
      required:
      - configuration
      - id
    CelestialBodyType:
      type: object
      properties:
        id:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        name:
          type: string
          maxLength: 255
      required:
      - id
    InfoURLType:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
      required:
      - id
      - name
    SpaceStationType:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
      required:
      - id
      - name
    Pad:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        active:
          type: boolean
        agencies:
          type: array
          items:
            $ref: '#/components/schemas/AgencyNormal'
        name:
          type: string
          maxLength: 255
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
        description:
          type:
          - string
          - 'null'
          maxLength: 2048
        info_url:
          type:
          - string
          - 'null'
          format: uri
          maxLength: 200
        wiki_url:
          type:
          - string
          - 'null'
          format: uri
          maxLength: 200
        map_url:
          type:
          - string
          - 'null'
          format: uri
          maxLength: 200
        latitude:
          type:
          - number
          - 'null'
          format: double
        longitude:
          type:
          - number
          - 'null'
          format: double
        country:
          allOf:
          - $ref: '#/components/schemas/Country'
        map_image:
          type:
          - string
          - 'null'
          format: uri
        total_launch_count:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        orbital_launch_attempt_count:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        fastest_turnaround:
          type:
          - string
          - 'null'
          readOnly: true
        location:
          allOf:
          - $ref: '#/components/schemas/Location'
      required:
      - agencies
      - country
      - fastest_turnaround
      - id
      - image
      - location
      - url
    InfoURL:
      type: object
      properties:
        priority:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        source:
          type:
          - string
          - 'null'
          maxLength: 200
        title:
          type:
          - string
          - 'null'
          maxLength: 200
        description:
          type:
          - string
          - 'null'
          maxLength: 350
        feature_image:
          type:
          - string
          - 'null'
          format: uri
          maxLength: 200
        url:
          type: string
          format: uri
        type:
          allOf:
          - $ref: '#/components/schemas/InfoURLType'
        language:
          allOf:
          - $ref: '#/components/schemas/Language'
      required:
      - language
      - type
      - url
    MissionPatch:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 200
        priority:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        image_url:
          type: string
          format: uri
        agency:
          allOf:
          - $ref: '#/components/schemas/AgencyMini'
        response_mode:
          type: string
          readOnly: true
          default: normal
      required:
      - agency
      - id
      - image_url
      - name
      - response_mode
    Language:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
        code:
          type: string
          description: ISO 639-1 (two-letter) code
          maxLength: 255
      required:
      - code
      - id
      - name
    CelestialBodyMini:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: list
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
      required:
      - id
      - name
      - response_mode
    ProgramNormal:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: normal
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 255
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
        info_url:
          type:
          - string
          - 'null'
          format: uri
          maxLength: 200
        wiki_url:
          type:
          - string
          - 'null'
          format: uri
          maxLength: 200
        description:
          type:
          - string
          - 'null'
          maxLength: 40000
        agencies:
          type: array
          items:
            $ref: '#/components/schemas/AgencyMini'
        start_date:
          type:
          - string
          - 'null'
          format: date-time
        end_date:
          type:
          - string
          - 'null'
          format: date-time
        mission_patches:
          type: array
          items:
            $ref: '#/components/schemas/MissionPatch'
        type:
          $ref: '#/components/schemas/ProgramType'
      required:
      - agencies
      - id
      - image
      - mission_patches
      - name
      - response_mode
      - type
      - url
    MissionPatchDetailed:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 200
        priority:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        image_url:
          type: string
          format: uri
        agency:
          allOf:
          - $ref: '#/components/schemas/AgencyDetailed'
        response_mode:
          type: string
          readOnly: true
          default: detailed
        launches:
          type: array
          items:
            $ref: '#/components/schemas/LaunchNormal'
        expeditions:
          type: array
          items:
            $ref: '#/components/schemas/ExpeditionNormal'
        program:
          type: array
          items:
            $ref: '#/components/schemas/ProgramNormal'
      required:
      - agency
      - expeditions
      - id
      - image_url
      - launches
      - name
      - program
      - response_mode
    SpaceStationStatus:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
      required:
      - id
      - name
  securitySchemes:
    Token_Authentication:
      type: apiKey
      in: header
      name: Authorization
      description: "Token authentication uses a header of Authorization and the value with a required prefix \"Token\" followed by a space and then the apiKey. \n\n Example: `Authorization: Token 9944b09199c62bcf9418ad846dd0e4bbdfc6ee4b`"
    cookieAuth:
      type: apiKey
      in: cookie
      name: sessionid
