openapi: 3.2.0
info:
  title: TheSpaceDevs LL2 Launches API
  version: v2.3.0
  description: Rocket launches, space events and crewed spaceflight. The Launch Library 2 API is the official successor of the popular Launch Library API. It keeps its core features whilst also including everything the broader Space Launch Now API had to offer. The result is a large database delivering a more complete experience for each rocket launch and ...
  license:
    name: Apache License 2.0
servers:
- url: https://ll.thespacedevs.com/
  description: Production API (� rate-limited)
- url: https://lldev.thespacedevs.com/
  description: Development API (stale and limited data, for development testing only)
tags:
- name: Launches
paths:
  /2.3.0/launches/:
    get:
      operationId: launches_list
      summary: List Launches
      description: '#### Modes

        Levels of detail in the response - `list`, `normal`, `detailed`


        Example - /launches/?mode=list


        #### Filters

        Parameters - `agency_launch_attempt_count`, `agency_launch_attempt_count__gt`, `agency_launch_attempt_count__gte`, `agency_launch_attempt_count__lt`, `agency_launch_attempt_count__lte`, `agency_launch_attempt_count_year`, `agency_launch_attempt_count_year__gt`, `agency_launch_attempt_count_year__gte`, `agency_launch_attempt_count_year__lt`, `agency_launch_attempt_count_year__lte`, `day`, `id`, `include_suborbital`, `is_crewed`, `last_updated__gte`, `last_updated__lte`, `launch_designator`, `launcher_config__id`, `location__ids`, `location_launch_attempt_count`, `location_launch_attempt_count__gt`, `location_launch_attempt_count__gte`, `location_launch_attempt_count__lt`, `location_launch_attempt_count__lte`, `location_launch_attempt_count_year`, `location_launch_attempt_count_year__gt`, `location_launch_attempt_count_year__gte`, `location_launch_attempt_count_year__lt`, `location_launch_attempt_count_year__lte`, `lsp__id`, `lsp__name`, `mission__orbit__celestial_body__id`, `mission__orbit__name`, `mission__orbit__name__icontains`, `month`, `name`, `net__gt`, `net__gte`, `net__lt`, `net__lte`, `orbital_launch_attempt_count`, `orbital_launch_attempt_count__gt`, `orbital_launch_attempt_count__gte`, `orbital_launch_attempt_count__lt`, `orbital_launch_attempt_count__lte`, `orbital_launch_attempt_count_year`, `orbital_launch_attempt_count_year__gt`, `orbital_launch_attempt_count_year__gte`, `orbital_launch_attempt_count_year__lt`, `orbital_launch_attempt_count_year__lte`, `pad`, `pad__location`, `pad__location__celestial_body__id`, `pad_launch_attempt_count`, `pad_launch_attempt_count__gt`, `pad_launch_attempt_count__gte`, `pad_launch_attempt_count__lt`, `pad_launch_attempt_count__lte`, `pad_launch_attempt_count_year`, `pad_launch_attempt_count_year__gt`, `pad_launch_attempt_count_year__gte`, `pad_launch_attempt_count_year__lt`, `pad_launch_attempt_count_year__lte`, `program`, `related_lsp__id`, `related_lsp__name`, `rocket__configuration__full_name`, `rocket__configuration__full_name__icontains`, `rocket__configuration__id`, `rocket__configuration__manufacturer__name`, `rocket__configuration__manufacturer__name__icontains`, `rocket__configuration__name`, `rocket__spacecraftflight__spacecraft__id`, `rocket__spacecraftflight__spacecraft__name`, `rocket__spacecraftflight__spacecraft__name__icontains`, `serial_number`, `slug`, `spacecraft_config__ids`, `status`, `status__ids`, `video_url`, `window_end__gt`, `window_end__gte`, `window_end__lt`, `window_end__lte`, `window_start__gt`, `window_start__gte`, `window_start__lt`, `window_start__lte`, `year`


        Example - /launches/?pad__location=13


        #### Search

        Fields searched - `launch_designator`, `launch_service_provider__name`, `mission__name`, `name`, `pad__location__name`, `pad__name`, `rocket__configuration__manufacturer__abbrev`, `rocket__configuration__manufacturer__name`, `rocket__configuration__name`, `rocket__spacecraftflight__spacecraft__name`


        Example - /launches/?search=Starlink


        #### Ordering

        Fields - `id`, `last_updated`, `name`, `net`


        Example - /launches/?ordering=-last_updated


        #### Number of results

        Use `limit` to control the number of objects in the response (max 100)


        Example - /launches/?limit=2


        #### Format

        Switch to JSON output - /launches/?format=json


        #### Help

        Find all the FAQs and support links on the documentation homepage - ll.thespacedevs.com/docs'
      parameters:
      - in: query
        name: agency_launch_attempt_count
        schema:
          type: integer
      - in: query
        name: agency_launch_attempt_count__gt
        schema:
          type: integer
      - in: query
        name: agency_launch_attempt_count__gte
        schema:
          type: integer
      - in: query
        name: agency_launch_attempt_count__lt
        schema:
          type: integer
      - in: query
        name: agency_launch_attempt_count__lte
        schema:
          type: integer
      - in: query
        name: agency_launch_attempt_count_year
        schema:
          type: integer
      - in: query
        name: agency_launch_attempt_count_year__gt
        schema:
          type: integer
      - in: query
        name: agency_launch_attempt_count_year__gte
        schema:
          type: integer
      - in: query
        name: agency_launch_attempt_count_year__lt
        schema:
          type: integer
      - in: query
        name: agency_launch_attempt_count_year__lte
        schema:
          type: integer
      - in: query
        name: day
        schema:
          type: array
          items:
            type: number
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: id
        schema:
          type: array
          items:
            type: string
            format: uuid
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: include_suborbital
        schema:
          type: boolean
      - in: query
        name: is_crewed
        schema:
          type: boolean
      - in: query
        name: last_updated__gte
        schema:
          type: string
          format: date-time
        description: Last Update is greater than or equal to
      - in: query
        name: last_updated__lte
        schema:
          type: string
          format: date-time
        description: Last Update is less than or equal to
      - in: query
        name: launch_designator
        schema:
          type: array
          items:
            type: string
        description: Comma-separated (COSPAR) international launch designators.
        explode: false
        style: form
      - in: query
        name: launcher_config__id
        schema:
          type: array
          items:
            type: integer
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - in: query
        name: location__ids
        schema:
          type: array
          items:
            type: integer
        description: Comma-separated location IDs.
        explode: false
        style: form
      - in: query
        name: location_launch_attempt_count
        schema:
          type: integer
      - in: query
        name: location_launch_attempt_count__gt
        schema:
          type: integer
      - in: query
        name: location_launch_attempt_count__gte
        schema:
          type: integer
      - in: query
        name: location_launch_attempt_count__lt
        schema:
          type: integer
      - in: query
        name: location_launch_attempt_count__lte
        schema:
          type: integer
      - in: query
        name: location_launch_attempt_count_year
        schema:
          type: integer
      - in: query
        name: location_launch_attempt_count_year__gt
        schema:
          type: integer
      - in: query
        name: location_launch_attempt_count_year__gte
        schema:
          type: integer
      - in: query
        name: location_launch_attempt_count_year__lt
        schema:
          type: integer
      - in: query
        name: location_launch_attempt_count_year__lte
        schema:
          type: integer
      - in: query
        name: lsp__id
        schema:
          type: array
          items:
            type: integer
        description: Comma-separated launch service provider (agency) IDs.
        explode: false
        style: form
      - in: query
        name: lsp__name
        schema:
          type: array
          items:
            type: string
        description: Comma-separated launch service provider names.
        explode: false
        style: form
      - in: query
        name: mission__orbit__celestial_body__id
        schema:
          type: integer
      - in: query
        name: mission__orbit__name
        schema:
          type: string
      - in: query
        name: mission__orbit__name__icontains
        schema:
          type: string
      - in: query
        name: mode
        schema:
          type: string
          enum:
          - detailed
          - list
          - normal
        description: Level of detail in the response.
      - in: query
        name: month
        schema:
          type: array
          items:
            type: number
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: name
        schema:
          type: string
      - in: query
        name: net__gt
        schema:
          type: string
          format: date-time
        description: NET is greater than
      - in: query
        name: net__gte
        schema:
          type: string
          format: date-time
        description: NET is greater than or equal to
      - in: query
        name: net__lt
        schema:
          type: string
          format: date-time
        description: NET is less than
      - in: query
        name: net__lte
        schema:
          type: string
          format: date-time
        description: NET is less than or equal to
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - in: query
        name: orbital_launch_attempt_count
        schema:
          type: integer
      - in: query
        name: orbital_launch_attempt_count__gt
        schema:
          type: integer
      - in: query
        name: orbital_launch_attempt_count__gte
        schema:
          type: integer
      - in: query
        name: orbital_launch_attempt_count__lt
        schema:
          type: integer
      - in: query
        name: orbital_launch_attempt_count__lte
        schema:
          type: integer
      - in: query
        name: orbital_launch_attempt_count_year
        schema:
          type: integer
      - in: query
        name: orbital_launch_attempt_count_year__gt
        schema:
          type: integer
      - in: query
        name: orbital_launch_attempt_count_year__gte
        schema:
          type: integer
      - in: query
        name: orbital_launch_attempt_count_year__lt
        schema:
          type: integer
      - in: query
        name: orbital_launch_attempt_count_year__lte
        schema:
          type: integer
      - name: ordering
        required: false
        in: query
        description: Which field to use when ordering the results.
        schema:
          type: string
      - in: query
        name: pad
        schema:
          type: integer
      - in: query
        name: pad__location
        schema:
          type: integer
      - in: query
        name: pad__location__celestial_body__id
        schema:
          type: integer
      - in: query
        name: pad_launch_attempt_count
        schema:
          type: integer
      - in: query
        name: pad_launch_attempt_count__gt
        schema:
          type: integer
      - in: query
        name: pad_launch_attempt_count__gte
        schema:
          type: integer
      - in: query
        name: pad_launch_attempt_count__lt
        schema:
          type: integer
      - in: query
        name: pad_launch_attempt_count__lte
        schema:
          type: integer
      - in: query
        name: pad_launch_attempt_count_year
        schema:
          type: integer
      - in: query
        name: pad_launch_attempt_count_year__gt
        schema:
          type: integer
      - in: query
        name: pad_launch_attempt_count_year__gte
        schema:
          type: integer
      - in: query
        name: pad_launch_attempt_count_year__lt
        schema:
          type: integer
      - in: query
        name: pad_launch_attempt_count_year__lte
        schema:
          type: integer
      - in: query
        name: program
        schema:
          type: array
          items:
            type: integer
        explode: true
        style: form
      - in: query
        name: related_lsp__id
        schema:
          type: array
          items:
            type: integer
        description: Comma-separated agency IDs related to the launch service provider.
        explode: false
        style: form
      - in: query
        name: related_lsp__name
        schema:
          type: array
          items:
            type: string
        description: Comma-separated agency names related to the launch service provider.
        explode: false
        style: form
      - in: query
        name: rocket__configuration__full_name
        schema:
          type: string
      - in: query
        name: rocket__configuration__full_name__icontains
        schema:
          type: string
      - in: query
        name: rocket__configuration__id
        schema:
          type: integer
      - in: query
        name: rocket__configuration__manufacturer__name
        schema:
          type: string
      - in: query
        name: rocket__configuration__manufacturer__name__icontains
        schema:
          type: string
      - in: query
        name: rocket__configuration__name
        schema:
          type: string
      - in: query
        name: rocket__spacecraftflight__spacecraft__id
        schema:
          type: integer
      - in: query
        name: rocket__spacecraftflight__spacecraft__name
        schema:
          type: string
      - in: query
        name: rocket__spacecraftflight__spacecraft__name__icontains
        schema:
          type: string
      - name: search
        required: false
        in: query
        description: A search term.
        schema:
          type: string
      - in: query
        name: serial_number
        schema:
          type: array
          items:
            type: string
        description: Comma-separated first stage booster serial numbers.
        explode: false
        style: form
      - in: query
        name: slug
        schema:
          type: string
      - in: query
        name: spacecraft_config__ids
        schema:
          type: array
          items:
            type: integer
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: status
        schema:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
      - in: query
        name: status__ids
        schema:
          type: array
          items:
            type: integer
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: video_url
        schema:
          type: array
          items:
            type: string
        description: Comma-separated video URLs.
        explode: false
        style: form
      - in: query
        name: window_end__gt
        schema:
          type: string
          format: date-time
        description: Window End is greater than
      - in: query
        name: window_end__gte
        schema:
          type: string
          format: date-time
        description: Window End is greater than or equal to
      - in: query
        name: window_end__lt
        schema:
          type: string
          format: date-time
        description: Window End is less than
      - in: query
        name: window_end__lte
        schema:
          type: string
          format: date-time
        description: Window End is less than or equal to
      - in: query
        name: window_start__gt
        schema:
          type: string
          format: date-time
        description: Window Start is greater than
      - in: query
        name: window_start__gte
        schema:
          type: string
          format: date-time
        description: Window Start is greater than or equal to
      - in: query
        name: window_start__lt
        schema:
          type: string
          format: date-time
        description: Window Start is less than
      - in: query
        name: window_start__lte
        schema:
          type: string
          format: date-time
        description: Window Start is less than or equal to
      - in: query
        name: year
        schema:
          type: array
          items:
            type: number
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      tags:
      - Launches
      security:
      - cookieAuth: []
      - Token_Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedPolymorphicLaunchEndpointList'
          description: ''
  /2.3.0/launches/{id}/:
    get:
      operationId: launches_retrieve
      summary: Get Launch
      description: '#### Modes

        Levels of detail in the response - `list`, `normal`, `detailed`


        Example - /launches/?mode=list


        #### Filters

        Parameters - `agency_launch_attempt_count`, `agency_launch_attempt_count__gt`, `agency_launch_attempt_count__gte`, `agency_launch_attempt_count__lt`, `agency_launch_attempt_count__lte`, `agency_launch_attempt_count_year`, `agency_launch_attempt_count_year__gt`, `agency_launch_attempt_count_year__gte`, `agency_launch_attempt_count_year__lt`, `agency_launch_attempt_count_year__lte`, `day`, `id`, `include_suborbital`, `is_crewed`, `last_updated__gte`, `last_updated__lte`, `launch_designator`, `launcher_config__id`, `location__ids`, `location_launch_attempt_count`, `location_launch_attempt_count__gt`, `location_launch_attempt_count__gte`, `location_launch_attempt_count__lt`, `location_launch_attempt_count__lte`, `location_launch_attempt_count_year`, `location_launch_attempt_count_year__gt`, `location_launch_attempt_count_year__gte`, `location_launch_attempt_count_year__lt`, `location_launch_attempt_count_year__lte`, `lsp__id`, `lsp__name`, `mission__orbit__celestial_body__id`, `mission__orbit__name`, `mission__orbit__name__icontains`, `month`, `name`, `net__gt`, `net__gte`, `net__lt`, `net__lte`, `orbital_launch_attempt_count`, `orbital_launch_attempt_count__gt`, `orbital_launch_attempt_count__gte`, `orbital_launch_attempt_count__lt`, `orbital_launch_attempt_count__lte`, `orbital_launch_attempt_count_year`, `orbital_launch_attempt_count_year__gt`, `orbital_launch_attempt_count_year__gte`, `orbital_launch_attempt_count_year__lt`, `orbital_launch_attempt_count_year__lte`, `pad`, `pad__location`, `pad__location__celestial_body__id`, `pad_launch_attempt_count`, `pad_launch_attempt_count__gt`, `pad_launch_attempt_count__gte`, `pad_launch_attempt_count__lt`, `pad_launch_attempt_count__lte`, `pad_launch_attempt_count_year`, `pad_launch_attempt_count_year__gt`, `pad_launch_attempt_count_year__gte`, `pad_launch_attempt_count_year__lt`, `pad_launch_attempt_count_year__lte`, `program`, `related_lsp__id`, `related_lsp__name`, `rocket__configuration__full_name`, `rocket__configuration__full_name__icontains`, `rocket__configuration__id`, `rocket__configuration__manufacturer__name`, `rocket__configuration__manufacturer__name__icontains`, `rocket__configuration__name`, `rocket__spacecraftflight__spacecraft__id`, `rocket__spacecraftflight__spacecraft__name`, `rocket__spacecraftflight__spacecraft__name__icontains`, `serial_number`, `slug`, `spacecraft_config__ids`, `status`, `status__ids`, `video_url`, `window_end__gt`, `window_end__gte`, `window_end__lt`, `window_end__lte`, `window_start__gt`, `window_start__gte`, `window_start__lt`, `window_start__lte`, `year`


        Example - /launches/?pad__location=13


        #### Search

        Fields searched - `launch_designator`, `launch_service_provider__name`, `mission__name`, `name`, `pad__location__name`, `pad__name`, `rocket__configuration__manufacturer__abbrev`, `rocket__configuration__manufacturer__name`, `rocket__configuration__name`, `rocket__spacecraftflight__spacecraft__name`


        Example - /launches/?search=Starlink


        #### Ordering

        Fields - `id`, `last_updated`, `name`, `net`


        Example - /launches/?ordering=-last_updated


        #### Number of results

        Use `limit` to control the number of objects in the response (max 100)


        Example - /launches/?limit=2


        #### Format

        Switch to JSON output - /launches/?format=json


        #### Help

        Find all the FAQs and support links on the documentation homepage - ll.thespacedevs.com/docs'
      parameters:
      - in: path
        name: id
        schema:
          type: string
          format: uuid
        description: A UUID string identifying this Launch.
        required: true
      tags:
      - Launches
      security:
      - cookieAuth: []
      - Token_Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LaunchDetailed'
          description: ''
  /2.3.0/launches/previous/:
    get:
      operationId: launches_previous_list
      summary: List Previous Launches
      description: '#### Modes

        Levels of detail in the response - `list`, `normal`, `detailed`


        Example - /launches/previous/?mode=list


        #### Filters

        Parameters - `agency_launch_attempt_count`, `agency_launch_attempt_count__gt`, `agency_launch_attempt_count__gte`, `agency_launch_attempt_count__lt`, `agency_launch_attempt_count__lte`, `agency_launch_attempt_count_year`, `agency_launch_attempt_count_year__gt`, `agency_launch_attempt_count_year__gte`, `agency_launch_attempt_count_year__lt`, `agency_launch_attempt_count_year__lte`, `day`, `id`, `include_suborbital`, `is_crewed`, `last_updated__gte`, `last_updated__lte`, `launch_designator`, `launcher_config__id`, `location__ids`, `location_launch_attempt_count`, `location_launch_attempt_count__gt`, `location_launch_attempt_count__gte`, `location_launch_attempt_count__lt`, `location_launch_attempt_count__lte`, `location_launch_attempt_count_year`, `location_launch_attempt_count_year__gt`, `location_launch_attempt_count_year__gte`, `location_launch_attempt_count_year__lt`, `location_launch_attempt_count_year__lte`, `lsp__id`, `lsp__name`, `mission__orbit__celestial_body__id`, `mission__orbit__name`, `mission__orbit__name__icontains`, `month`, `name`, `net__gt`, `net__gte`, `net__lt`, `net__lte`, `orbital_launch_attempt_count`, `orbital_launch_attempt_count__gt`, `orbital_launch_attempt_count__gte`, `orbital_launch_attempt_count__lt`, `orbital_launch_attempt_count__lte`, `orbital_launch_attempt_count_year`, `orbital_launch_attempt_count_year__gt`, `orbital_launch_attempt_count_year__gte`, `orbital_launch_attempt_count_year__lt`, `orbital_launch_attempt_count_year__lte`, `pad`, `pad__location`, `pad__location__celestial_body__id`, `pad_launch_attempt_count`, `pad_launch_attempt_count__gt`, `pad_launch_attempt_count__gte`, `pad_launch_attempt_count__lt`, `pad_launch_attempt_count__lte`, `pad_launch_attempt_count_year`, `pad_launch_attempt_count_year__gt`, `pad_launch_attempt_count_year__gte`, `pad_launch_attempt_count_year__lt`, `pad_launch_attempt_count_year__lte`, `program`, `related_lsp__id`, `related_lsp__name`, `rocket__configuration__full_name`, `rocket__configuration__full_name__icontains`, `rocket__configuration__id`, `rocket__configuration__manufacturer__name`, `rocket__configuration__manufacturer__name__icontains`, `rocket__configuration__name`, `rocket__spacecraftflight__spacecraft__id`, `rocket__spacecraftflight__spacecraft__name`, `rocket__spacecraftflight__spacecraft__name__icontains`, `serial_number`, `slug`, `spacecraft_config__ids`, `status`, `status__ids`, `video_url`, `window_end__gt`, `window_end__gte`, `window_end__lt`, `window_end__lte`, `window_start__gt`, `window_start__gte`, `window_start__lt`, `window_start__lte`, `year`


        Example - /launches/previous/?pad__location=13


        #### Search

        Fields searched - `launch_designator`, `launch_service_provider__name`, `mission__name`, `name`, `pad__location__name`, `pad__name`, `rocket__configuration__manufacturer__abbrev`, `rocket__configuration__manufacturer__name`, `rocket__configuration__name`, `rocket__spacecraftflight__spacecraft__name`


        Example - /launches/previous/?search=Starlink


        #### Ordering

        Fields - `id`, `last_updated`, `name`, `net`


        Example - /launches/previous/?ordering=-last_updated


        #### Number of results

        Use `limit` to control the number of objects in the response (max 100)


        Example - /launches/previous/?limit=2


        #### Format

        Switch to JSON output - /launches/previous/?format=json


        #### Help

        Find all the FAQs and support links on the documentation homepage - ll.thespacedevs.com/docs'
      parameters:
      - in: query
        name: agency_launch_attempt_count
        schema:
          type: integer
      - in: query
        name: agency_launch_attempt_count__gt
        schema:
          type: integer
      - in: query
        name: agency_launch_attempt_count__gte
        schema:
          type: integer
      - in: query
        name: agency_launch_attempt_count__lt
        schema:
          type: integer
      - in: query
        name: agency_launch_attempt_count__lte
        schema:
          type: integer
      - in: query
        name: agency_launch_attempt_count_year
        schema:
          type: integer
      - in: query
        name: agency_launch_attempt_count_year__gt
        schema:
          type: integer
      - in: query
        name: agency_launch_attempt_count_year__gte
        schema:
          type: integer
      - in: query
        name: agency_launch_attempt_count_year__lt
        schema:
          type: integer
      - in: query
        name: agency_launch_attempt_count_year__lte
        schema:
          type: integer
      - in: query
        name: day
        schema:
          type: array
          items:
            type: number
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: id
        schema:
          type: array
          items:
            type: string
            format: uuid
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: include_suborbital
        schema:
          type: boolean
      - in: query
        name: is_crewed
        schema:
          type: boolean
      - in: query
        name: last_updated__gte
        schema:
          type: string
          format: date-time
        description: Last Update is greater than or equal to
      - in: query
        name: last_updated__lte
        schema:
          type: string
          format: date-time
        description: Last Update is less than or equal to
      - in: query
        name: launch_designator
        schema:
          type: array
          items:
            type: string
        description: Comma-separated (COSPAR) international launch designators.
        explode: false
        style: form
      - in: query
        name: launcher_config__id
        schema:
          type: array
          items:
            type: integer
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - in: query
        name: location__ids
        schema:
          type: array
          items:
            type: integer
        description: Comma-separated location IDs.
        explode: false
        style: form
      - in: query
        name: location_launch_attempt_count
        schema:
          type: integer
      - in: query
        name: location_launch_attempt_count__gt
        schema:
          type: integer
      - in: query
        name: location_launch_attempt_count__gte
        schema:
          type: integer
      - in: query
        name: location_launch_attempt_count__lt
        schema:
          type: integer
      - in: query
        name: location_launch_attempt_count__lte
        schema:
          type: integer
      - in: query
        name: location_launch_attempt_count_year
        schema:
          type: integer
      - in: query
        name: location_launch_attempt_count_year__gt
        schema:
          type: integer
      - in: query
        name: location_launch_attempt_count_year__gte
        schema:
          type: integer
      - in: query
        name: location_launch_attempt_count_year__lt
        schema:
          type: integer
      - in: query
        name: location_launch_attempt_count_year__lte
        schema:
          type: integer
      - in: query
        name: lsp__id
        schema:
          type: array
          items:
            type: integer
        description: Comma-separated launch service provider (agency) IDs.
        explode: false
        style: form
      - in: query
        name: lsp__name
        schema:
          type: array
          items:
            type: string
        description: Comma-separated launch service provider names.
        explode: false
        style: form
      - in: query
        name: mission__orbit__celestial_body__id
        schema:
          type: integer
      - in: query
        name: mission__orbit__name
        schema:
          type: string
      - in: query
        name: mission__orbit__name__icontains
        schema:
          type: string
      - in: query
        name: mode
        schema:
          type: string
          enum:
          - detailed
          - list
          - normal
        description: Level of detail in the response.
      - in: query
        name: month
        schema:
          type: array
          items:
            type: number
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: name
        schema:
          type: string
      - in: query
        name: net__gt
        schema:
          type: string
          format: date-time
        description: NET is greater than
      - in: query
        name: net__gte
        schema:
          type: string
          format: date-time
        description: NET is greater than or equal to
      - in: query
        name: net__lt
        schema:
          type: string
          format: date-time
        description: NET is less than
      - in: query
        name: net__lte
        schema:
          type: string
          format: date-time
        description: NET is less than or equal to
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - in: query
        name: orbital_launch_attempt_count
        schema:
          type: integer
      - in: query
        name: orbital_launch_attempt_count__gt
        schema:
          type: integer
      - in: query
        name: orbital_launch_attempt_count__gte
        schema:
          type: integer
      - in: query
        name: orbital_launch_attempt_count__lt
        schema:
          type: integer
      - in: query
        name: orbital_launch_attempt_count__lte
        schema:
          type: integer
      - in: query
        name: orbital_launch_attempt_count_year
        schema:
          type: integer
      - in: query
        name: orbital_launch_attempt_count_year__gt
        schema:
          type: integer
      - in: query
        name: orbital_launch_attempt_count_year__gte
        schema:
          type: integer
      - in: query
        name: orbital_launch_attempt_count_year__lt
        schema:
          type: integer
      - in: query
        name: orbital_launch_attempt_count_year__lte
        schema:
          type: integer
      - name: ordering
        required: false
        in: query
        description: Which field to use when ordering the results.
        schema:
          type: string
      - in: query
        name: pad
        schema:
          type: integer
      - in: query
        name: pad__location
        schema:
          type: integer
      - in: query
        name: pad__location__celestial_body__id
        schema:
          type: integer
      - in: query
        name: pad_launch_attempt_count
        schema:
          type: integer
      - in: query
        name: pad_launch_attempt_count__gt
        schema:
          type: integer
      - in: query
        name: pad_launch_attempt_count__gte
        schema:
          type: integer
      - in: query
        name: pad_launch_attempt_count__lt
        schema:
          type: integer
      - in: query
        name: pad_launch_attempt_count__lte
        schema:
          type: integer
      - in: query
        name: pad_launch_attempt_count_year
        schema:
          type: integer
      - in: query
        name: pad_launch_attempt_count_year__gt
        schema:
          type: integer
      - in: query
        name: pad_launch_attempt_count_year__gte
        schema:
          type: integer
      - in: query
        name: pad_launch_attempt_count_year__lt
        schema:
          type: integer
      - in: query
        name: pad_launch_attempt_count_year__lte
        schema:
          type: integer
      - in: query
        name: program
        schema:
          type: array
          items:
            type: integer
        explode: true
        style: form
      - in: query
        name: related_lsp__id
        schema:
          type: array
          items:
            type: integer
        description: Comma-separated agency IDs related to the launch service provider.
        explode: false
        style: form
      - in: query
        name: related_lsp__name
        schema:
          type: array
          items:
            type: string
        description: Comma-separated agency names related to the launch service provider.
        explode: false
        style: form
      - in: query
        name: rocket__configuration__full_name
        schema:
          type: string
      - in: query
        name: rocket__configuration__full_name__icontains
        schema:
          type: string
      - in: query
        name: rocket__configuration__id
        schema:
          type: integer
      - in: query
        name: rocket__configuration__manufacturer__name
        schema:
          type: string
      - in: query
        name: rocket__configuration__manufacturer__name__icontains
        schema:
          type: string
      - in: query
        name: rocket__configuration__name
        schema:
          type: string
      - in: query
        name: rocket__spacecraftflight__spacecraft__id
        schema:
          type: integer
      - in: query
        name: rocket__spacecraftflight__spacecraft__name
        schema:
          type: string
      - in: query
        name: rocket__spacecraftflight__spacecraft__name__icontains
        schema:
          type: string
      - name: search
        required: false
        in: query
        description: A search term.
        schema:
          type: string
      - in: query
        name: serial_number
        schema:
          type: array
          items:
            type: string
        description: Comma-separated first stage booster serial numbers.
        explode: false
        style: form
      - in: query
        name: slug
        schema:
          type: string
      - in: query
        name: spacecraft_config__ids
        schema:
          type: array
          items:
            type: integer
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: status
        schema:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
      - in: query
        name: status__ids
        schema:
          type: array
          items:
            type: integer
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: video_url
        schema:
          type: array
          items:
            type: string
        description: Comma-separated video URLs.
        explode: false
        style: form
      - in: query
        name: window_end__gt
        schema:
          type: string
          format: date-time
        description: Window End is greater than
      - in: query
        name: window_end__gte
        schema:
          type: string
          format: date-time
        description: Window End is greater than or equal to
      - in: query
        name: window_end__lt
        schema:
          type: string
          format: date-time
        description: Window End is less than
      - in: query
        name: window_end__lte
        schema:
          type: string
          format: date-time
        description: Window End is less than or equal to
      - in: query
        name: window_start__gt
        schema:
          type: string
          format: date-time
        description: Window Start is greater than
      - in: query
        name: window_start__gte
        schema:
          type: string
          format: date-time
        description: Window Start is greater than or equal to
      - in: query
        name: window_start__lt
        schema:
          type: string
          format: date-time
        description: Window Start is less than
      - in: query
        name: window_start__lte
        schema:
          type: string
          format: date-time
        description: Window Start is less than or equal to
      - in: query
        name: year
        schema:
          type: array
          items:
            type: number
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      tags:
      - Launches
      security:
      - cookieAuth: []
      - Token_Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedPolymorphicLaunchEndpointList'
          description: ''
  /2.3.0/launches/previous/{id}/:
    get:
      operationId: launches_previous_retrieve
      summary: Get Previous Launch
      description: '#### Modes

        Levels of detail in the response - `list`, `normal`, `detailed`


        Example - /launches/previous/?mode=list


        #### Filters

        Parameters - `agency_launch_attempt_count`, `agency_launch_attempt_count__gt`, `agency_launch_attempt_count__gte`, `agency_launch_attempt_count__lt`, `agency_launch_attempt_count__lte`, `agency_launch_attempt_count_year`, `agency_launch_attempt_count_year__gt`, `agency_launch_attempt_count_year__gte`, `agency_launch_attempt_count_year__lt`, `agency_launch_attempt_count_year__lte`, `day`, `id`, `include_suborbital`, `is_crewed`, `last_updated__gte`, `last_updated__lte`, `launch_designator`, `launcher_config__id`, `location__ids`, `location_launch_attempt_count`, `location_launch_attempt_count__gt`, `location_launch_attempt_count__gte`, `location_launch_attempt_count__lt`, `location_launch_attempt_count__lte`, `location_launch_attempt_count_year`, `location_launch_attempt_count_year__gt`, `location_launch_attempt_count_year__gte`, `location_launch_attempt_count_year__lt`, `location_launch_attempt_count_year__lte`, `lsp__id`, `lsp__name`, `mission__orbit__celestial_body__id`, `mission__orbit__name`, `mission__orbit__name__icontains`, `month`, `name`, `net__gt`, `net__gte`, `net__lt`, `net__lte`, `orbital_launch_attempt_count`, `orbital_launch_attempt_count__gt`, `orbital_launch_attempt_count__gte`, `orbital_launch_attempt_count__lt`, `orbital_launch_attempt_count__lte`, `orbital_launch_attempt_count_year`, `orbital_launch_attempt_count_year__gt`, `orbital_launch_attempt_count_year__gte`, `orbital_launch_attempt_count_year__lt`, `orbital_launch_attempt_count_year__lte`, `pad`, `pad__location`, `pad__location__celestial_body__id`, `pad_launch_attempt_count`, `pad_launch_attempt_count__gt`, `pad_launch_attempt_count__gte`, `pad_launch_attempt_count__lt`, `pad_launch_attempt_count__lte`, `pad_launch_attempt_count_year`, `pad_launch_attempt_count_year__gt`, `pad_launch_attempt_count_year__gte`, `pad_launch_attempt_count_year__lt`, `pad_launch_attempt_count_year__lte`, `program`, `related_lsp__id`, `related_lsp__name`, `rocket__configuration__full_name`, `rocket__configuration__full_name__icontains`, `rocket__configuration__id`, `rocket__configuration__manufacturer__name`, `rocket__configuration__manufacturer__name__icontains`, `rocket__configuration__name`, `rocket__spacecraftflight__spacecraft__id`, `rocket__spacecraftflight__spacecraft__name`, `rocket__spacecraftflight__spacecraft__name__icontains`, `serial_number`, `slug`, `spacecraft_config__ids`, `status`, `status__ids`, `video_url`, `window_end__gt`, `window_end__gte`, `window_end__lt`, `window_end__lte`, `window_start__gt`, `window_start__gte`, `window_start__lt`, `window_start__lte`, `year`


        Example - /launches/previous/?pad__location=13


        #### Search

        Fields searched - `launch_designator`, `launch_service_provider__name`, `mission__name`, `name`, `pad__location__name`, `pad__name`, `rocket__configuration__manufacturer__abbrev`, `rocket__configuration__manufacturer__name`, `rocket__configuration__name`, `rocket__spacecraftflight__spacecraft__name`


        Example - /launches/previous/?search=Starlink


        #### Ordering

        Fields - `id`, `last_updated`, `name`, `net`


        Example - /launches/previous/?ordering=-last_updated


        #### Number of results

        Use `limit` to control the number of objects in the response (max 100)


        Example - /launches/previous/?limit=2


        #### Format

        Switch to JSON output - /launches/previous/?format=json


        #### Help

        Find all the FAQs and support links on the documentation homepage - ll.thespacedevs.com/docs'
      parameters:
      - in: path
        name: id
        schema:
          type: string
          format: uuid
        description: A UUID string identifying this Launch.
        required: true
      tags:
      - Launches
      security:
      - cookieAuth: []
      - Token_Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LaunchDetailed'
          description: ''
  /2.3.0/launches/upcoming/:
    get:
      operationId: launches_upcoming_list
      summary: List Upcoming Launches
      description: '#### Modes

        Levels of detail in the response - `list`, `normal`, `detailed`


        Example - /launches/upcoming/?mode=list


        #### Filters

        Parameters - `agency_launch_attempt_count`, `agency_launch_attempt_count__gt`, `agency_launch_attempt_count__gte`, `agency_launch_attempt_count__lt`, `agency_launch_attempt_count__lte`, `agency_launch_attempt_count_year`, `agency_launch_attempt_count_year__gt`, `agency_launch_attempt_count_year__gte`, `agency_launch_attempt_count_year__lt`, `agency_launch_attempt_count_year__lte`, `day`, `hide_recent_previous`, `id`, `include_suborbital`, `is_crewed`, `last_updated__gte`, `last_updated__lte`, `launch_designator`, `launcher_config__id`, `location__ids`, `location_launch_attempt_count`, `location_launch_attempt_count__gt`, `location_launch_attempt_count__gte`, `location_launch_attempt_count__lt`, `location_launch_attempt_count__lte`, `location_launch_attempt_count_year`, `location_launch_attempt_count_year__gt`, `location_launch_attempt_count_year__gte`, `location_launch_attempt_count_year__lt`, `location_launch_attempt_count_year__lte`, `lsp__id`, `lsp__name`, `mission__orbit__celestial_body__id`, `mission__orbit__name`, `mission__orbit__name__icontains`, `month`, `name`, `net__gt`, `net__gte`, `net__lt`, `net__lte`, `orbital_launch_attempt_count`, `orbital_launch_attempt_count__gt`, `orbital_launch_attempt_count__gte`, `orbital_launch_attempt_count__lt`, `orbital_launch_attempt_count__lte`, `orbital_launch_attempt_count_year`, `orbital_launch_attempt_count_year__gt`, `orbital_launch_attempt_count_year__gte`, `orbital_launch_attempt_count_year__lt`, `orbital_launch_attempt_count_year__lte`, `pad`, `pad__location`, `pad__location__celestial_body__id`, `pad_launch_attempt_count`, `pad_launch_attempt_count__gt`, `pad_launch_attempt_count__gte`, `pad_launch_attempt_count__lt`, `pad_launch_attempt_count__lte`, `pad_launch_attempt_count_year`, `pad_launch_attempt_count_year__gt`, `pad_launch_attempt_count_year__gte`, `pad_launch_attempt_count_year__lt`, `pad_launch_attempt_count_year__lte`, `program`, `related_lsp__id`, `related_lsp__name`, `rocket__configuration__full_name`, `rocket__configuration__full_name__icontains`, `rocket__configuration__id`, `rocket__configuration__manufacturer__name`, `rocket__configuration__manufacturer__name__icontains`, `rocket__configuration__name`, `rocket__spacecraftflight__spacecraft__id`, `rocket__spacecraftflight__spacecraft__name`, `rocket__spacecraftflight__spacecraft__name__icontains`, `serial_number`, `slug`, `spacecraft_config__ids`, `status`, `status__ids`, `video_url`, `window_end__gt`, `window_end__gte`, `window_end__lt`, `window_end__lte`, `window_start__gt`, `window_start__gte`, `window_start__lt`, `window_start__lte`, `year`


        Example - /launches/upcoming/?hide_recent_previous=True


        #### Search

        Fields searched - `launch_service_provider__name`, `mission__name`, `name`, `pad__location__name`, `pad__name`, `rocket__configuration__manufacturer__abbrev`, `rocket__configuration__manufacturer__name`, `rocket__configuration__name`, `rocket__spacecraftflight__spacecraft__name`


        Example - /launches/upcoming/?search=Starlink


        #### Ordering

        Fields - `id`, `last_updated`, `name`, `net`


        Example - /launches/upcoming/?ordering=-last_updated


        #### Number of results

        Use `limit` to control the number of objects in the response (max 100)


        Example - /launches/upcoming/?limit=2


        #### Format

        Switch to JSON output - /launches/upcoming/?format=json


        #### Help

        Find all the FAQs and support links on the documentation homepage - ll.thespacedevs.com/docs'
      parameters:
      - in: query
        name: agency_launch_attempt_count
        schema:
          type: integer
      - in: query
        name: agency_launch_attempt_count__gt
        schema:
          type: integer
      - in: query
        name: agency_launch_attempt_count__gte
        schema:
          type: integer
      - in: query
        name: agency_launch_attempt_count__lt
        schema:
          type: integer
      - in: query
        name: agency_launch_attempt_count__lte
        schema:
          type: integer
      - in: query
        name: agency_launch_attempt_count_year
        schema:
          type: integer
      - in: query
        name: agency_launch_attempt_count_year__gt
        schema:
          type: integer
      - in: query
        name: agency_launch_attempt_count_year__gte
        schema:
          type: integer
      - in: query
        name: agency_launch_attempt_count_year__lt
        schema:
          type: integer
      - in: query
        name: agency_launch_attempt_count_year__lte
        schema:
          type: integer
      - in: query
        name: day
        schema:
          type: array
          items:
            type: number
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: hide_recent_previous
        schema:
          type: boolean
        description: Hide launches from the past 24 hours, which are included by default for convenience.
      - in: query
        name: id
        schema:
          type: array
          items:
            type: string
            format: uuid
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: include_suborbital
        schema:
          type: boolean
      - in: query
        name: is_crewed
        schema:
          type: boolean
      - in: query
        name: last_updated__gte
        schema:
          type: string
          format: date-time
        description: Last Update is greater than or equal to
      - in: query
        name: last_updated__lte
        schema:
          type: string
          format: date-time
        description: Last Update is less than or equal to
      - in: query
        name: launch_designator
        schema:
          type: array
          items:
            type: string
        description: Comma-separated (COSPAR) international launch designators.
        explode: false
        style: form
      - in: query
        name: launcher_config__id
        schema:
          type: array
          items:
            type: integer
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - in: query
        name: location__ids
        schema:
          type: array
          items:
            type: integer
        description: Comma-separated location IDs.
        explode: false
        style: form
      - in: query
        name: location_launch_attempt_count
        schema:
          type: integer
      - in: query
        name: location_launch_attempt_count__gt
        schema:
          type: integer
      - in: query
        name: location_launch_attempt_count__gte
        schema:
          type: integer
      - in: query
        name: location_launch_attempt_count__lt
        schema:
          type: integer
      - in: query
        name: location_launch_attempt_count__lte
        schema:
          type: integer
      - in: query
        name: location_launch_attempt_count_year
        schema:
          type: integer
      - in: query
        name: location_launch_attempt_count_year__gt
        schema:
          type: integer
      - in: query
        name: location_launch_attempt_count_year__gte
        schema:
          type: integer
      - in: query
        name: location_launch_attempt_count_year__lt
        schema:
          type: integer
      - in: query
        name: location_launch_attempt_count_year__lte
        schema:
          type: integer
      - in: query
        name: lsp__id
        schema:
          type: array
          items:
            type: integer
        description: Comma-separated launch service provider (agency) IDs.
        explode: false
        style: form
      - in: query
        name: lsp__name
        schema:
          type: array
          items:
            type: string
        description: Comma-separated launch service provider names.
        explode: false
        style: form
      - in: query
        name: mission__orbit__celestial_body__id
        schema:
          type: integer
      - in: query
        name: mission__orbit__name
        schema:
          type: string
      - in: query
        name: mission__orbit__name__icontains
        schema:
          type: string
      - in: query
        name: mode
        schema:
          type: string
          enum:
          - detailed
          - list
          - normal
        description: Level of detail in the response.
      - in: query
        name: month
        schema:
          type: array
          items:
            type: number
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: name
        schema:
          type: string
      - in: query
        name: net__gt
        schema:
          type: string
          format: date-time
        description: NET is greater than
      - in: query
        name: net__gte
        schema:
          type: string
          format: date-time
        description: NET is greater than or equal to
      - in: query
        name: net__lt
        schema:
          type: string
          format: date-time
        description: NET is less than
      - in: query
        name: net__lte
        schema:
          type: string
          format: date-time
        description: NET is less than or equal to
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - in: query
        name: orbital_launch_attempt_count
        schema:
          type: integer
      - in: query
        name: orbital_launch_attempt_count__gt
        schema:
          type: integer
      - in: query
        name: orbital_launch_attempt_count__gte
        schema:
          type: integer
      - in: query
        name: orbital_launch_attempt_count__lt
        schema:
          type: integer
      - in: query
        name: orbital_launch_attempt_count__lte
        schema:
          type: integer
      - in: query
        name: orbital_launch_attempt_count_year
        schema:
          type: integer
      - in: query
        name: orbital_launch_attempt_count_year__gt
        schema:
          type: integer
      - in: query
        name: orbital_launch_attempt_count_year__gte
        schema:
          type: integer
      - in: query
        name: orbital_launch_attempt_count_year__lt
        schema:
          type: integer
      - in: query
        name: orbital_launch_attempt_count_year__lte
        schema:
          type: integer
      - name: ordering
        required: false
        in: query
        description: Which field to use when ordering the results.
        schema:
          type: string
      - in: query
        name: pad
        schema:
          type: integer
      - in: query
        name: pad__location
        schema:
          type: integer
      - in: query
        name: pad__location__celestial_body__id
        schema:
          type: integer
      - in: query
        name: pad_launch_attempt_count
        schema:
          type: integer
      - in: query
        name: pad_launch_attempt_count__gt
        schema:
          type: integer
      - in: query
        name: pad_launch_attempt_count__gte
        schema:
          type: integer
      - in: query
        name: pad_launch_attempt_count__lt
        schema:
          type: integer
      - in: query
        name: pad_launch_attempt_count__lte
        schema:
          type: integer
      - in: query
        name: pad_launch_attempt_count_year
        schema:
          type: integer
      - in: query
        name: pad_launch_attempt_count_year__gt
        schema:
          type: integer
      - in: query
        name: pad_launch_attempt_count_year__gte
        schema:
          type: integer
      - in: query
        name: pad_launch_attempt_count_year__lt
        schema:
          type: integer
      - in: query
        name: pad_launch_attempt_count_year__lte
        schema:
          type: integer
      - in: query
        name: program
        schema:
          type: array
          items:
            type: integer
        explode: true
        style: form
      - in: query
        name: related_lsp__id
        schema:
          type: array
          items:
            type: integer
        description: Comma-separated agency IDs related to the launch service provider.
        explode: false
        style: form
      - in: query
        name: related_lsp__name
        schema:
          type: array
          items:
            type: string
        description: Comma-separated agency names related to the launch service provider.
        explode: false
        style: form
      - in: query
        name: rocket__configuration__full_name
        schema:
          type: string
      - in: query
        name: rocket__configuration__full_name__icontains
        schema:
          type: string
      - in: query
        name: rocket__configuration__id
        schema:
          type: integer
      - in: query
        name: rocket__configuration__manufacturer__name
        schema:
          type: string
      - in: query
        name: rocket__configuration__manufacturer__name__icontains
        schema:
          type: string
      - in: query
        name: rocket__configuration__name
        schema:
          type: string
      - in: query
        name: rocket__spacecraftflight__spacecraft__id
        schema:
          type: integer
      - in: query
        name: rocket__spacecraftflight__spacecraft__name
        schema:
          type: string
      - in: query
        name: rocket__spacecraftflight__spacecraft__name__icontains
        schema:
          type: string
      - name: search
        required: false
        in: query
        description: A search term.
        schema:
          type: string
      - in: query
        name: serial_number
        schema:
          type: array
          items:
            type: string
        description: Comma-separated first stage booster serial numbers.
        explode: false
        style: form
      - in: query
        name: slug
        schema:
          type: string
      - in: query
        name: spacecraft_config__ids
        schema:
          type: array
          items:
            type: integer
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: status
        schema:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
      - in: query
        name: status__ids
        schema:
          type: array
          items:
            type: integer
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: video_url
        schema:
          type: array
          items:
            type: string
        description: Comma-separated video URLs.
        explode: false
        style: form
      - in: query
        name: window_end__gt
        schema:
          type: string
          format: date-time
        description: Window End is greater than
      - in: query
        name: window_end__gte
        schema:
          type: string
          format: date-time
        description: Window End is greater than or equal to
      - in: query
        name: window_end__lt
        schema:
          type: string
          format: date-time
        description: Window End is less than
      - in: query
        name: window_end__lte
        schema:
          type: string
          format: date-time
        description: Window End is less than or equal to
      - in: query
        name: window_start__gt
        schema:
          type: string
          format: date-time
        description: Window Start is greater than
      - in: query
        name: window_start__gte
        schema:
          type: string
          format: date-time
        description: Window Start is greater than or equal to
      - in: query
        name: window_start__lt
        schema:
          type: string
          format: date-time
        description: Window Start is less than
      - in: query
        name: window_start__lte
        schema:
          type: string
          format: date-time
        description: Window Start is less than or equal to
      - in: query
        name: year
        schema:
          type: array
          items:
            type: number
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      tags:
      - Launches
      security:
      - cookieAuth: []
      - Token_Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedPolymorphicLaunchEndpointList'
          description: ''
  /2.3.0/launches/upcoming/{id}/:
    get:
      operationId: launches_upcoming_retrieve
      summary: Get Upcoming Launch
      description: '#### Modes

        Levels of detail in the response - `list`, `normal`, `detailed`


        Example - /launches/upcoming/?mode=list


        #### Filters

        Parameters - `agency_launch_attempt_count`, `agency_launch_attempt_count__gt`, `agency_launch_attempt_count__gte`, `agency_launch_attempt_count__lt`, `agency_launch_attempt_count__lte`, `agency_launch_attempt_count_year`, `agency_launch_attempt_count_year__gt`, `agency_launch_attempt_count_year__gte`, `agency_launch_attempt_count_year__lt`, `agency_launch_attempt_count_year__lte`, `day`, `hide_recent_previous`, `id`, `include_suborbital`, `is_crewed`, `last_updated__gte`, `last_updated__lte`, `launch_designator`, `launcher_config__id`, `location__ids`, `location_launch_attempt_count`, `location_launch_attempt_count__gt`, `location_launch_attempt_count__gte`, `location_launch_attempt_count__lt`, `location_launch_attempt_count__lte`, `location_launch_attempt_count_year`, `location_launch_attempt_count_year__gt`, `location_launch_attempt_count_year__gte`, `location_launch_attempt_count_year__lt`, `location_launch_attempt_count_year__lte`, `lsp__id`, `lsp__name`, `mission__orbit__celestial_body__id`, `mission__orbit__name`, `mission__orbit__name__icontains`, `month`, `name`, `net__gt`, `net__gte`, `net__lt`, `net__lte`, `orbital_launch_attempt_count`, `orbital_launch_attempt_count__gt`, `orbital_launch_attempt_count__gte`, `orbital_launch_attempt_count__lt`, `orbital_launch_attempt_count__lte`, `orbital_launch_attempt_count_year`, `orbital_launch_attempt_count_year__gt`, `orbital_launch_attempt_count_year__gte`, `orbital_launch_attempt_count_year__lt`, `orbital_launch_attempt_count_year__lte`, `pad`, `pad__location`, `pad__location__celestial_body__id`, `pad_launch_attempt_count`, `pad_launch_attempt_count__gt`, `pad_launch_attempt_count__gte`, `pad_launch_attempt_count__lt`, `pad_launch_attempt_count__lte`, `pad_launch_attempt_count_year`, `pad_launch_attempt_count_year__gt`, `pad_launch_attempt_count_year__gte`, `pad_launch_attempt_count_year__lt`, `pad_launch_attempt_count_year__lte`, `program`, `related_lsp__id`, `related_lsp__name`, `rocket__configuration__full_name`, `rocket__configuration__full_name__icontains`, `rocket__configuration__id`, `rocket__configuration__manufacturer__name`, `rocket__configuration__manufacturer__name__icontains`, `rocket__configuration__name`, `rocket__spacecraftflight__spacecraft__id`, `rocket__spacecraftflight__spacecraft__name`, `rocket__spacecraftflight__spacecraft__name__icontains`, `serial_number`, `slug`, `spacecraft_config__ids`, `status`, `status__ids`, `video_url`, `window_end__gt`, `window_end__gte`, `window_end__lt`, `window_end__lte`, `window_start__gt`, `window_start__gte`, `window_start__lt`, `window_start__lte`, `year`


        Example - /launches/upcoming/?hide_recent_previous=True


        #### Search

        Fields searched - `launch_service_provider__name`, `mission__name`, `name`, `pad__location__name`, `pad__name`, `rocket__configuration__manufacturer__abbrev`, `rocket__configuration__manufacturer__name`, `rocket__configuration__name`, `rocket__spacecraftflight__spacecraft__name`


        Example - /launches/upcoming/?search=Starlink


        #### Ordering

        Fields - `id`, `last_updated`, `name`, `net`


        Example - /launches/upcoming/?ordering=-last_updated


        #### Number of results

        Use `limit` to control the number of objects in the response (max 100)


        Example - /launches/upcoming/?limit=2


        #### Format

        Switch to JSON output - /launches/upcoming/?format=json


        #### Help

        Find all the FAQs and support links on the documentation homepage - ll.thespacedevs.com/docs'
      parameters:
      - in: path
        name: id
        schema:
          type: string
          format: uuid
        description: A UUID string identifying this Launch.
        required: true
      tags:
      - Launches
      security:
      - cookieAuth: []
      - Token_Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LaunchDetailed'
          description: ''
components:
  schemas:
    ImageLicense:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
        priority:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        link:
          type:
          - string
          - 'null'
          format: uri
          maxLength: 200
      required:
      - id
    ProgramMini:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: list
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 255
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
        info_url:
          type:
          - string
          - 'null'
          format: uri
          maxLength: 200
        wiki_url:
          type:
          - string
          - 'null'
          format: uri
          maxLength: 200
      required:
      - id
      - image
      - name
      - response_mode
      - url
    AstronautRole:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        role:
          type: string
          maxLength: 255
        priority:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
      required:
      - id
      - role
    SpacecraftNormal:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: normal
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 255
        serial_number:
          type:
          - string
          - 'null'
          maxLength: 255
        is_placeholder:
          type: boolean
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
          readOnly: true
        in_space:
          type: boolean
        time_in_space:
          type:
          - string
          - 'null'
          readOnly: true
        time_docked:
          type:
          - string
          - 'null'
          readOnly: true
        flights_count:
          type:
          - integer
          - 'null'
        mission_ends_count:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        status:
          $ref: '#/components/schemas/SpacecraftStatus'
        description:
          type: string
          maxLength: 2048
        spacecraft_config:
          $ref: '#/components/schemas/SpacecraftConfigNormal'
        fastest_turnaround:
          type:
          - string
          - 'null'
          readOnly: true
      required:
      - description
      - fastest_turnaround
      - flights_count
      - id
      - image
      - name
      - response_mode
      - spacecraft_config
      - status
      - time_docked
      - time_in_space
      - url
    RocketDetailed:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        configuration:
          $ref: '#/components/schemas/LauncherConfigDetailed'
        launcher_stage:
          type: array
          items:
            $ref: '#/components/schemas/FirstStageNormal'
        spacecraft_stage:
          type: array
          items:
            $ref: '#/components/schemas/SpacecraftFlightDetailedSerializerNoLaunch'
        payloads:
          type: array
          items:
            $ref: '#/components/schemas/PayloadFlightSerializerNoLaunch'
      required:
      - configuration
      - id
      - launcher_stage
      - payloads
      - spacecraft_stage
    LaunchNormal:
      type: object
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 2048
        response_mode:
          type: string
          readOnly: true
          default: normal
        slug:
          type: string
          pattern: ^[-a-zA-Z0-9_]+$
        launch_designator:
          type:
          - string
          - 'null'
          maxLength: 255
        status:
          allOf:
          - $ref: '#/components/schemas/LaunchStatus'
        last_updated:
          type: string
          format: date-time
        net:
          type: string
          format: date-time
        net_precision:
          allOf:
          - $ref: '#/components/schemas/NetPrecision'
        window_end:
          type: string
          format: date-time
        window_start:
          type: string
          format: date-time
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
          readOnly: true
        infographic:
          type:
          - string
          - 'null'
          readOnly: true
        probability:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        weather_concerns:
          type:
          - string
          - 'null'
          maxLength: 255
        failreason:
          type:
          - string
          - 'null'
          maxLength: 2048
        hashtag:
          type:
          - string
          - 'null'
          maxLength: 2048
        launch_service_provider:
          $ref: '#/components/schemas/AgencyMini'
        rocket:
          allOf:
          - $ref: '#/components/schemas/RocketNormal'
        mission:
          allOf:
          - $ref: '#/components/schemas/Mission'
        pad:
          allOf:
          - $ref: '#/components/schemas/Pad'
        webcast_live:
          type: boolean
        program:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ProgramNormal'
        orbital_launch_attempt_count:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        location_launch_attempt_count:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        pad_launch_attempt_count:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        agency_launch_attempt_count:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        orbital_launch_attempt_count_year:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        location_launch_attempt_count_year:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        pad_launch_attempt_count_year:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        agency_launch_attempt_count_year:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
      required:
      - id
      - image
      - infographic
      - launch_service_provider
      - mission
      - net_precision
      - pad
      - program
      - response_mode
      - rocket
      - slug
      - status
      - url
    ProgramType:
      type: object
      properties:
        id:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        name:
          type: string
          maxLength: 255
      required:
      - id
    LauncherConfigFamilyNormal:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: normal
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 200
        manufacturer:
          type: array
          items:
            $ref: '#/components/schemas/AgencyNormal'
        parent:
          allOf:
          - $ref: '#/components/schemas/LauncherConfigFamilyMini'
      required:
      - id
      - manufacturer
      - name
      - parent
      - response_mode
    VidURL:
      type: object
      properties:
        priority:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        source:
          type:
          - string
          - 'null'
          maxLength: 200
        publisher:
          type:
          - string
          - 'null'
          maxLength: 255
        title:
          type:
          - string
          - 'null'
          maxLength: 200
        description:
          type:
          - string
          - 'null'
          maxLength: 350
        feature_image:
          type:
          - string
          - 'null'
          format: uri
          maxLength: 200
        url:
          type: string
          format: uri
        type:
          allOf:
          - $ref: '#/components/schemas/VidURLType'
        language:
          allOf:
          - $ref: '#/components/schemas/Language'
        start_time:
          type:
          - string
          - 'null'
          format: date-time
        end_time:
          type:
          - string
          - 'null'
          format: date-time
        live:
          type: boolean
      required:
      - language
      - type
      - url
    SpacecraftConfigType:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
      required:
      - id
      - name
    VidURLType:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
      required:
      - id
      - name
    SocialMedia:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
        url:
          type:
          - string
          - 'null'
          format: uri
        logo:
          allOf:
          - $ref: '#/components/schemas/Image'
      required:
      - id
      - logo
      - url
    SpacecraftFlightDetailedSerializerNoLaunch:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        destination:
          type:
          - string
          - 'null'
          maxLength: 255
        mission_end:
          type:
          - string
          - 'null'
          format: date-time
        spacecraft:
          $ref: '#/components/schemas/SpacecraftDetailed'
        landing:
          $ref: '#/components/schemas/Landing'
        duration:
          type: string
          readOnly: true
        turn_around_time:
          type: string
          readOnly: true
        response_mode:
          type: string
          readOnly: true
          default: detailed
        launch_crew:
          type: array
          items:
            $ref: '#/components/schemas/AstronautFlight'
        onboard_crew:
          type: array
          items:
            $ref: '#/components/schemas/AstronautFlight'
        landing_crew:
          type: array
          items:
            $ref: '#/components/schemas/AstronautFlight'
        docking_events:
          type: array
          items:
            $ref: '#/components/schemas/DockingEventForChaserNormal'
      required:
      - docking_events
      - duration
      - id
      - landing
      - landing_crew
      - launch_crew
      - onboard_crew
      - response_mode
      - spacecraft
      - turn_around_time
      - url
    LandingLocation:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
        active:
          type: boolean
        abbrev:
          type: string
          maxLength: 255
        description:
          type:
          - string
          - 'null'
          maxLength: 2048
        location:
          $ref: '#/components/schemas/LocationSerializerNoCelestialBody'
        longitude:
          type:
          - number
          - 'null'
          format: double
        latitude:
          type:
          - number
          - 'null'
          format: double
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
        successful_landings:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        attempted_landings:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        failed_landings:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        celestial_body:
          $ref: '#/components/schemas/CelestialBodyNormal'
      required:
      - celestial_body
      - id
      - image
      - location
    ImageVariantType:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
      required:
      - id
    PaginatedPolymorphicLaunchEndpointList:
      type: object
      required:
      - count
      - results
      properties:
        count:
          type: integer
          example: 123
        next:
          type:
          - string
          - 'null'
          format: uri
          example: http://api.example.org/accounts/?offset=400&limit=100
        previous:
          type:
          - string
          - 'null'
          format: uri
          example: http://api.example.org/accounts/?offset=200&limit=100
        results:
          type: array
          items:
            $ref: '#/components/schemas/PolymorphicLaunchEndpoint'
    SocialMediaLink:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        social_media:
          $ref: '#/components/schemas/SocialMedia'
        url:
          type:
          - string
          - 'null'
          format: uri
      required:
      - id
      - social_media
      - url
    LauncherNormal:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: normal
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        flight_proven:
          type: boolean
        serial_number:
          type:
          - string
          - 'null'
          maxLength: 10
        is_placeholder:
          type: boolean
        status:
          allOf:
          - $ref: '#/components/schemas/LauncherStatus'
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
          readOnly: true
        details:
          type: string
          maxLength: 2048
        successful_landings:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        attempted_landings:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        flights:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        last_launch_date:
          type:
          - string
          - 'null'
          format: date-time
        first_launch_date:
          type:
          - string
          - 'null'
          format: date-time
        fastest_turnaround:
          type:
          - string
          - 'null'
          readOnly: true
      required:
      - fastest_turnaround
      - id
      - image
      - response_mode
      - status
      - url
    LaunchStatus:
      type: object
      properties:
        id:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        name:
          type: string
          readOnly: true
        abbrev:
          type: string
          maxLength: 255
        description:
          type: string
          maxLength: 2048
      required:
      - id
      - name
    TimelineEventType:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        abbrev:
          type: string
          maxLength: 255
        description:
          type: string
          maxLength: 2048
      required:
      - abbrev
      - id
    PolymorphicLaunchEndpoint:
      oneOf:
      - $ref: '#/components/schemas/LaunchBasic'
      - $ref: '#/components/schemas/LaunchNormal'
      - $ref: '#/components/schemas/LaunchDetailed'
      discriminator:
        propertyName: response_mode
        mapping:
          list: '#/components/schemas/LaunchBasic'
          normal: '#/components/schemas/LaunchNormal'
          detailed: '#/components/schemas/LaunchDetailed'
    CelestialBodyMini:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: list
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
      required:
      - id
      - name
      - response_mode
    ProgramNormal:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: normal
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 255
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
        info_url:
          type:
          - string
          - 'null'
          format: uri
          maxLength: 200
        wiki_url:
          type:
          - string
          - 'null'
          format: uri
          maxLength: 200
        description:
          type:
          - string
          - 'null'
          maxLength: 40000
        agencies:
          type: array
          items:
            $ref: '#/components/schemas/AgencyMini'
        start_date:
          type:
          - string
          - 'null'
          format: date-time
        end_date:
          type:
          - string
          - 'null'
          format: date-time
        mission_patches:
          type: array
          items:
            $ref: '#/components/schemas/MissionPatch'
        type:
          $ref: '#/components/schemas/ProgramType'
      required:
      - agencies
      - id
      - image
      - mission_patches
      - name
      - response_mode
      - type
      - url
    SpacecraftConfigFamilyNormal:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: normal
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 200
        description:
          type: string
          maxLength: 2048
        manufacturer:
          allOf:
          - $ref: '#/components/schemas/AgencyMini'
        parent:
          allOf:
          - $ref: '#/components/schemas/SpacecraftConfigFamilyMini'
        maiden_flight:
          type:
          - string
          - 'null'
          format: date
          title: Maiden Flight Date
      required:
      - id
      - manufacturer
      - name
      - parent
      - response_mode
    AgencyMini:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: list
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 200
        abbrev:
          type: string
          maxLength: 255
        type:
          $ref: '#/components/schemas/AgencyType'
      required:
      - id
      - name
      - response_mode
      - type
      - url
    Country:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
        alpha_2_code:
          type: string
          description: ISO 3166-1 alpha-2
          maxLength: 2
        alpha_3_code:
          type: string
          description: ISO 3166-1 alpha-3
          maxLength: 3
        nationality_name:
          type: string
          description: e.g. French
          maxLength: 255
        nationality_name_composed:
          type: string
          description: e.g. Franco
          maxLength: 255
      required:
      - id
    DockingLocation:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
        spacestation:
          $ref: '#/components/schemas/SpaceStationMini'
        spacecraft:
          $ref: '#/components/schemas/SpacecraftConfigNormal'
        payload:
          $ref: '#/components/schemas/PayloadMini'
      required:
      - id
      - name
      - payload
      - spacecraft
      - spacestation
    SpacecraftConfigDetailed:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: detailed
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 200
        type:
          $ref: '#/components/schemas/SpacecraftConfigType'
        agency:
          $ref: '#/components/schemas/AgencyNormal'
        family:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/SpacecraftConfigFamilyDetailed'
        in_use:
          type: boolean
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
        capability:
          type: string
          maxLength: 2048
        history:
          type: string
          maxLength: 1000
        details:
          type: string
          maxLength: 1000
        maiden_flight:
          type:
          - string
          - 'null'
          format: date
        height:
          type:
          - number
          - 'null'
          format: double
          title: Length (m)
        diameter:
          type:
          - number
          - 'null'
          format: double
          title: Diameter (m)
        human_rated:
          type: boolean
        crew_capacity:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        payload_capacity:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
          title: Payload Capacity (kg)
        payload_return_capacity:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
          title: Payload Return Capacity (kg)
        flight_life:
          type:
          - string
          - 'null'
          maxLength: 2048
        wiki_link:
          type: string
          format: uri
          maxLength: 200
        info_link:
          type: string
          format: uri
          maxLength: 200
        spacecraft_flown:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        total_launch_count:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        successful_launches:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        failed_launches:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        attempted_landings:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        successful_landings:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        failed_landings:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        fastest_turnaround:
          type:
          - string
          - 'null'
          readOnly: true
      required:
      - agency
      - family
      - fastest_turnaround
      - id
      - image
      - name
      - response_mode
      - type
      - url
    PayloadDetailed:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: detailed
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 1048
        type:
          $ref: '#/components/schemas/PayloadType'
        manufacturer:
          $ref: '#/components/schemas/AgencyDetailed'
        operator:
          $ref: '#/components/schemas/AgencyDetailed'
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
        wiki_link:
          type: string
          format: uri
          maxLength: 200
        info_link:
          type: string
          format: uri
          maxLength: 200
        program:
          type: array
          items:
            $ref: '#/components/schemas/ProgramNormal'
        cost:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
          title: Cost (USD)
        mass:
          type:
          - number
          - 'null'
          format: double
          title: Mass (kg)
        description:
          type: string
          maxLength: 2048
      required:
      - id
      - image
      - manufacturer
      - operator
      - program
      - response_mode
      - type
    SpacecraftDetailed:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: normal
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 255
        serial_number:
          type:
          - string
          - 'null'
          maxLength: 255
        is_placeholder:
          type: boolean
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
          readOnly: true
        in_space:
          type: boolean
        time_in_space:
          type:
          - string
          - 'null'
          readOnly: true
        time_docked:
          type:
          - string
          - 'null'
          readOnly: true
        flights_count:
          type:
          - integer
          - 'null'
        mission_ends_count:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        status:
          $ref: '#/components/schemas/SpacecraftStatus'
        description:
          type: string
          maxLength: 2048
        spacecraft_config:
          $ref: '#/components/schemas/SpacecraftConfigDetailed'
        fastest_turnaround:
          type:
          - string
          - 'null'
          readOnly: true
      required:
      - description
      - fastest_turnaround
      - flights_count
      - id
      - image
      - name
      - response_mode
      - spacecraft_config
      - status
      - time_docked
      - time_in_space
      - url
    DockingEventForChaserNormal:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        docking:
          type: string
          format: date-time
        departure:
          type:
          - string
          - 'null'
          format: date-time
        docking_location:
          $ref: '#/components/schemas/DockingLocation'
        space_station_target:
          $ref: '#/components/schemas/SpaceStationNormal'
        flight_vehicle_target:
          $ref: '#/components/schemas/SpacecraftFlightNormal'
        payload_flight_target:
          $ref: '#/components/schemas/PayloadFlightNormal'
      required:
      - docking
      - docking_location
      - flight_vehicle_target
      - id
      - payload_flight_target
      - space_station_target
      - url
    AgencyNormal:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: normal
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 200
        abbrev:
          type: string
          maxLength: 255
        type:
          $ref: '#/components/schemas/AgencyType'
        featured:
          type: boolean
        country:
          type: array
          items:
            $ref: '#/components/schemas/Country'
        description:
          type:
          - string
          - 'null'
          maxLength: 2048
        administrator:
          type:
          - string
          - 'null'
          maxLength: 200
        founding_year:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        launchers:
          type: string
          maxLength: 500
        spacecraft:
          type: string
          maxLength: 500
        parent:
          type:
          - string
          - 'null'
          readOnly: true
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
        logo:
          allOf:
          - $ref: '#/components/schemas/Image'
        social_logo:
          allOf:
          - $ref: '#/components/schemas/Image'
      required:
      - country
      - id
      - image
      - logo
      - name
      - parent
      - response_mode
      - social_logo
      - type
      - url
    Location:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: normal
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 255
        celestial_body:
          $ref: '#/components/schemas/CelestialBodyDetailed'
        active:
          type: boolean
        country:
          allOf:
          - $ref: '#/components/schemas/Country'
        description:
          type:
          - string
          - 'null'
          maxLength: 2048
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
        map_image:
          type:
          - string
          - 'null'
          format: uri
        longitude:
          type:
          - number
          - 'null'
          format: double
        latitude:
          type:
          - number
          - 'null'
          format: double
        timezone_name:
          type: string
          maxLength: 255
        total_launch_count:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        total_landing_count:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
      required:
      - celestial_body
      - country
      - id
      - image
      - response_mode
      - url
    Landing:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        attempt:
          type: boolean
        success:
          type:
          - boolean
          - 'null'
        description:
          type: string
          maxLength: 2048
        downrange_distance:
          type:
          - number
          - 'null'
          format: double
          title: Downrange distance (km)
        landing_location:
          $ref: '#/components/schemas/LandingLocation'
        type:
          $ref: '#/components/schemas/LandingType'
      required:
      - id
      - landing_location
      - type
      - url
    Image:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
        image_url:
          type: string
          format: uri
        thumbnail_url:
          type: string
          format: uri
        credit:
          type:
          - string
          - 'null'
          maxLength: 255
        license:
          $ref: '#/components/schemas/ImageLicense'
        single_use:
          type: boolean
        variants:
          type: array
          items:
            $ref: '#/components/schemas/ImageVariant'
      required:
      - id
      - image_url
      - license
      - name
      - thumbnail_url
      - variants
    RocketNormal:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        configuration:
          $ref: '#/components/schemas/LauncherConfigList'
      required:
      - configuration
      - id
    SpaceStationType:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
      required:
      - id
      - name
    TimelineEvent:
      type: object
      properties:
        type:
          allOf:
          - $ref: '#/components/schemas/TimelineEventType'
        relative_time:
          type:
[...]
