openapi: 3.0.3
info:
  title: TheSpaceDevs LL2 Landings API
  version: v2.3.0
  description: Rocket launches, space events and crewed spaceflight. The Launch Library 2 API is the official successor of the popular Launch Library API. It keeps its core features whilst also including everything the broader Space Launch Now API had to offer. The result is a large database delivering a more complete experience for each rocket launch and ...
  license:
    name: Apache License 2.0
servers:
- url: https://ll.thespacedevs.com/
  description: Production API (� rate-limited)
- url: https://lldev.thespacedevs.com/
  description: Development API (stale and limited data, for development testing only)
tags:
- name: Landings
paths:
  /2.3.0/landings/:
    get:
      operationId: landings_list
      summary: List Landings
      description: '#### Modes

        Levels of detail in the response - `list`, `normal`, `detailed`


        Example - [/landings/?mode=list](./?mode=list)


        #### Filters

        Parameters - `attempt`, `firststage_launch__ids`, `landing_location__ids`, `landing_type__ids`, `launcher__ids`, `launcher_config__ids`, `launcher_serial_numbers`, `spacecraft__ids`, `spacecraft_config__ids`, `spacecraft_launch__ids`, `success`


        Example - [/landings/?spacecraft__ids=39,37](./?spacecraft__ids=39,37)


        #### Search

        Fields searched - `firststage__launcher__launcher_config__name`, `firststage__launcher__serial_number`, `firststage__rocket__launch__name`, `landing_location__abbrev`, `landing_location__name`, `spacecraftflight__rocket__launch__name`, `spacecraftflight__spacecraft__name`, `spacecraftflight__spacecraft__serial_number`, `spacecraftflight__spacecraft__spacecraft_config__name`


        Example - [/landings/?search=B1059](./?search=B1059)


        #### Ordering

        Fields - `downrange_distance`, `id`


        Example - [/landings/?ordering=downrange_distance](./?ordering=downrange_distance)


        #### Number of results

        Use `limit` to control the number of objects in the response (max 100)


        Example - [/landings/?limit=2](./?limit=2)


        #### Format

        Switch to JSON output - [/landings/?format=json](./?format=json)


        #### Help

        Find all the FAQs and support links on the documentation homepage - [ll.thespacedevs.com/docs](https://ll.thespacedevs.com/docs/)'
      parameters:
      - in: query
        name: attempt
        schema:
          type: boolean
      - in: query
        name: firststage_launch__ids
        schema:
          type: array
          items:
            type: string
            format: uuid
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: landing_location__ids
        schema:
          type: array
          items:
            type: integer
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: landing_type__ids
        schema:
          type: array
          items:
            type: integer
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: launcher__ids
        schema:
          type: array
          items:
            type: integer
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: launcher_config__ids
        schema:
          type: array
          items:
            type: integer
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: launcher_serial_numbers
        schema:
          type: array
          items:
            type: string
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - in: query
        name: mode
        schema:
          type: string
          enum:
          - detailed
          - list
          - normal
        description: Level of detail in the response.
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - name: ordering
        required: false
        in: query
        description: Which field to use when ordering the results.
        schema:
          type: string
      - name: search
        required: false
        in: query
        description: A search term.
        schema:
          type: string
      - in: query
        name: spacecraft__ids
        schema:
          type: array
          items:
            type: integer
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: spacecraft_config__ids
        schema:
          type: array
          items:
            type: integer
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: spacecraft_launch__ids
        schema:
          type: array
          items:
            type: string
            format: uuid
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: success
        schema:
          type: boolean
      tags:
      - Landings
      security:
      - cookieAuth: []
      - Token_Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedPolymorphicLandingEndpointList'
          description: ''
  /2.3.0/landings/{id}/:
    get:
      operationId: landings_retrieve
      summary: Get Landing
      description: '#### Modes

        Levels of detail in the response - `list`, `normal`, `detailed`


        Example - [/landings/?mode=list](./?mode=list)


        #### Filters

        Parameters - `attempt`, `firststage_launch__ids`, `landing_location__ids`, `landing_type__ids`, `launcher__ids`, `launcher_config__ids`, `launcher_serial_numbers`, `spacecraft__ids`, `spacecraft_config__ids`, `spacecraft_launch__ids`, `success`


        Example - [/landings/?spacecraft__ids=39,37](./?spacecraft__ids=39,37)


        #### Search

        Fields searched - `firststage__launcher__launcher_config__name`, `firststage__launcher__serial_number`, `firststage__rocket__launch__name`, `landing_location__abbrev`, `landing_location__name`, `spacecraftflight__rocket__launch__name`, `spacecraftflight__spacecraft__name`, `spacecraftflight__spacecraft__serial_number`, `spacecraftflight__spacecraft__spacecraft_config__name`


        Example - [/landings/?search=B1059](./?search=B1059)


        #### Ordering

        Fields - `downrange_distance`, `id`


        Example - [/landings/?ordering=downrange_distance](./?ordering=downrange_distance)


        #### Number of results

        Use `limit` to control the number of objects in the response (max 100)


        Example - [/landings/?limit=2](./?limit=2)


        #### Format

        Switch to JSON output - [/landings/?format=json](./?format=json)


        #### Help

        Find all the FAQs and support links on the documentation homepage - [ll.thespacedevs.com/docs](https://ll.thespacedevs.com/docs/)'
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this landing.
        required: true
      tags:
      - Landings
      security:
      - cookieAuth: []
      - Token_Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LandingEndpointDetailed'
          description: ''
components:
  schemas:
    PaginatedPolymorphicLandingEndpointList:
      type: object
      required:
      - count
      - results
      properties:
        count:
          type: integer
          example: 123
        next:
          type: string
          nullable: true
          format: uri
          example: http://api.example.org/accounts/?offset=400&limit=100
        previous:
          type: string
          nullable: true
          format: uri
          example: http://api.example.org/accounts/?offset=200&limit=100
        results:
          type: array
          items:
            $ref: '#/components/schemas/PolymorphicLandingEndpoint'
    ProgramNormal:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: normal
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 255
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
          nullable: true
        info_url:
          type: string
          format: uri
          nullable: true
          maxLength: 200
        wiki_url:
          type: string
          format: uri
          nullable: true
          maxLength: 200
        description:
          type: string
          nullable: true
          maxLength: 40000
        agencies:
          type: array
          items:
            $ref: '#/components/schemas/AgencyMini'
        start_date:
          type: string
          format: date-time
          nullable: true
        end_date:
          type: string
          format: date-time
          nullable: true
        mission_patches:
          type: array
          items:
            $ref: '#/components/schemas/MissionPatch'
        type:
          $ref: '#/components/schemas/ProgramType'
      required:
      - agencies
      - id
      - image
      - mission_patches
      - name
      - response_mode
      - type
      - url
    SpacecraftFlightMiniSerializerNoLanding:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        destination:
          type: string
          nullable: true
          maxLength: 255
        mission_end:
          type: string
          format: date-time
          nullable: true
        spacecraft:
          $ref: '#/components/schemas/SpacecraftNormal'
        launch:
          $ref: '#/components/schemas/LaunchMini'
        duration:
          type: string
          readOnly: true
        turn_around_time:
          type: string
          readOnly: true
      required:
      - duration
      - id
      - launch
      - spacecraft
      - turn_around_time
      - url
    Country:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
        alpha_2_code:
          type: string
          description: ISO 3166-1 alpha-2
          maxLength: 2
        alpha_3_code:
          type: string
          description: ISO 3166-1 alpha-3
          maxLength: 3
        nationality_name:
          type: string
          description: e.g. French
          maxLength: 255
        nationality_name_composed:
          type: string
          description: e.g. Franco
          maxLength: 255
      required:
      - id
    LauncherConfigList:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: list
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 200
        families:
          type: array
          items:
            $ref: '#/components/schemas/LauncherConfigFamilyMini'
          nullable: true
        full_name:
          type: string
          maxLength: 200
        variant:
          type: string
          maxLength: 200
      required:
      - families
      - id
      - name
      - response_mode
      - url
    AgencyDetailed:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: normal
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 200
        abbrev:
          type: string
          maxLength: 255
        type:
          $ref: '#/components/schemas/AgencyType'
        featured:
          type: boolean
        country:
          type: array
          items:
            $ref: '#/components/schemas/Country'
        description:
          type: string
          nullable: true
          maxLength: 2048
        administrator:
          type: string
          nullable: true
          maxLength: 200
        founding_year:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        launchers:
          type: string
          maxLength: 500
        spacecraft:
          type: string
          maxLength: 500
        parent:
          type: string
          readOnly: true
          nullable: true
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
          nullable: true
        logo:
          allOf:
          - $ref: '#/components/schemas/Image'
          nullable: true
        social_logo:
          allOf:
          - $ref: '#/components/schemas/Image'
          nullable: true
        total_launch_count:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        consecutive_successful_launches:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        successful_launches:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        failed_launches:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        pending_launches:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        consecutive_successful_landings:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        successful_landings:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        failed_landings:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        attempted_landings:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        successful_landings_spacecraft:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        failed_landings_spacecraft:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        attempted_landings_spacecraft:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        successful_landings_payload:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        failed_landings_payload:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        attempted_landings_payload:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        info_url:
          type: string
          format: uri
          nullable: true
          maxLength: 200
        wiki_url:
          type: string
          format: uri
          nullable: true
          maxLength: 200
        social_media_links:
          type: array
          items:
            $ref: '#/components/schemas/SocialMediaLink'
      required:
      - country
      - id
      - image
      - logo
      - name
      - parent
      - response_mode
      - social_logo
      - social_media_links
      - type
      - url
    VidURLType:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
      required:
      - id
      - name
    ImageVariantType:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
      required:
      - id
    SpacecraftConfigFamilyNormal:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: normal
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 200
        description:
          type: string
          maxLength: 2048
        manufacturer:
          allOf:
          - $ref: '#/components/schemas/AgencyMini'
          nullable: true
        parent:
          allOf:
          - $ref: '#/components/schemas/SpacecraftConfigFamilyMini'
          nullable: true
        maiden_flight:
          type: string
          format: date
          nullable: true
          title: Maiden Flight Date
      required:
      - id
      - manufacturer
      - name
      - parent
      - response_mode
    PayloadNormal:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: normal
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 1048
        type:
          $ref: '#/components/schemas/PayloadType'
        manufacturer:
          $ref: '#/components/schemas/AgencyNormal'
        operator:
          $ref: '#/components/schemas/AgencyNormal'
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
          nullable: true
        wiki_link:
          type: string
          format: uri
          maxLength: 200
        info_link:
          type: string
          format: uri
          maxLength: 200
        program:
          type: array
          items:
            $ref: '#/components/schemas/ProgramMini'
        cost:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
          title: Cost (USD)
        mass:
          type: number
          format: double
          nullable: true
          title: Mass (kg)
        description:
          type: string
          maxLength: 2048
      required:
      - id
      - image
      - manufacturer
      - operator
      - program
      - response_mode
      - type
    Orbit:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 50
        abbrev:
          type: string
          maxLength: 30
        celestial_body:
          $ref: '#/components/schemas/CelestialBodyMini'
      required:
      - abbrev
      - celestial_body
      - id
      - name
    CelestialBodyDetailed:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: normal
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
        type:
          $ref: '#/components/schemas/CelestialBodyType'
        diameter:
          type: number
          format: double
          nullable: true
          description: m
        mass:
          type: number
          format: double
          nullable: true
          description: kg
        gravity:
          type: number
          format: double
          nullable: true
          description: m/s^2
        length_of_day:
          type: string
          nullable: true
        atmosphere:
          type: boolean
        image:
          $ref: '#/components/schemas/Image'
        description:
          type: string
          nullable: true
        wiki_url:
          type: string
          format: uri
          nullable: true
          maxLength: 200
        total_attempted_launches:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        successful_launches:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        failed_launches:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        total_attempted_landings:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        successful_landings:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        failed_landings:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
      required:
      - id
      - image
      - name
      - response_mode
      - type
    RocketNormal:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        configuration:
          $ref: '#/components/schemas/LauncherConfigList'
      required:
      - configuration
      - id
    SocialMedia:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
        url:
          type: string
          format: uri
          nullable: true
        logo:
          allOf:
          - $ref: '#/components/schemas/Image'
          nullable: true
      required:
      - id
      - logo
      - url
    Mission:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
        type:
          type: string
          readOnly: true
        description:
          type: string
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
          nullable: true
        orbit:
          $ref: '#/components/schemas/Orbit'
        agencies:
          type: array
          items:
            $ref: '#/components/schemas/AgencyDetailed'
        info_urls:
          type: array
          items:
            $ref: '#/components/schemas/InfoURL'
        vid_urls:
          type: array
          items:
            $ref: '#/components/schemas/VidURL'
      required:
      - agencies
      - id
      - image
      - info_urls
      - name
      - orbit
      - type
      - vid_urls
    LandingType:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
        abbrev:
          type: string
          maxLength: 255
        description:
          type: string
          nullable: true
          maxLength: 2048
      required:
      - id
    SpacecraftConfigNormal:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: normal
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 200
        type:
          $ref: '#/components/schemas/SpacecraftConfigType'
        agency:
          $ref: '#/components/schemas/AgencyMini'
        family:
          type: array
          items:
            $ref: '#/components/schemas/SpacecraftConfigFamilyNormal'
          nullable: true
        in_use:
          type: boolean
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
          nullable: true
      required:
      - agency
      - family
      - id
      - image
      - name
      - response_mode
      - type
      - url
    AstronautStatus:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
      required:
      - id
      - name
    LaunchMini:
      type: object
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 2048
      required:
      - id
      - url
    ImageLicense:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
        priority:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        link:
          type: string
          format: uri
          nullable: true
          maxLength: 200
      required:
      - id
    CelestialBodyMini:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: list
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
      required:
      - id
      - name
      - response_mode
    LauncherMini:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: list
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        flight_proven:
          type: boolean
        serial_number:
          type: string
          nullable: true
          maxLength: 10
        is_placeholder:
          type: boolean
        status:
          allOf:
          - $ref: '#/components/schemas/LauncherStatus'
          nullable: true
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
          readOnly: true
          nullable: true
      required:
      - id
      - image
      - response_mode
      - status
      - url
    SpaceStationStatus:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
      required:
      - id
      - name
    Image:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
        image_url:
          type: string
          format: uri
        thumbnail_url:
          type: string
          format: uri
        credit:
          type: string
          nullable: true
          maxLength: 255
        license:
          $ref: '#/components/schemas/ImageLicense'
        single_use:
          type: boolean
        variants:
          type: array
          items:
            $ref: '#/components/schemas/ImageVariant'
      required:
      - id
      - image_url
      - license
      - name
      - thumbnail_url
      - variants
    NetPrecision:
      type: object
      properties:
        id:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        name:
          type: string
          maxLength: 255
        abbrev:
          type: string
          maxLength: 255
        description:
          type: string
          maxLength: 2048
      required:
      - id
    SpaceStationNormal:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 255
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
          nullable: true
        status:
          $ref: '#/components/schemas/SpaceStationStatus'
        founded:
          type: string
          format: date
        deorbited:
          type: string
          format: date
          nullable: true
        description:
          type: string
          maxLength: 2048
        orbit:
          type: string
          readOnly: true
          nullable: true
        type:
          $ref: '#/components/schemas/SpaceStationType'
      required:
      - description
      - founded
      - id
      - image
      - name
      - orbit
      - status
      - type
      - url
    SpaceStationMini:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 255
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
          nullable: true
      required:
      - id
      - image
      - name
      - url
    SpacecraftFlightNormalSerializerNoLanding:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        destination:
          type: string
          nullable: true
          maxLength: 255
        mission_end:
          type: string
          format: date-time
          nullable: true
        spacecraft:
          $ref: '#/components/schemas/SpacecraftNormal'
        launch:
          $ref: '#/components/schemas/LaunchNormal'
        duration:
          type: string
          readOnly: true
        turn_around_time:
          type: string
          readOnly: true
        response_mode:
          type: string
          readOnly: true
          default: normal
      required:
      - duration
      - id
      - launch
      - response_mode
      - spacecraft
      - turn_around_time
      - url
    SocialMediaLink:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        social_media:
          $ref: '#/components/schemas/SocialMedia'
        url:
          type: string
          format: uri
          nullable: true
      required:
      - id
      - social_media
      - url
    Pad:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        active:
          type: boolean
        agencies:
          type: array
          items:
            $ref: '#/components/schemas/AgencyNormal'
        name:
          type: string
          maxLength: 255
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
          nullable: true
        description:
          type: string
          nullable: true
          maxLength: 2048
        info_url:
          type: string
          format: uri
          nullable: true
          maxLength: 200
        wiki_url:
          type: string
          format: uri
          nullable: true
          maxLength: 200
        map_url:
          type: string
          format: uri
          nullable: true
          maxLength: 200
        latitude:
          type: number
          format: double
          nullable: true
        longitude:
          type: number
          format: double
          nullable: true
        country:
          allOf:
          - $ref: '#/components/schemas/Country'
          nullable: true
        map_image:
          type: string
          format: uri
          nullable: true
        total_launch_count:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        orbital_launch_attempt_count:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        fastest_turnaround:
          type: string
          readOnly: true
          nullable: true
        location:
          allOf:
          - $ref: '#/components/schemas/Location'
          nullable: true
      required:
      - agencies
      - country
      - fastest_turnaround
      - id
      - image
      - location
      - url
    SpacecraftConfigFamilyDetailed:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: normal
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 200
        description:
          type: string
          maxLength: 2048
        manufacturer:
          $ref: '#/components/schemas/AgencyNormal'
        parent:
          allOf:
          - $ref: '#/components/schemas/SpacecraftConfigFamilyNormal'
          nullable: true
        maiden_flight:
          type: string
          format: date
          nullable: true
          title: Maiden Flight Date
        spacecraft_flown:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        total_launch_count:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        successful_launches:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        failed_launches:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        attempted_landings:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        successful_landings:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        failed_landings:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
      required:
      - id
      - manufacturer
      - name
      - parent
      - response_mode
    DockingEventForChaserNormal:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        docking:
          type: string
          format: date-time
        departure:
          type: string
          format: date-time
          nullable: true
        docking_location:
          $ref: '#/components/schemas/DockingLocation'
        space_station_target:
          $ref: '#/components/schemas/SpaceStationNormal'
        flight_vehicle_target:
          $ref: '#/components/schemas/SpacecraftFlightNormal'
        payload_flight_target:
          $ref: '#/components/schemas/PayloadFlightNormal'
      required:
      - docking
      - docking_location
      - flight_vehicle_target
      - id
      - payload_flight_target
      - space_station_target
      - url
    LandingLocation:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
        active:
          type: boolean
        abbrev:
          type: string
          maxLength: 255
        description:
          type: string
          nullable: true
          maxLength: 2048
        location:
          $ref: '#/components/schemas/LocationSerializerNoCelestialBody'
        longitude:
          type: number
          format: double
          nullable: true
        latitude:
          type: number
          format: double
          nullable: true
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
          nullable: true
        successful_landings:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        attempted_landings:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        failed_landings:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        celestial_body:
          $ref: '#/components/schemas/CelestialBodyNormal'
      required:
      - celestial_body
      - id
      - image
      - location
    PayloadType:
      type: object
      properties:
        id:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        name:
          type: string
          maxLength: 255
      required:
      - id
    InfoURLType:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
      required:
      - id
      - name
    SpacecraftConfigType:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
      required:
      - id
      - name
    FirstStageMini:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        type:
          type: string
          readOnly: true
        reused:
          type: boolean
          nullable: true
        launcher_flight_number:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        launcher:
          $ref: '#/components/schemas/LauncherMini'
        previous_flight_date:
          type: string
          format: date-time
          nullable: true
        turn_around_time:
          type: string
          readOnly: true
      required:
      - id
      - launcher
      - turn_around_time
      - type
    LaunchStatus:
      type: object
      properties:
        id:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        name:
          type: string
          readOnly: true
        abbrev:
          type: string
          maxLength: 255
        description:
          type: string
          maxLength: 2048
      required:
      - id
      - name
    PayloadFlightNormal:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: normal
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        destination:
          type: string
          nullable: true
          maxLength: 255
        amount:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        payload:
          $ref: '#/components/schemas/PayloadNormal'
        launch:
          $ref: '#/components/schemas/LaunchNormal'
        landing:
          $ref: '#/components/schemas/Landing'
      required:
      - id
      - landing
      - launch
      - payload
      - response_mode
      - url
    Location:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: normal
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 255
        celestial_body:
          $ref: '#/components/schemas/CelestialBodyDetailed'
        active:
          type: boolean
        country:
          allOf:
          - $ref: '#/components/schemas/Country'
          nullable: true
        description:
          type: string
          nullable: true
          maxLength: 2048
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
          nullable: true
        map_image:
          type: string
          format: uri
          nullable: true
        longitude:
          type: number
          format: double
          nullable: true
        latitude:
          type: number
          format: double
          nullable: true
        timezone_name:
          type: string
          maxLength: 255
        total_launch_count:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        total_landing_count:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
      required:
      - celestial_body
      - country
      - id
      - image
      - response_mode
      - url
    LocationSerializerNoCelestialBody:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: normal
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 255
        active:
          type: boolean
        country:
          allOf:
          - $ref: '#/components/schemas/Country'
          nullable: true
        description:
          type: string
          nullable: true
          maxLength: 2048
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
          nullable: true
        map_image:
          type: string
          format: uri
          nullable: true
        longitude:
          type: number
          format: double
          nullable: true
        latitude:
          type: number
          format: double
          nullable: true
        timezone_name:
          type: string
          maxLength: 255
        total_launch_count:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        total_landing_count:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
      required:
      - country
      - id
      - image
      - response_mode
      - url
    AgencyNormal:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: normal
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 200
        abbrev:
          type: string
          maxLength: 255
        type:
          $ref: '#/components/schemas/AgencyType'
        featured:
          type: boolean
        country:
          type: array
          items:
            $ref: '#/components/schemas/Country'
        description:
          type: string
          nullable: true
          maxLength: 2048
        administrator:
          type: string
          nullable: true
          maxLength: 200
        founding_year:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        launchers:
          type: string
          maxLength: 500
        spacecraft:
          type: string
          maxLength: 500
        parent:
          type: string
          readOnly: true
          nullable: true
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
          nullable: true
        logo:
          allOf:
          - $ref: '#/components/schemas/Image'
          nullable: true
        social_logo:
          allOf:
          - $ref: '#/components/schemas/Image'
          nullable: true
      required:
      - country
      - id
      - image
      - logo
      - name
      - parent
      - response_mode
      - social_logo
      - type
      - url
    AstronautType:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
      required:
      - id
      - name
    LaunchNormal:
      type: object
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 2048
        response_mode:
          type: string
          readOnly: true
          default: normal
        slug:
          type: string
          pattern: ^[-a-zA-Z0-9_]+$
        launch_designator:
          type: string
          nullable: true
          maxLength: 255
        status:
          allOf:
          - $ref: '#/components/schemas/LaunchStatus'
          nullable: true
        last_updated:
          type: string
          format: date-time
        net:
          type: string
          format: date-time
        net_precision:
          allOf:
          - $ref: '#/components/schemas/NetPrecision'
          nullable: true
        window_end:
          type: string
          format: date-time
        window_start:
          type: string
          format: date-time
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
          readOnly: true
          nullable: true
        infographic:
          type: string
          readOnly: true
          nullable: true
        probability:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        weather_concerns:
          type: string
          nullable: true
          maxLength: 255
        failreason:
          type: string
          nullable: true
          maxLength: 2048
        hashtag:
          type: string
          nullable: true
          maxLength: 2048
        launch_service_provider:
          $ref: '#/components/schemas/AgencyMini'
        rocket:
          allOf:
          - $ref: '#/components/schemas/RocketNormal'
          nullable: true
        mission:
          allOf:
          - $ref: '#/components/schemas/Mission'
          nullable: true
        pad:
          allOf:
          - $ref: '#/components/schemas/Pad'
          nullable: true
        webcast_live:
          type: boolean
        program:
          type: array
          items:
            $ref: '#/components/schemas/ProgramNormal'
          nullable: true
        orbital_launch_attempt_count:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        location_launch_attempt_count:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        pad_launch_attempt_count:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        agency_launch_attempt_count:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        orbital_launch_attempt_count_year:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        location_launch_attempt_count_year:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        pad_launch_attempt_count_year:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        agency_launch_attempt_count_year:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
      required:
      - id
      - image
      - infographic
      - launch_service_provider
      - mission
      - net_precision
      - pad
      - program
      - response_mode
      - rocket
      - slug
      - status
      - url
    PayloadFlightNormalSerializerNoLanding:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: normal
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        destination:
          type: string
          nullable: true
          maxLength: 255
        amount:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        payload:
          $ref: '#/components/schemas/PayloadNormal'
        launch:
          $ref: '#/components/schemas/LaunchNormal'
      required:
      - id
      - launch
      - payload
      - response_mode
      - url
    ImageVariant:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        type:
          $ref: '#/components/schemas/ImageVariantType'
        image_url:
          type: string
          format: uri
      required:
      - id
      - image_url
      - type
    AgencyType:
      type: object
      properties:
        id:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        name:
          type: string
          maxLength: 255
      required:
      - id
    SpacecraftDetailed:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: normal
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 255
        serial_number:
          type: string
          nullable: true
          maxLength: 255
        is_placeholder:
          type: boolean
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
          readOnly: true
          nullable: true
        in_space:
          type: boolean
        time_in_space:
          type: string
          readOnly: true
          nullable: true
        time_docked:
          type: string
          readOnly: true
          nullable: true
        flights_count:
          type: integer
          nullable: true
        mission_ends_count:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        status:
          $ref: '#/components/schemas/SpacecraftStatus'
        description:
          type: string
          maxLength: 2048
        spacecraft_config:
          $ref: '#/components/schemas/SpacecraftConfigDetailed'
        fastest_turnaround:
          type: string
          readOnly: true
          nullable: true
      required:
      - description
      - fastest_turnaround
      - flights_count
      - id
      - image
      - name
      - response_mode
      - spacecraft_config
      - status
      - time_docked
      - time_in_space
      - url
    Landing:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        attempt:
          type: boolean
        success:
          type: boolean
          nullable: true
        description:
          type: string
          maxLength: 2048
        downrange_distance:
          type: number
          format: double
          nullable: true
          title: Downrange distance (km)
        landing_location:
          $ref: '#/components/schemas/LandingLocation'
        type:
          $ref: '#/components/schemas/LandingType'
      required:
      - id
      - landing_location
      - type
      - url
    PayloadFlightDetailedSerializerNoLanding:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: detailed
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        destination:
          type: string
          nullable: true
          maxLength: 255
        amount:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        payload:
          $ref: '#/components/schemas/PayloadDetailed'
        launch:
          $ref: '#/components/schemas/LaunchNormal'
        docking_events:
          type: array
          items:
            $ref: '#/components/schemas/DockingEventForChaserNormal'
      required:
      - docking_events
      - id
      - launch
      - payload
      - response_mode
      - url
    PayloadFlightMiniSerializerNoLanding:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: list
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        destination:
          type: string
          nullable: true
          maxLength: 255
        amount:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        payload:
          $ref: '#/components/schemas/PayloadMini'
        launch:
          $ref: '#/components/schemas/LaunchMini'
      required:
      - id
      - launch
      - payload
      - response_mode
      - url
    FirstStageDetailedSerializerNoLanding:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        type:
          type: string
          readOnly: true
        reused:
          type: boolean
          nullable: true
        launcher_flight_number:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        launcher:
          $ref: '#/components/schemas/LauncherNormal'
        previous_flight_date:
          type: string
          format: date-time
          nullable: true
        turn_around_time:
          type: string
          readOnly: true
        previous_flight:
          $ref: '#/components/schemas/LaunchNormal'
      required:
      - id
      - launcher
      - previous_flight
      - turn_around_time
      - type
    LandingEndpointDetailed:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        attempt:
          type: boolean
        success:
          type: boolean
          nullable: true
        description:
          type: string
          maxLength: 2048
        downrange_distance:
          type: number
          format: double
          nullable: true
          title: Downrange distance (km)
        landing_location:
          $ref: '#/components/schemas/LandingLocation'
        type:
          $ref: '#/components/schemas/LandingType'
        response_mode:
          type: string
          readOnly: true
          default: detailed
        firststage:
          $ref: '#/components/schemas/FirstStageDetailedSerializerNoLanding'
        spacecraftflight:
          $ref: '#/components/schemas/SpacecraftFlightDetailedSerializerNoLanding'
        payloadflight:
          $ref: '#/components/schemas/PayloadFlightDetailedSerializerNoLanding'
      required:
      - firststage
      - id
      - landing_location
      - payloadflight
      - response_mode
      - spacecraftflight
      - type
      - url
    AstronautDetailed:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 255
        status:
          $ref: '#/components/schemas/AstronautStatus'
        agency:
          allOf:
          - $ref: '#/components/schemas/AgencyMini'
          nullable: true
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
          nullable: true
        response_mode:
          type: string
          readOnly: true
          default: list
        type:
          $ref: '#/components/schemas/AstronautType'
        in_space:
          type: boolean
        time_in_space:
          type: string
          readOnly: true
          nullable: true
        eva_time:
          type: string
          readOnly: true
        age:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        date_of_birth:
          type: string
          format: date
          nullable: true
        date_of_death:
          type: string
          format: date
          nullable: true
        nationality:
          type: array
          items:
            $ref: '#/components/schemas/Country'
        bio:
          type: string
          maxLength: 2048
        wiki:
          type: string
          nullable: true
          maxLength: 255
        last_flight:
          type: string
          format: date-time
          nullable: true
        first_flight:
          type: string
          format: date-time
          nullable: true
        social_media_links:
          type: array
          items:
            $ref: '#/components/schemas/SocialMediaLink'
      required:
      - agency
      - bio
      - eva_time
      - id
      - image
      - name
      - nationality
      - response_mode
      - social_media_links
      - status
      - time_in_space
      - type
      - url
    LauncherConfigFamilyMini:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: list
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 200
      required:
      - id
      - name
      - response_mode
    VidURL:
      type: object
      properties:
        priority:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        source:
          type: string
          nullable: true
          maxLength: 200
        publisher:
          type: string
          nullable: true
          maxLength: 255
        title:
          type: string
          nullable: true
          maxLength: 200
        description:
          type: string
          nullable: true
          maxLength: 350
        feature_image:
          type: string
          format: uri
          nullable: true
          maxLength: 200
        url:
          type: string
          format: uri
        type:
          allOf:
          - $ref: '#/components/schemas/VidURLType'
          nullable: true
        language:
          allOf:
          - $ref: '#/components/schemas/Language'
          nullable: true
        start_time:
          type: string
          format: date-time
          nullable: true
        end_time:
          type: string
          format: date-time
          nullable: true
        live:
          type: boolean
      required:
      - language
      - type
      - url
    AstronautRole:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        role:
          type: string
          maxLength: 255
        priority:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
      required:
      - id
      - role
    ProgramMini:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: list
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 255
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
          nullable: true
        info_url:
          type: string
          format: uri
          nullable: true
          maxLength: 200
        wiki_url:
          type: string
          format: uri
          nullable: true
          maxLength: 200
      required:
      - id
      - image
      - name
      - response_mode
      - url
    AstronautFlight:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        role:
          $ref: '#/components/schemas/AstronautRole'
        astronaut:
          $ref: '#/components/schemas/AstronautDetailed'
      required:
      - astronaut
      - id
      - role
    DockingLocation:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
        spacestation:
          $ref: '#/components/schemas/SpaceStationMini'
        spacecraft:
          $ref: '#/components/schemas/SpacecraftConfigNormal'
        payload:
          $ref: '#/components/schemas/PayloadMini'
      required:
      - id
      - name
      - payload
      - spacecraft
      - spacestation
    AgencyMini:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: list
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 200
        abbrev:
          type: string
          maxLength: 255
        type:
          $ref: '#/components/schemas/AgencyType'
      required:
      - id
      - name
      - response_mode
      - type
      - url
    CelestialBodyType:
      type: object
      properties:
        id:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        name:
          type: string
          maxLength: 255
      required:
      - id
    ProgramType:
      type: object
      properties:
        id:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        name:
          type: string
          maxLength: 255
      required:
      - id
    SpaceStationType:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
      required:
      - id
      - name
    LandingEndpointList:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        attempt:
          type: boolean
        success:
          type: boolean
          nullable: true
        description:
          type: string
          maxLength: 2048
        downrange_distance:
          type: number
          format: double
          nullable: true
          title: Downrange distance (km)
        landing_location:
          $ref: '#/components/schemas/LandingLocation'
        type:
          $ref: '#/components/schemas/LandingType'
        response_mode:
          type: string
          readOnly: true
          default: list
        firststage:
          $ref: '#/components/schemas/FirstStageMini'
        spacecraftflight:
          $ref: '#/components/schemas/SpacecraftFlightMiniSerializerNoLanding'
        payloadflight:
          $ref: '#/components/schemas/PayloadFlightMiniSerializerNoLanding'
      required:
      - firststage
      - id
      - landing_location
      - payloadflight
      - response_mode
      - spacecraftflight
      - type
      - url
    SpacecraftStatus:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
      required:
      - id
      - name
    PolymorphicLandingEndpoint:
      oneOf:
      - $ref: '#/components/schemas/LandingEndpointList'
      - $ref: '#/components/schemas/LandingEndpointNormal'
      - $ref: '#/components/schemas/LandingEndpointDetailed'
      discriminator:
        propertyName: response_mode
        mapping:
          list: '#/components/schemas/LandingEndpointList'
          normal: '#/components/schemas/LandingEndpointNormal'
          detailed: '#/components/schemas/LandingEndpointDetailed'
    SpacecraftConfigFamilyMini:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: list
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 200
      required:
      - id
      - name
      - response_mode
    MissionPatch:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 200
        priority:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        image_url:
          type: string
          format: uri
        agency:
          allOf:
          - $ref: '#/components/schemas/AgencyMini'
          nullable: true
        response_mode:
          type: string
          readOnly: true
          default: normal
      required:
      - agency
      - id
      - image_url
      - name
      - response_mode
    SpacecraftFlightDetailedSerializerNoLanding:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        destination:
          type: string
          nullable: true
          maxLength: 255
        mission_end:
          type: string
          format: date-time
          nullable: true
        spacecraft:
          $ref: '#/components/schemas/SpacecraftDetailed'
        launch:
          $ref: '#/components/schemas/LaunchNormal'
        duration:
          type: string
          readOnly: true
        turn_around_time:
          type: string
          readOnly: true
        response_mode:
          type: string
          readOnly: true
          default: detailed
        launch_crew:
          type: array
          items:
            $ref: '#/components/schemas/AstronautFlight'
        onboard_crew:
          type: array
          items:
            $ref: '#/components/schemas/AstronautFlight'
        landing_crew:
          type: array
          items:
            $ref: '#/components/schemas/AstronautFlight'
        docking_events:
          type: array
          items:
            $ref: '#/components/schemas/DockingEventForChaserNormal'
      required:
      - docking_events
      - duration
      - id
      - landing_crew
      - launch
      - launch_crew
      - onboard_crew
      - response_mode
      - spacecraft
      - turn_around_time
      - url
    SpacecraftFlightNormal:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        destination:
          type: string
          nullable: true
          maxLength: 255
        mission_end:
          type: string
          format: date-time
          nullable: true
        spacecraft:
          $ref: '#/components/schemas/SpacecraftNormal'
        launch:
          $ref: '#/components/schemas/LaunchNormal'
        landing:
          $ref: '#/components/schemas/Landing'
        duration:
          type: string
          readOnly: true
        turn_around_time:
          type: string
          readOnly: true
        response_mode:
          type: string
          readOnly: true
          default: normal
      required:
      - duration
      - id
      - landing
      - launch
      - response_mode
      - spacecraft
      - turn_around_time
      - url
    CelestialBodyNormal:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: normal
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
        type:
          $ref: '#/components/schemas/CelestialBodyType'
        diameter:
          type: number
          format: double
          nullable: true
          description: m
        mass:
          type: number
          format: double
          nullable: true
          description: kg
        gravity:
          type: number
          format: double
          nullable: true
          description: m/s^2
        length_of_day:
          type: string
          nullable: true
        atmosphere:
          type: boolean
        image:
          $ref: '#/components/schemas/Image'
        description:
          type: string
          nullable: true
        wiki_url:
          type: string
          format: uri
          nullable: true
          maxLength: 200
      required:
      - id
      - image
      - name
      - response_mode
      - type
    LandingEndpointNormal:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        attempt:
          type: boolean
        success:
          type: boolean
          nullable: true
        description:
          type: string
          maxLength: 2048
        downrange_distance:
          type: number
          format: double
          nullable: true
          title: Downrange distance (km)
        landing_location:
          $ref: '#/components/schemas/LandingLocation'
        type:
          $ref: '#/components/schemas/LandingType'
        response_mode:
          type: string
          readOnly: true
          default: normal
        firststage:
          $ref: '#/components/schemas/FirstStageNormalSerializerNoLanding'
        spacecraftflight:
          $ref: '#/components/schemas/SpacecraftFlightNormalSerializerNoLanding'
        payloadflight:
          $ref: '#/components/schemas/PayloadFlightNormalSerializerNoLanding'
      required:
      - firststage
      - id
      - landing_location
      - payloadflight
      - response_mode
      - spacecraftflight
      - type
      - url
    LauncherNormal:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: normal
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        flight_proven:
          type: boolean
        serial_number:
          type: string
          nullable: true
          maxLength: 10
        is_placeholder:
          type: boolean
        status:
          allOf:
          - $ref: '#/components/schemas/LauncherStatus'
          nullable: true
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
          readOnly: true
          nullable: true
        details:
          type: string
          maxLength: 2048
        successful_landings:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        attempted_landings:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        flights:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        last_launch_date:
          type: string
          format: date-time
          nullable: true
        first_launch_date:
          type: string
          format: date-time
          nullable: true
        fastest_turnaround:
          type: string
          readOnly: true
          nullable: true
      required:
      - fastest_turnaround
      - id
      - image
      - response_mode
      - status
      - url
    InfoURL:
      type: object
      properties:
        priority:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        source:
          type: string
          nullable: true
          maxLength: 200
        title:
          type: string
          nullable: true
          maxLength: 200
        description:
          type: string
          nullable: true
          maxLength: 350
        feature_image:
          type: string
          format: uri
          nullable: true
          maxLength: 200
        url:
          type: string
          format: uri
        type:
          allOf:
          - $ref: '#/components/schemas/InfoURLType'
          nullable: true
        language:
          allOf:
          - $ref: '#/components/schemas/Language'
          nullable: true
      required:
      - language
      - type
      - url
    SpacecraftConfigDetailed:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: detailed
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 200
        type:
          $ref: '#/components/schemas/SpacecraftConfigType'
        agency:
          $ref: '#/components/schemas/AgencyNormal'
        family:
          type: array
          items:
            $ref: '#/components/schemas/SpacecraftConfigFamilyDetailed'
          nullable: true
        in_use:
          type: boolean
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
          nullable: true
        capability:
          type: string
          maxLength: 2048
        history:
          type: string
          maxLength: 1000
        details:
          type: string
          maxLength: 1000
        maiden_flight:
          type: string
          format: date
          nullable: true
        height:
          type: number
          format: double
          nullable: true
          title: Length (m)
        diameter:
          type: number
          format: double
          nullable: true
          title: Diameter (m)
        human_rated:
          type: boolean
        crew_capacity:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        payload_capacity:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
          title: Payload Capacity (kg)
        payload_return_capacity:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
          title: Payload Return Capacity (kg)
        flight_life:
          type: string
          nullable: true
          maxLength: 2048
        wiki_link:
          type: string
          format: uri
          maxLength: 200
        info_link:
          type: string
          format: uri
          maxLength: 200
        spacecraft_flown:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        total_launch_count:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        successful_launches:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        failed_launches:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        attempted_landings:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        successful_landings:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        failed_landings:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        fastest_turnaround:
          type: string
          readOnly: true
          nullable: true
      required:
      - agency
      - family
      - fastest_turnaround
      - id
      - image
      - name
      - response_mode
      - type
      - url
    PayloadDetailed:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: detailed
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 1048
        type:
          $ref: '#/components/schemas/PayloadType'
        manufacturer:
          $ref: '#/components/schemas/AgencyDetailed'
        operator:
          $ref: '#/components/schemas/AgencyDetailed'
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
          nullable: true
        wiki_link:
          type: string
          format: uri
          maxLength: 200
        info_link:
          type: string
          format: uri
          maxLength: 200
        program:
          type: array
          items:
            $ref: '#/components/schemas/ProgramNormal'
        cost:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
          title: Cost (USD)
        mass:
          type: number
          format: double
          nullable: true
          title: Mass (kg)
        description:
          type: string
          maxLength: 2048
      required:
      - id
      - image
      - manufacturer
      - operator
      - program
      - response_mode
      - type
    Language:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
        code:
          type: string
          description: ISO 639-1 (two-letter) code
          maxLength: 255
      required:
      - code
      - id
      - name
    PayloadMini:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: list
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 1048
        type:
          $ref: '#/components/schemas/PayloadType'
        manufacturer:
          $ref: '#/components/schemas/AgencyMini'
        operator:
          $ref: '#/components/schemas/AgencyMini'
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
          nullable: true
      required:
      - id
      - image
      - manufacturer
      - operator
      - response_mode
      - type
    SpacecraftNormal:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: normal
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 255
        serial_number:
          type: string
          nullable: true
          maxLength: 255
        is_placeholder:
          type: boolean
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
          readOnly: true
          nullable: true
        in_space:
          type: boolean
        time_in_space:
          type: string
          readOnly: true
          nullable: true
        time_docked:
          type: string
          readOnly: true
          nullable: true
        flights_count:
          type: integer
          nullable: true
        mission_ends_count:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        status:
          $ref: '#/components/schemas/SpacecraftStatus'
        description:
          type: string
          maxLength: 2048
        spacecraft_config:
          $ref: '#/components/schemas/SpacecraftConfigNormal'
        fastest_turnaround:
          type: string
          readOnly: true
          nullable: true
      required:
      - description
      - fastest_turnaround
      - flights_count
      - id
      - image
      - name
      - response_mode
      - spacecraft_config
      - status
      - time_docked
      - time_in_space
      - url
    FirstStageNormalSerializerNoLanding:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        type:
          type: string
          readOnly: true
        reused:
          type: boolean
          nullable: true
        launcher_flight_number:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        launcher:
          $ref: '#/components/schemas/LauncherNormal'
        previous_flight_date:
          type: string
          format: date-time
          nullable: true
        turn_around_time:
          type: string
          readOnly: true
        previous_flight:
          $ref: '#/components/schemas/LaunchMini'
      required:
      - id
      - launcher
      - previous_flight
      - turn_around_time
      - type
    LauncherStatus:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 50
      required:
      - id
  securitySchemes:
    Token_Authentication:
      type: apiKey
      in: header
      name: Authorization
      description: "Token authentication uses a header of Authorization and the value with a required prefix \"Token\" followed by a space and then the apiKey. \n\n Example: `Authorization: Token 9944b09199c62bcf9418ad846dd0e4bbdfc6ee4b`"
    cookieAuth:
      type: apiKey
      in: cookie
      name: sessionid
