openapi: 3.0.3
info:
  title: TheSpaceDevs LL2 Configurations API
  version: v2.3.0
  description: Rocket launches, space events and crewed spaceflight. The Launch Library 2 API is the official successor of the popular Launch Library API. It keeps its core features whilst also including everything the broader Space Launch Now API had to offer. The result is a large database delivering a more complete experience for each rocket launch and ...
  license:
    name: Apache License 2.0
servers:
- url: https://ll.thespacedevs.com/
  description: Production API (� rate-limited)
- url: https://lldev.thespacedevs.com/
  description: Development API (stale and limited data, for development testing only)
tags:
- name: Configurations
paths:
  /2.3.0/config/agency_types/:
    get:
      operationId: config_agency_types_list
      summary: List Agency Types
      description: '#### Number of results

        Use `limit` to control the number of objects in the response (max 100)


        Example - [/config/agency_types/?limit=2](./?limit=2)


        #### Format

        Switch to JSON output - [/config/agency_types/?format=json](./?format=json)


        #### Help

        Find all the FAQs and support links on the documentation homepage - [ll.thespacedevs.com/docs](https://ll.thespacedevs.com/docs/)'
      parameters:
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - name: ordering
        required: false
        in: query
        description: Which field to use when ordering the results.
        schema:
          type: string
      - name: search
        required: false
        in: query
        description: A search term.
        schema:
          type: string
      tags:
      - Configurations
      security:
      - cookieAuth: []
      - Token_Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedAgencyTypeList'
          description: ''
  /2.3.0/config/agency_types/{id}/:
    get:
      operationId: config_agency_types_retrieve
      summary: Get Agency Type
      description: '#### Number of results

        Use `limit` to control the number of objects in the response (max 100)


        Example - [/config/agency_types/?limit=2](./?limit=2)


        #### Format

        Switch to JSON output - [/config/agency_types/?format=json](./?format=json)


        #### Help

        Find all the FAQs and support links on the documentation homepage - [ll.thespacedevs.com/docs](https://ll.thespacedevs.com/docs/)'
      parameters:
      - in: path
        name: id
        schema:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        description: A unique value identifying this agency type.
        required: true
      tags:
      - Configurations
      security:
      - cookieAuth: []
      - Token_Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgencyType'
          description: ''
  /2.3.0/config/astronaut_roles/:
    get:
      operationId: config_astronaut_roles_list
      summary: List Astronaut Roles
      description: '#### Number of results

        Use `limit` to control the number of objects in the response (max 100)


        Example - [/config/astronaut_roles/?limit=2](./?limit=2)


        #### Format

        Switch to JSON output - [/config/astronaut_roles/?format=json](./?format=json)


        #### Help

        Find all the FAQs and support links on the documentation homepage - [ll.thespacedevs.com/docs](https://ll.thespacedevs.com/docs/)'
      parameters:
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - name: ordering
        required: false
        in: query
        description: Which field to use when ordering the results.
        schema:
          type: string
      - name: search
        required: false
        in: query
        description: A search term.
        schema:
          type: string
      tags:
      - Configurations
      security:
      - cookieAuth: []
      - Token_Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedAstronautRoleList'
          description: ''
  /2.3.0/config/astronaut_roles/{id}/:
    get:
      operationId: config_astronaut_roles_retrieve
      summary: Get Astronaut Role
      description: '#### Number of results

        Use `limit` to control the number of objects in the response (max 100)


        Example - [/config/astronaut_roles/?limit=2](./?limit=2)


        #### Format

        Switch to JSON output - [/config/astronaut_roles/?format=json](./?format=json)


        #### Help

        Find all the FAQs and support links on the documentation homepage - [ll.thespacedevs.com/docs](https://ll.thespacedevs.com/docs/)'
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this Astronaut Role.
        required: true
      tags:
      - Configurations
      security:
      - cookieAuth: []
      - Token_Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AstronautRole'
          description: ''
  /2.3.0/config/astronaut_statuses/:
    get:
      operationId: config_astronaut_statuses_list
      summary: List Astronaut Statuses
      description: '#### Number of results

        Use `limit` to control the number of objects in the response (max 100)


        Example - [/config/astronaut_statuses/?limit=2](./?limit=2)


        #### Format

        Switch to JSON output - [/config/astronaut_statuses/?format=json](./?format=json)


        #### Help

        Find all the FAQs and support links on the documentation homepage - [ll.thespacedevs.com/docs](https://ll.thespacedevs.com/docs/)'
      parameters:
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - name: ordering
        required: false
        in: query
        description: Which field to use when ordering the results.
        schema:
          type: string
      - name: search
        required: false
        in: query
        description: A search term.
        schema:
          type: string
      tags:
      - Configurations
      security:
      - cookieAuth: []
      - Token_Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedAstronautStatusList'
          description: ''
  /2.3.0/config/astronaut_statuses/{id}/:
    get:
      operationId: config_astronaut_statuses_retrieve
      summary: Get Astronaut Status
      description: '#### Number of results

        Use `limit` to control the number of objects in the response (max 100)


        Example - [/config/astronaut_statuses/?limit=2](./?limit=2)


        #### Format

        Switch to JSON output - [/config/astronaut_statuses/?format=json](./?format=json)


        #### Help

        Find all the FAQs and support links on the documentation homepage - [ll.thespacedevs.com/docs](https://ll.thespacedevs.com/docs/)'
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this Astronaut Status.
        required: true
      tags:
      - Configurations
      security:
      - cookieAuth: []
      - Token_Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AstronautStatus'
          description: ''
  /2.3.0/config/astronaut_types/:
    get:
      operationId: config_astronaut_types_list
      summary: List Astronaut Types
      description: '#### Number of results

        Use `limit` to control the number of objects in the response (max 100)


        Example - [/config/astronaut_types/?limit=2](./?limit=2)


        #### Format

        Switch to JSON output - [/config/astronaut_types/?format=json](./?format=json)


        #### Help

        Find all the FAQs and support links on the documentation homepage - [ll.thespacedevs.com/docs](https://ll.thespacedevs.com/docs/)'
      parameters:
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - name: ordering
        required: false
        in: query
        description: Which field to use when ordering the results.
        schema:
          type: string
      - name: search
        required: false
        in: query
        description: A search term.
        schema:
          type: string
      tags:
      - Configurations
      security:
      - cookieAuth: []
      - Token_Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedAstronautTypeList'
          description: ''
  /2.3.0/config/astronaut_types/{id}/:
    get:
      operationId: config_astronaut_types_retrieve
      summary: Get Astronaut Type
      description: '#### Number of results

        Use `limit` to control the number of objects in the response (max 100)


        Example - [/config/astronaut_types/?limit=2](./?limit=2)


        #### Format

        Switch to JSON output - [/config/astronaut_types/?format=json](./?format=json)


        #### Help

        Find all the FAQs and support links on the documentation homepage - [ll.thespacedevs.com/docs](https://ll.thespacedevs.com/docs/)'
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this Astronaut Type.
        required: true
      tags:
      - Configurations
      security:
      - cookieAuth: []
      - Token_Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AstronautType'
          description: ''
  /2.3.0/config/celestial_body_types/:
    get:
      operationId: config_celestial_body_types_list
      summary: List Celestial Body Types
      description: '#### Number of results

        Use `limit` to control the number of objects in the response (max 100)


        Example - [/config/celestial_body_types/?limit=2](./?limit=2)


        #### Format

        Switch to JSON output - [/config/celestial_body_types/?format=json](./?format=json)


        #### Help

        Find all the FAQs and support links on the documentation homepage - [ll.thespacedevs.com/docs](https://ll.thespacedevs.com/docs/)'
      parameters:
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - name: ordering
        required: false
        in: query
        description: Which field to use when ordering the results.
        schema:
          type: string
      - name: search
        required: false
        in: query
        description: A search term.
        schema:
          type: string
      tags:
      - Configurations
      security:
      - cookieAuth: []
      - Token_Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedCelestialBodyTypeList'
          description: ''
  /2.3.0/config/celestial_body_types/{id}/:
    get:
      operationId: config_celestial_body_types_retrieve
      summary: Get Celestial Body Type
      description: '#### Number of results

        Use `limit` to control the number of objects in the response (max 100)


        Example - [/config/celestial_body_types/?limit=2](./?limit=2)


        #### Format

        Switch to JSON output - [/config/celestial_body_types/?format=json](./?format=json)


        #### Help

        Find all the FAQs and support links on the documentation homepage - [ll.thespacedevs.com/docs](https://ll.thespacedevs.com/docs/)'
      parameters:
      - in: path
        name: id
        schema:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        description: A unique value identifying this celestial body type.
        required: true
      tags:
      - Configurations
      security:
      - cookieAuth: []
      - Token_Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CelestialBodyType'
          description: ''
  /2.3.0/config/countries/:
    get:
      operationId: config_countries_list
      summary: List Countries
      description: '#### Number of results

        Use `limit` to control the number of objects in the response (max 100)


        Example - [/config/countries/?limit=2](./?limit=2)


        #### Format

        Switch to JSON output - [/config/countries/?format=json](./?format=json)


        #### Help

        Find all the FAQs and support links on the documentation homepage - [ll.thespacedevs.com/docs](https://ll.thespacedevs.com/docs/)'
      parameters:
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - name: ordering
        required: false
        in: query
        description: Which field to use when ordering the results.
        schema:
          type: string
      - name: search
        required: false
        in: query
        description: A search term.
        schema:
          type: string
      tags:
      - Configurations
      security:
      - cookieAuth: []
      - Token_Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedCountryList'
          description: ''
  /2.3.0/config/countries/{id}/:
    get:
      operationId: config_countries_retrieve
      summary: Get Country
      description: '#### Number of results

        Use `limit` to control the number of objects in the response (max 100)


        Example - [/config/countries/?limit=2](./?limit=2)


        #### Format

        Switch to JSON output - [/config/countries/?format=json](./?format=json)


        #### Help

        Find all the FAQs and support links on the documentation homepage - [ll.thespacedevs.com/docs](https://ll.thespacedevs.com/docs/)'
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this Country.
        required: true
      tags:
      - Configurations
      security:
      - cookieAuth: []
      - Token_Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Country'
          description: ''
  /2.3.0/config/docking_locations/:
    get:
      operationId: config_docking_locations_list
      summary: List Docking Locations
      description: '#### Number of results

        Use `limit` to control the number of objects in the response (max 100)


        Example - [/config/docking_locations/?limit=2](./?limit=2)


        #### Format

        Switch to JSON output - [/config/docking_locations/?format=json](./?format=json)


        #### Help

        Find all the FAQs and support links on the documentation homepage - [ll.thespacedevs.com/docs](https://ll.thespacedevs.com/docs/)'
      parameters:
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - name: ordering
        required: false
        in: query
        description: Which field to use when ordering the results.
        schema:
          type: string
      - name: search
        required: false
        in: query
        description: A search term.
        schema:
          type: string
      tags:
      - Configurations
      security:
      - cookieAuth: []
      - Token_Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedDockingLocationList'
          description: ''
  /2.3.0/config/docking_locations/{id}/:
    get:
      operationId: config_docking_locations_retrieve
      summary: Get Docking Location
      description: '#### Number of results

        Use `limit` to control the number of objects in the response (max 100)


        Example - [/config/docking_locations/?limit=2](./?limit=2)


        #### Format

        Switch to JSON output - [/config/docking_locations/?format=json](./?format=json)


        #### Help

        Find all the FAQs and support links on the documentation homepage - [ll.thespacedevs.com/docs](https://ll.thespacedevs.com/docs/)'
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this Docking Location.
        required: true
      tags:
      - Configurations
      security:
      - cookieAuth: []
      - Token_Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DockingLocation'
          description: ''
  /2.3.0/config/event_types/:
    get:
      operationId: config_event_types_list
      summary: List Event Types
      description: '#### Number of results

        Use `limit` to control the number of objects in the response (max 100)


        Example - [/config/event_types/?limit=2](./?limit=2)


        #### Format

        Switch to JSON output - [/config/event_types/?format=json](./?format=json)


        #### Help

        Find all the FAQs and support links on the documentation homepage - [ll.thespacedevs.com/docs](https://ll.thespacedevs.com/docs/)'
      parameters:
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - name: ordering
        required: false
        in: query
        description: Which field to use when ordering the results.
        schema:
          type: string
      - name: search
        required: false
        in: query
        description: A search term.
        schema:
          type: string
      tags:
      - Configurations
      security:
      - cookieAuth: []
      - Token_Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedEventTypeList'
          description: ''
  /2.3.0/config/event_types/{id}/:
    get:
      operationId: config_event_types_retrieve
      summary: Get Event Type
      description: '#### Number of results

        Use `limit` to control the number of objects in the response (max 100)


        Example - [/config/event_types/?limit=2](./?limit=2)


        #### Format

        Switch to JSON output - [/config/event_types/?format=json](./?format=json)


        #### Help

        Find all the FAQs and support links on the documentation homepage - [ll.thespacedevs.com/docs](https://ll.thespacedevs.com/docs/)'
      parameters:
      - in: path
        name: id
        schema:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        description: A unique value identifying this event type.
        required: true
      tags:
      - Configurations
      security:
      - cookieAuth: []
      - Token_Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventType'
          description: ''
  /2.3.0/config/first_stage_types/:
    get:
      operationId: config_first_stage_types_list
      summary: List First Stage Types
      description: '#### Number of results

        Use `limit` to control the number of objects in the response (max 100)


        Example - [/config/first_stage_types/?limit=2](./?limit=2)


        #### Format

        Switch to JSON output - [/config/first_stage_types/?format=json](./?format=json)


        #### Help

        Find all the FAQs and support links on the documentation homepage - [ll.thespacedevs.com/docs](https://ll.thespacedevs.com/docs/)'
      parameters:
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - name: ordering
        required: false
        in: query
        description: Which field to use when ordering the results.
        schema:
          type: string
      - name: search
        required: false
        in: query
        description: A search term.
        schema:
          type: string
      tags:
      - Configurations
      security:
      - cookieAuth: []
      - Token_Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedFirstStageTypeList'
          description: ''
  /2.3.0/config/first_stage_types/{id}/:
    get:
      operationId: config_first_stage_types_retrieve
      summary: Get First Stage Type
      description: '#### Number of results

        Use `limit` to control the number of objects in the response (max 100)


        Example - [/config/first_stage_types/?limit=2](./?limit=2)


        #### Format

        Switch to JSON output - [/config/first_stage_types/?format=json](./?format=json)


        #### Help

        Find all the FAQs and support links on the documentation homepage - [ll.thespacedevs.com/docs](https://ll.thespacedevs.com/docs/)'
      parameters:
      - in: path
        name: id
        schema:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        description: A unique value identifying this first stage type.
        required: true
      tags:
      - Configurations
      security:
      - cookieAuth: []
      - Token_Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirstStageType'
          description: ''
  /2.3.0/config/image_licenses/:
    get:
      operationId: config_image_licenses_list
      summary: List Image Licenses
      description: '#### Number of results

        Use `limit` to control the number of objects in the response (max 100)


        Example - [/config/image_licenses/?limit=2](./?limit=2)


        #### Format

        Switch to JSON output - [/config/image_licenses/?format=json](./?format=json)


        #### Help

        Find all the FAQs and support links on the documentation homepage - [ll.thespacedevs.com/docs](https://ll.thespacedevs.com/docs/)'
      parameters:
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - name: ordering
        required: false
        in: query
        description: Which field to use when ordering the results.
        schema:
          type: string
      - name: search
        required: false
        in: query
        description: A search term.
        schema:
          type: string
      tags:
      - Configurations
      security:
      - cookieAuth: []
      - Token_Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedImageLicenseList'
          description: ''
  /2.3.0/config/image_licenses/{id}/:
    get:
      operationId: config_image_licenses_retrieve
      summary: Get Image License
      description: '#### Number of results

        Use `limit` to control the number of objects in the response (max 100)


        Example - [/config/image_licenses/?limit=2](./?limit=2)


        #### Format

        Switch to JSON output - [/config/image_licenses/?format=json](./?format=json)


        #### Help

        Find all the FAQs and support links on the documentation homepage - [ll.thespacedevs.com/docs](https://ll.thespacedevs.com/docs/)'
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this image license.
        required: true
      tags:
      - Configurations
      security:
      - cookieAuth: []
      - Token_Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageLicense'
          description: ''
  /2.3.0/config/image_variant_types/:
    get:
      operationId: config_image_variant_types_list
      summary: List Image Variant Types
      description: '#### Number of results

        Use `limit` to control the number of objects in the response (max 100)


        Example - [/config/image_variant_types/?limit=2](./?limit=2)


        #### Format

        Switch to JSON output - [/config/image_variant_types/?format=json](./?format=json)


        #### Help

        Find all the FAQs and support links on the documentation homepage - [ll.thespacedevs.com/docs](https://ll.thespacedevs.com/docs/)'
      parameters:
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - name: ordering
        required: false
        in: query
        description: Which field to use when ordering the results.
        schema:
          type: string
      - name: search
        required: false
        in: query
        description: A search term.
        schema:
          type: string
      tags:
      - Configurations
      security:
      - cookieAuth: []
      - Token_Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedImageVariantTypeList'
          description: ''
  /2.3.0/config/image_variant_types/{id}/:
    get:
      operationId: config_image_variant_types_retrieve
      summary: Get Image Variant Type
      description: '#### Number of results

        Use `limit` to control the number of objects in the response (max 100)


        Example - [/config/image_variant_types/?limit=2](./?limit=2)


        #### Format

        Switch to JSON output - [/config/image_variant_types/?format=json](./?format=json)


        #### Help

        Find all the FAQs and support links on the documentation homepage - [ll.thespacedevs.com/docs](https://ll.thespacedevs.com/docs/)'
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this image variant type.
        required: true
      tags:
      - Configurations
      security:
      - cookieAuth: []
      - Token_Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageVariantType'
          description: ''
  /2.3.0/config/infourl_types/:
    get:
      operationId: config_infourl_types_list
      summary: List Info URL Types
      description: '#### Number of results

        Use `limit` to control the number of objects in the response (max 100)


        Example - [/config/infourl_types/?limit=2](./?limit=2)


        #### Format

        Switch to JSON output - [/config/infourl_types/?format=json](./?format=json)


        #### Help

        Find all the FAQs and support links on the documentation homepage - [ll.thespacedevs.com/docs](https://ll.thespacedevs.com/docs/)'
      parameters:
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - name: ordering
        required: false
        in: query
        description: Which field to use when ordering the results.
        schema:
          type: string
      - name: search
        required: false
        in: query
        description: A search term.
        schema:
          type: string
      tags:
      - Configurations
      security:
      - cookieAuth: []
      - Token_Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedInfoURLTypeList'
          description: ''
  /2.3.0/config/infourl_types/{id}/:
    get:
      operationId: config_infourl_types_retrieve
      summary: Get Info URL Type
      description: '#### Number of results

        Use `limit` to control the number of objects in the response (max 100)


        Example - [/config/infourl_types/?limit=2](./?limit=2)


        #### Format

        Switch to JSON output - [/config/infourl_types/?format=json](./?format=json)


        #### Help

        Find all the FAQs and support links on the documentation homepage - [ll.thespacedevs.com/docs](https://ll.thespacedevs.com/docs/)'
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this Info URL Type.
        required: true
      tags:
      - Configurations
      security:
      - cookieAuth: []
      - Token_Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InfoURLType'
          description: ''
  /2.3.0/config/landing_locations/:
    get:
      operationId: config_landing_locations_list
      summary: List Landing Locations
      description: '#### Number of results

        Use `limit` to control the number of objects in the response (max 100)


        Example - [/config/landing_locations/?limit=2](./?limit=2)


        #### Format

        Switch to JSON output - [/config/landing_locations/?format=json](./?format=json)


        #### Help

        Find all the FAQs and support links on the documentation homepage - [ll.thespacedevs.com/docs](https://ll.thespacedevs.com/docs/)'
      parameters:
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - name: ordering
        required: false
        in: query
        description: Which field to use when ordering the results.
        schema:
          type: string
      - name: search
        required: false
        in: query
        description: A search term.
        schema:
          type: string
      tags:
      - Configurations
      security:
      - cookieAuth: []
      - Token_Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedLandingLocationList'
          description: ''
  /2.3.0/config/landing_locations/{id}/:
    get:
      operationId: config_landing_locations_retrieve
      summary: Get Landing Location
      description: '#### Number of results

        Use `limit` to control the number of objects in the response (max 100)


        Example - [/config/landing_locations/?limit=2](./?limit=2)


        #### Format

        Switch to JSON output - [/config/landing_locations/?format=json](./?format=json)


        #### Help

        Find all the FAQs and support links on the documentation homepage - [ll.thespacedevs.com/docs](https://ll.thespacedevs.com/docs/)'
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this landing location.
        required: true
      tags:
      - Configurations
      security:
      - cookieAuth: []
      - Token_Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LandingLocation'
          description: ''
  /2.3.0/config/landing_types/:
    get:
      operationId: config_landing_types_list
      summary: List Landing Types
      description: '#### Number of results

        Use `limit` to control the number of objects in the response (max 100)


        Example - [/config/landing_types/?limit=2](./?limit=2)


        #### Format

        Switch to JSON output - [/config/landing_types/?format=json](./?format=json)


        #### Help

        Find all the FAQs and support links on the documentation homepage - [ll.thespacedevs.com/docs](https://ll.thespacedevs.com/docs/)'
      parameters:
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - name: ordering
        required: false
        in: query
        description: Which field to use when ordering the results.
        schema:
          type: string
      - name: search
        required: false
        in: query
        description: A search term.
        schema:
          type: string
      tags:
      - Configurations
      security:
      - cookieAuth: []
      - Token_Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedLandingTypeList'
          description: ''
  /2.3.0/config/landing_types/{id}/:
    get:
      operationId: config_landing_types_retrieve
      summary: Get Landing Type
      description: '#### Number of results

        Use `limit` to control the number of objects in the response (max 100)


        Example - [/config/landing_types/?limit=2](./?limit=2)


        #### Format

        Switch to JSON output - [/config/landing_types/?format=json](./?format=json)


        #### Help

        Find all the FAQs and support links on the documentation homepage - [ll.thespacedevs.com/docs](https://ll.thespacedevs.com/docs/)'
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this landing type.
        required: true
      tags:
      - Configurations
      security:
      - cookieAuth: []
      - Token_Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LandingType'
          description: ''
  /2.3.0/config/languages/:
    get:
      operationId: config_languages_list
      summary: List Languages
      description: '#### Number of results

        Use `limit` to control the number of objects in the response (max 100)


        Example - [/config/languages/?limit=2](./?limit=2)


        #### Format

        Switch to JSON output - [/config/languages/?format=json](./?format=json)


        #### Help

        Find all the FAQs and support links on the documentation homepage - [ll.thespacedevs.com/docs](https://ll.thespacedevs.com/docs/)'
      parameters:
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - name: ordering
        required: false
        in: query
        description: Which field to use when ordering the results.
        schema:
          type: string
      - name: search
        required: false
        in: query
        description: A search term.
        schema:
          type: string
      tags:
      - Configurations
      security:
      - cookieAuth: []
      - Token_Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedLanguageList'
          description: ''
  /2.3.0/config/languages/{id}/:
    get:
      operationId: config_languages_retrieve
      summary: Get Language
      description: '#### Number of results

        Use `limit` to control the number of objects in the response (max 100)


        Example - [/config/languages/?limit=2](./?limit=2)


        #### Format

        Switch to JSON output - [/config/languages/?format=json](./?format=json)


        #### Help

        Find all the FAQs and support links on the documentation homepage - [ll.thespacedevs.com/docs](https://ll.thespacedevs.com/docs/)'
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this Language.
        required: true
      tags:
      - Configurations
      security:
      - cookieAuth: []
      - Token_Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Language'
          description: ''
  /2.3.0/config/launch_statuses/:
    get:
      operationId: config_launch_statuses_list
      summary: List Launch Statuses
      description: '#### Number of results

        Use `limit` to control the number of objects in the response (max 100)


        Example - [/config/launch_statuses/?limit=2](./?limit=2)


        #### Format

        Switch to JSON output - [/config/launch_statuses/?format=json](./?format=json)


        #### Help

        Find all the FAQs and support links on the documentation homepage - [ll.thespacedevs.com/docs](https://ll.thespacedevs.com/docs/)'
      parameters:
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - name: ordering
        required: false
        in: query
        description: Which field to use when ordering the results.
        schema:
          type: string
      - name: search
        required: false
        in: query
        description: A search term.
        schema:
          type: string
      tags:
      - Configurations
      security:
      - cookieAuth: []
      - Token_Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedLaunchStatusList'
          description: ''
  /2.3.0/config/launch_statuses/{id}/:
    get:
      operationId: config_launch_statuses_retrieve
      summary: Get Launch Status
      description: '#### Number of results

        Use `limit` to control the number of objects in the response (max 100)


        Example - [/config/launch_statuses/?limit=2](./?limit=2)


        #### Format

        Switch to JSON output - [/config/launch_statuses/?format=json](./?format=json)


        #### Help

        Find all the FAQs and support links on the documentation homepage - [ll.thespacedevs.com/docs](https://ll.thespacedevs.com/docs/)'
      parameters:
      - in: path
        name: id
        schema:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        description: A unique value identifying this Launch Status.
        required: true
      tags:
      - Configurations
      security:
      - cookieAuth: []
      - Token_Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LaunchStatus'
          description: ''
  /2.3.0/config/launcher_statuses/:
    get:
      operationId: config_launcher_statuses_list
      summary: List Launcher Statuses
      description: '#### Number of results

        Use `limit` to control the number of objects in the response (max 100)


        Example - [/config/launcher_statuses/?limit=2](./?limit=2)


        #### Format

        Switch to JSON output - [/config/launcher_statuses/?format=json](./?format=json)


        #### Help

        Find all the FAQs and support links on the documentation homepage - [ll.thespacedevs.com/docs](https://ll.thespacedevs.com/docs/)'
      parameters:
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - name: ordering
        required: false
        in: query
        description: Which field to use when ordering the results.
        schema:
          type: string
      - name: search
        required: false
        in: query
        description: A search term.
        schema:
          type: string
      tags:
      - Configurations
      security:
      - cookieAuth: []
      - Token_Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedLauncherStatusList'
          description: ''
  /2.3.0/config/launcher_statuses/{id}/:
    get:
      operationId: config_launcher_statuses_retrieve
      summary: Get Launcher Status
      description: '#### Number of results

        Use `limit` to control the number of objects in the response (max 100)


        Example - [/config/launcher_statuses/?limit=2](./?limit=2)


        #### Format

        Switch to JSON output - [/config/launcher_statuses/?format=json](./?format=json)


        #### Help

        Find all the FAQs and support links on the documentation homepage - [ll.thespacedevs.com/docs](https://ll.thespacedevs.com/docs/)'
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this Launcher Status.
        required: true
      tags:
      - Configurations
      security:
      - cookieAuth: []
      - Token_Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LauncherStatus'
          description: ''
  /2.3.0/config/mission_types/:
    get:
      operationId: config_mission_types_list
      summary: List Mission Types
      description: '#### Number of results

        Use `limit` to control the number of objects in the response (max 100)


        Example - [/config/mission_types/?limit=2](./?limit=2)


        #### Format

        Switch to JSON output - [/config/mission_types/?format=json](./?format=json)


        #### Help

        Find all the FAQs and support links on the documentation homepage - [ll.thespacedevs.com/docs](https://ll.thespacedevs.com/docs/)'
      parameters:
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - name: ordering
        required: false
        in: query
        description: Which field to use when ordering the results.
        schema:
          type: string
      - name: search
        required: false
        in: query
        description: A search term.
        schema:
          type: string
      tags:
      - Configurations
      security:
      - cookieAuth: []
      - Token_Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedMissionTypeList'
          description: ''
  /2.3.0/config/mission_types/{id}/:
    get:
      operationId: config_mission_types_retrieve
      summary: Get Mission Type
      description: '#### Number of results

        Use `limit` to control the number of objects in the response (max 100)


        Example - [/config/mission_types/?limit=2](./?limit=2)


        #### Format

        Switch to JSON output - [/config/mission_types/?format=json](./?format=json)


        #### Help

        Find all the FAQs and support links on the documentation homepage - [ll.thespacedevs.com/docs](https://ll.thespacedevs.com/docs/)'
      parameters:
      - in: path
        name: id
        schema:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        description: A unique value identifying this mission type.
        required: true
      tags:
      - Configurations
      security:
      - cookieAuth: []
      - Token_Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MissionType'
          description: ''
  /2.3.0/config/net_precisions/:
    get:
      operationId: config_net_precisions_list
      summary: List Net Precisions
      description: '#### Number of results

        Use `limit` to control the number of objects in the response (max 100)


        Example - [/config/net_precisions/?limit=2](./?limit=2)


        #### Format

        Switch to JSON output - [/config/net_precisions/?format=json](./?format=json)


        #### Help

        Find all the FAQs and support links on the documentation homepage - [ll.thespacedevs.com/docs](https://ll.thespacedevs.com/docs/)'
      parameters:
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - name: ordering
        required: false
        in: query
        description: Which field to use when ordering the results.
        schema:
          type: string
      - name: search
        required: false
        in: query
        description: A search term.
        schema:
          type: string
      tags:
      - Configurations
      security:
      - cookieAuth: []
      - Token_Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedNetPrecisionList'
          description: ''
  /2.3.0/config/net_precisions/{id}/:
    get:
      operationId: config_net_precisions_retrieve
      summary: Get Net Precision
      description: '#### Number of results

        Use `limit` to control the number of objects in the response (max 100)


        Example - [/config/net_precisions/?limit=2](./?limit=2)


        #### Format

        Switch to JSON output - [/config/net_precisions/?format=json](./?format=json)


        #### Help

        Find all the FAQs and support links on the documentation homepage - [ll.thespacedevs.com/docs](https://ll.thespacedevs.com/docs/)'
      parameters:
      - in: path
        name: id
        schema:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        description: A unique value identifying this Net Precision.
        required: true
      tags:
      - Configurations
      security:
      - cookieAuth: []
      - Token_Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetPrecision'
          description: ''
  /2.3.0/config/notice_types/:
    get:
      operationId: config_notice_types_list
      summary: List Notice Types
      description: '#### Number of results

        Use `limit` to control the number of objects in the response (max 100)


        Example - [/config/notice_types/?limit=2](./?limit=2)


        #### Format

        Switch to JSON output - [/config/notice_types/?format=json](./?format=json)


        #### Help

        Find all the FAQs and support links on the documentation homepage - [ll.thespacedevs.com/docs](https://ll.thespacedevs.com/docs/)'
      parameters:
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - name: ordering
        required: false
        in: query
        description: Which field to use when ordering the results.
        schema:
          type: string
      - name: search
        required: false
        in: query
        description: A search term.
        schema:
          type: string
      tags:
      - Configurations
      security:
      - cookieAuth: []
      - Token_Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedNoticeTypeList'
          description: ''
  /2.3.0/config/notice_types/{id}/:
    get:
      operationId: config_notice_types_retrieve
      summary: Get Notice Type
      description: '#### Number of results

        Use `limit` to control the number of objects in the response (max 100)


        Example - [/config/notice_types/?limit=2](./?limit=2)


        #### Format

        Switch to JSON output - [/config/notice_types/?format=json](./?format=json)


        #### Help

        Find all the FAQs and support links on the documentation homepage - [ll.thespacedevs.com/docs](https://ll.thespacedevs.com/docs/)'
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this Notices Type.
        required: true
      tags:
      - Configurations
      security:
      - cookieAuth: []
      - Token_Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoticeType'
          description: ''
  /2.3.0/config/orbits/:
    get:
      operationId: config_orbits_list
      summary: List Orbits
      description: '#### Number of results

        Use `limit` to control the number of objects in the response (max 100)


        Example - [/config/orbits/?limit=2](./?limit=2)


        #### Format

        Switch to JSON output - [/config/orbits/?format=json](./?format=json)


        #### Help

        Find all the FAQs and support links on the documentation homepage - [ll.thespacedevs.com/docs](https://ll.thespacedevs.com/docs/)'
      parameters:
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - name: ordering
        required: false
        in: query
        description: Which field to use when ordering the results.
        schema:
          type: string
      - name: search
        required: false
        in: query
        description: A search term.
        schema:
          type: string
      tags:
      - Configurations
      security:
      - cookieAuth: []
      - Token_Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedOrbitList'
          description: ''
  /2.3.0/config/orbits/{id}/:
    get:
      operationId: config_orbits_retrieve
      summary: Get Orbit
      description: '#### Number of results

        Use `limit` to control the number of objects in the response (max 100)


        Example - [/config/orbits/?limit=2](./?limit=2)


        #### Format

        Switch to JSON output - [/config/orbits/?format=json](./?format=json)


        #### Help

        Find all the FAQs and support links on the documentation homepage - [ll.thespacedevs.com/docs](https://ll.thespacedevs.com/docs/)'
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this Orbit.
        required: true
      tags:
      - Configurations
      security:
      - cookieAuth: []
      - Token_Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Orbit'
          description: ''
  /2.3.0/config/payload_types/:
    get:
      operationId: config_payload_types_list
      summary: List Payload Types
      description: '#### Number of results

        Use `limit` to control the number of objects in the response (max 100)


        Example - [/config/payload_types/?limit=2](./?limit=2)


        #### Format

        Switch to JSON output - [/config/payload_types/?format=json](./?format=json)


        #### Help

        Find all the FAQs and support links on the documentation homepage - [ll.thespacedevs.com/docs](https://ll.thespacedevs.com/docs/)'
      parameters:
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - name: ordering
        required: false
        in: query
        description: Which field to use when ordering the results.
        schema:
          type: string
      - name: search
        required: false
        in: query
        description: A search term.
        schema:
          type: string
      tags:
      - Configurations
      security:
      - cookieAuth: []
      - Token_Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedPayloadTypeList'
          description: ''
  /2.3.0/config/payload_types/{id}/:
    get:
      operationId: config_payload_types_retrieve
      summary: Get Payload Type
      description: '#### Number of results

        Use `limit` to control the number of objects in the response (max 100)


        Example - [/config/payload_types/?limit=2](./?limit=2)


        #### Format

        Switch to JSON output - [/config/payload_types/?format=json](./?format=json)


        #### Help

        Find all the FAQs and support links on the documentation homepage - [ll.thespacedevs.com/docs](https://ll.thespacedevs.com/docs/)'
      parameters:
      - in: path
        name: id
        schema:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        description: A unique value identifying this payload type.
        required: true
      tags:
      - Configurations
      security:
      - cookieAuth: []
      - Token_Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayloadType'
          description: ''
  /2.3.0/config/program_types/:
    get:
      operationId: config_program_types_list
      summary: List Program Types
      description: '#### Number of results

        Use `limit` to control the number of objects in the response (max 100)


        Example - [/config/program_types/?limit=2](./?limit=2)


        #### Format

        Switch to JSON output - [/config/program_types/?format=json](./?format=json)


        #### Help

        Find all the FAQs and support links on the documentation homepage - [ll.thespacedevs.com/docs](https://ll.thespacedevs.com/docs/)'
      parameters:
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - name: ordering
        required: false
        in: query
        description: Which field to use when ordering the results.
        schema:
          type: string
      - name: search
        required: false
        in: query
        description: A search term.
        schema:
          type: string
      tags:
      - Configurations
      security:
      - cookieAuth: []
      - Token_Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedProgramTypeList'
          description: ''
  /2.3.0/config/program_types/{id}/:
    get:
      operationId: config_program_types_retrieve
      summary: Get Program Type
      description: '#### Number of results

        Use `limit` to control the number of objects in the response (max 100)


        Example - [/config/program_types/?limit=2](./?limit=2)


        #### Format

        Switch to JSON output - [/config/program_types/?format=json](./?format=json)


        #### Help

        Find all the FAQs and support links on the documentation homepage - [ll.thespacedevs.com/docs](https://ll.thespacedevs.com/docs/)'
      parameters:
      - in: path
        name: id
        schema:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        description: A unique value identifying this program type.
        required: true
      tags:
      - Configurations
      security:
      - cookieAuth: []
      - Token_Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProgramType'
          description: ''
  /2.3.0/config/road_closure_statuses/:
    get:
      operationId: config_road_closure_statuses_list
      summary: List Road Closure Statuses
      description: '#### Number of results

        Use `limit` to control the number of objects in the response (max 100)


        Example - [/config/road_closure_statuses/?limit=2](./?limit=2)


        #### Format

        Switch to JSON output - [/config/road_closure_statuses/?format=json](./?format=json)


        #### Help

        Find all the FAQs and support links on the documentation homepage - [ll.thespacedevs.com/docs](https://ll.thespacedevs.com/docs/)'
      parameters:
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - name: ordering
        required: false
        in: query
        description: Which field to use when ordering the results.
        schema:
          type: string
      - name: search
        required: false
        in: query
        description: A search term.
        schema:
          type: string
      tags:
      - Configurations
      security:
      - cookieAuth: []
      - Token_Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedRoadClosureStatusList'
          description: ''
  /2.3.0/config/road_closure_statuses/{id}/:
    get:
      operationId: config_road_closure_statuses_retrieve
      summary: Get Road Closure Status
      description: '#### Number of results

        Use `limit` to control the number of objects in the response (max 100)


        Example - [/config/road_closure_statuses/?limit=2](./?limit=2)


        #### Format

        Switch to JSON output - [/config/road_closure_statuses/?format=json](./?format=json)


        #### Help

        Find all the FAQs and support links on the documentation homepage - [ll.thespacedevs.com/docs](https://ll.thespacedevs.com/docs/)'
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this Road Closure Type.
        required: true
      tags:
      - Configurations
      security:
      - cookieAuth: []
      - Token_Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoadClosureStatus'
          description: ''
  /2.3.0/config/space_station_statuses/:
    get:
      operationId: config_space_station_statuses_list
      summary: List Space Station Statuses
      description: '#### Number of results

        Use `limit` to control the number of objects in the response (max 100)


        Example - [/config/space_station_statuses/?limit=2](./?limit=2)


        #### Format

        Switch to JSON output - [/config/space_station_statuses/?format=json](./?format=json)


        #### Help

        Find all the FAQs and support links on the documentation homepage - [ll.thespacedevs.com/docs](https://ll.thespacedevs.com/docs/)'
      parameters:
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - name: ordering
        required: false
        in: query
        description: Which field to use when ordering the results.
        schema:
          type: string
      - name: search
        required: false
        in: query
        description: A search term.
        schema:
          type: string
      tags:
      - Configurations
      security:
      - cookieAuth: []
      - Token_Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedSpaceStationStatusList'
          description: ''
  /2.3.0/config/space_station_statuses/{id}/:
    get:
      operationId: config_space_station_statuses_retrieve
      summary: Get Space Station Status
      description: '#### Number of results

        Use `limit` to control the number of objects in the response (max 100)


        Example - [/config/space_station_statuses/?limit=2](./?limit=2)


        #### Format

        Switch to JSON output - [/config/space_station_statuses/?format=json](./?format=json)


        #### Help

        Find all the FAQs and support links on the documentation homepage - [ll.thespacedevs.com/docs](https://ll.thespacedevs.com/docs/)'
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this Space Station Status.
        required: true
      tags:
      - Configurations
      security:
      - cookieAuth: []
      - Token_Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpaceStationStatus'
          description: ''
  /2.3.0/config/spacecraft_configuration_types/:
    get:
      operationId: config_spacecraft_configuration_types_list
      summary: List Spacecraft Configuration Types
      description: '#### Number of results

        Use `limit` to control the number of objects in the response (max 100)


        Example - [/config/spacecraft_configuration_types/?limit=2](./?limit=2)


        #### Format

        Switch to JSON output - [/config/spacecraft_configuration_types/?format=json](./?format=json)


        #### Help

        Find all the FAQs and support links on the documentation homepage - [ll.thespacedevs.com/docs](https://ll.thespacedevs.com/docs/)'
      parameters:
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - name: ordering
        required: false
        in: query
        description: Which field to use when ordering the results.
        schema:
          type: string
      - name: search
        required: false
        in: query
        description: A search term.
        schema:
          type: string
      tags:
      - Configurations
      security:
      - cookieAuth: []
      - Token_Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedSpacecraftConfigTypeList'
          description: ''
  /2.3.0/config/spacecraft_configuration_types/{id}/:
    get:
      operationId: config_spacecraft_configuration_types_retrieve
      summary: Get Spacecraft Configuration Type
      description: '#### Number of results

        Use `limit` to control the number of objects in the response (max 100)


        Example - [/config/spacecraft_configuration_types/?limit=2](./?limit=2)


        #### Format

        Switch to JSON output - [/config/spacecraft_configuration_types/?format=json](./?format=json)


        #### Help

        Find all the FAQs and support links on the documentation homepage - [ll.thespacedevs.com/docs](https://ll.thespacedevs.com/docs/)'
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this Spacecraft Configuration Type.
        required: true
      tags:
      - Configurations
      security:
      - cookieAuth: []
      - Token_Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpacecraftConfigType'
          description: ''
  /2.3.0/config/spacecraft_statuses/:
    get:
      operationId: config_spacecraft_statuses_list
      summary: List Spacecraft Statuses
      description: '#### Number of results

        Use `limit` to control the number of objects in the response (max 100)


        Example - [/config/spacecraft_statuses/?limit=2](./?limit=2)


        #### Format

        Switch to JSON output - [/config/spacecraft_statuses/?format=json](./?format=json)


        #### Help

        Find all the FAQs and support links on the documentation homepage - [ll.thespacedevs.com/docs](https://ll.thespacedevs.com/docs/)'
      parameters:
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - name: ordering
        required: false
        in: query
        description: Which field to use when ordering the results.
        schema:
          type: string
      - name: search
        required: false
        in: query
        description: A search term.
        schema:
          type: string
      tags:
      - Configurations
      security:
      - cookieAuth: []
      - Token_Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedSpacecraftStatusList'
          description: ''
  /2.3.0/config/spacecraft_statuses/{id}/:
    get:
      operationId: config_spacecraft_statuses_retrieve
      summary: Get Spacecraft Status
      description: '#### Number of results

        Use `limit` to control the number of objects in the response (max 100)


        Example - [/config/spacecraft_statuses/?limit=2](./?limit=2)


        #### Format

        Switch to JSON output - [/config/spacecraft_statuses/?format=json](./?format=json)


        #### Help

        Find all the FAQs and support links on the documentation homepage - [ll.thespacedevs.com/docs](https://ll.thespacedevs.com/docs/)'
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this Spacecraft Status.
        required: true
      tags:
      - Configurations
      security:
      - cookieAuth: []
      - Token_Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpacecraftStatus'
          description: ''
  /2.3.0/config/timeline_event_types/:
    get:
      operationId: config_timeline_event_types_list
      description: '#### Number of results

        Use `limit` to control the number of objects in the response (max 100)


        Example - [/config/timeline_event_types/?limit=2](./?limit=2)


        #### Format

        Switch to JSON output - [/config/timeline_event_types/?format=json](./?format=json)


        #### Help

        Find all the FAQs and support links on the documentation homepage - [ll.thespacedevs.com/docs](https://ll.thespacedevs.com/docs/)'
      parameters:
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - name: ordering
        required: false
        in: query
        description: Which field to use when ordering the results.
        schema:
          type: string
      - name: search
        required: false
        in: query
        description: A search term.
        schema:
          type: string
      tags:
      - Configurations
      security:
      - cookieAuth: []
      - Token_Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedTimelineEventTypeList'
          description: ''
  /2.3.0/config/timeline_event_types/{id}/:
    get:
      operationId: config_timeline_event_types_retrieve
      description: '#### Number of results

        Use `limit` to control the number of objects in the response (max 100)


        Example - [/config/timeline_event_types/?limit=2](./?limit=2)


        #### Format

        Switch to JSON output - [/config/timeline_event_types/?format=json](./?format=json)


        #### Help

        Find all the FAQs and support links on the documentation homepage - [ll.thespacedevs.com/docs](https://ll.thespacedevs.com/docs/)'
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this Timeline Event Type.
        required: true
      tags:
      - Configurations
      security:
      - cookieAuth: []
      - Token_Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimelineEventType'
          description: ''
  /2.3.0/config/vidurl_types/:
    get:
      operationId: config_vidurl_types_list
      description: '#### Number of results

        Use `limit` to control the number of objects in the response (max 100)


        Example - [/config/vidurl_types/?limit=2](./?limit=2)


        #### Format

        Switch to JSON output - [/config/vidurl_types/?format=json](./?format=json)


        #### Help

        Find all the FAQs and support links on the documentation homepage - [ll.thespacedevs.com/docs](https://ll.thespacedevs.com/docs/)'
      parameters:
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - name: ordering
        required: false
        in: query
        description: Which field to use when ordering the results.
        schema:
          type: string
      - name: search
        required: false
        in: query
        description: A search term.
        schema:
          type: string
      tags:
      - Configurations
      security:
      - cookieAuth: []
      - Token_Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedVidURLTypeList'
          description: ''
  /2.3.0/config/vidurl_types/{id}/:
    get:
      operationId: config_vidurl_types_retrieve
      description: '#### Number of results

        Use `limit` to control the number of objects in the response (max 100)


        Example - [/config/vidurl_types/?limit=2](./?limit=2)


        #### Format

        Switch to JSON output - [/config/vidurl_types/?format=json](./?format=json)


        #### Help

        Find all the FAQs and support links on the documentation homepage - [ll.thespacedevs.com/docs](https://ll.thespacedevs.com/docs/)'
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this Video URL Type.
        required: true
      tags:
      - Configurations
      security:
      - cookieAuth: []
      - Token_Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VidURLType'
          description: ''
  /2.3.0/launcher_configurations/:
    get:
      operationId: launcher_configurations_list
      summary: List Launcher Configurations
      description: '#### Modes

        Levels of detail in the response - `list`, `normal`, `detailed`


        Example - [/launcher_configurations/?mode=list](./?mode=list)


        #### Filters

        Parameters - `active`, `attempted_landings`, `attempted_landings__gt`, `attempted_landings__gte`, `attempted_landings__lt`, `attempted_landings__lte`, `consecutive_successful_landings`, `consecutive_successful_landings__gt`, `consecutive_successful_landings__gte`, `consecutive_successful_landings__lt`, `consecutive_successful_landings__lte`, `consecutive_successful_launches`, `consecutive_successful_launches__gt`, `consecutive_successful_launches__gte`, `consecutive_successful_launches__lt`, `consecutive_successful_launches__lte`, `failed_landings`, `failed_landings__gt`, `failed_landings__gte`, `failed_landings__lt`, `failed_landings__lte`, `failed_launches`, `failed_launches__gt`, `failed_launches__gte`, `failed_launches__lt`, `failed_launches__lte`, `families`, `families__contains`, `full_name`, `full_name__contains`, `is_placeholder`, `maiden_flight`, `maiden_flight__gt`, `maiden_flight__gte`, `maiden_flight__lt`, `maiden_flight__lte`, `manufacturer__name`, `manufacturer__name__contains`, `name`, `name__contains`, `pending_launches`, `pending_launches__gt`, `pending_launches__gte`, `pending_launches__lt`, `pending_launches__lte`, `program`, `program__contains`, `successful_landings`, `successful_landings__gt`, `successful_landings__gte`, `successful_landings__lt`, `successful_landings__lte`, `successful_launches`, `successful_launches__gt`, `successful_launches__gte`, `successful_launches__lt`, `successful_launches__lte`, `total_launch_count`, `total_launch_count__gt`, `total_launch_count__gte`, `total_launch_count__lt`, `total_launch_count__lte`


        Example - [/launcher_configurations/?manufacturer__name=SpaceX](./?manufacturer__name=SpaceX)


        #### Search

        Fields searched - `full_name`, `manufacturer__abbrev`, `manufacturer__name`, `name`


        Example - [/launcher_configurations/?search=Soyuz](./?search=Soyuz)


        #### Ordering

        Fields - `attempted_landings`, `consecutive_successful_landings`, `consecutive_successful_launches`, `failed_landings`, `failed_launches`, `gto_capacity`, `launch_cost`, `launch_mass`, `leo_capacity`, `maiden_flight`, `name`, `pending_launches`, `successful_landings`, `successful_launches`, `total_launch_count`


        Example - [/launcher_configurations/?ordering=-total_launch_count](./?ordering=-total_launch_count)


        #### Number of results

        Use `limit` to control the number of objects in the response (max 100)


        Example - [/launcher_configurations/?limit=2](./?limit=2)


        #### Format

        Switch to JSON output - [/launcher_configurations/?format=json](./?format=json)


        #### Help

        Find all the FAQs and support links on the documentation homepage - [ll.thespacedevs.com/docs](https://ll.thespacedevs.com/docs/)'
      parameters:
      - in: query
        name: active
        schema:
          type: boolean
      - in: query
        name: attempted_landings
        schema:
          type: integer
      - in: query
        name: attempted_landings__gt
        schema:
          type: integer
      - in: query
        name: attempted_landings__gte
        schema:
          type: integer
      - in: query
        name: attempted_landings__lt
        schema:
          type: integer
      - in: query
        name: attempted_landings__lte
        schema:
          type: integer
      - in: query
        name: consecutive_successful_landings
        schema:
          type: integer
      - in: query
        name: consecutive_successful_landings__gt
        schema:
          type: integer
      - in: query
        name: consecutive_successful_landings__gte
        schema:
          type: integer
      - in: query
        name: consecutive_successful_landings__lt
        schema:
          type: integer
      - in: query
        name: consecutive_successful_landings__lte
        schema:
          type: integer
      - in: query
        name: consecutive_successful_launches
        schema:
          type: integer
      - in: query
        name: consecutive_successful_launches__gt
        schema:
          type: integer
      - in: query
        name: consecutive_successful_launches__gte
        schema:
          type: integer
      - in: query
        name: consecutive_successful_launches__lt
        schema:
          type: integer
      - in: query
        name: consecutive_successful_launches__lte
        schema:
          type: integer
      - in: query
        name: failed_landings
        schema:
          type: integer
      - in: query
        name: failed_landings__gt
        schema:
          type: integer
      - in: query
        name: failed_landings__gte
        schema:
          type: integer
      - in: query
        name: failed_landings__lt
        schema:
          type: integer
      - in: query
        name: failed_landings__lte
        schema:
          type: integer
      - in: query
        name: failed_launches
        schema:
          type: integer
      - in: query
        name: failed_launches__gt
        schema:
          type: integer
      - in: query
        name: failed_launches__gte
        schema:
          type: integer
      - in: query
        name: failed_launches__lt
        schema:
          type: integer
      - in: query
        name: failed_launches__lte
        schema:
          type: integer
      - in: query
        name: families
        schema:
          type: array
          items:
            type: integer
        explode: true
        style: form
      - in: query
        name: families__contains
        schema:
          type: array
          items:
            type: integer
        explode: true
        style: form
      - in: query
        name: full_name
        schema:
          type: string
      - in: query
        name: full_name__contains
        schema:
          type: string
      - in: query
        name: is_placeholder
        schema:
          type: boolean
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - in: query
        name: maiden_flight
        schema:
          type: string
          format: date
      - in: query
        name: maiden_flight__gt
        schema:
          type: string
          format: date
      - in: query
        name: maiden_flight__gte
        schema:
          type: string
          format: date
      - in: query
        name: maiden_flight__lt
        schema:
          type: string
          format: date
      - in: query
        name: maiden_flight__lte
        schema:
          type: string
          format: date
      - in: query
        name: manufacturer__name
        schema:
          type: string
      - in: query
        name: manufacturer__name__contains
        schema:
          type: string
      - in: query
        name: mode
        schema:
          type: string
          enum:
          - detailed
          - list
          - normal
        description: Level of detail in the response.
      - in: query
        name: name
        schema:
          type: string
      - in: query
        name: name__contains
        schema:
          type: string
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - name: ordering
        required: false
        in: query
        description: Which field to use when ordering the results.
        schema:
          type: string
      - in: query
        name: pending_launches
        schema:
          type: integer
      - in: query
        name: pending_launches__gt
        schema:
          type: integer
      - in: query
        name: pending_launches__gte
        schema:
          type: integer
      - in: query
        name: pending_launches__lt
        schema:
          type: integer
      - in: query
        name: pending_launches__lte
        schema:
          type: integer
      - in: query
        name: program
        schema:
          type: array
          items:
            type: integer
        explode: true
        style: form
      - in: query
        name: program__contains
        schema:
          type: array
          items:
            type: integer
        explode: true
        style: form
      - name: search
        required: false
        in: query
        description: A search term.
        schema:
          type: string
      - in: query
        name: successful_landings
        schema:
          type: integer
      - in: query
        name: successful_landings__gt
        schema:
          type: integer
      - in: query
        name: successful_landings__gte
        schema:
          type: integer
      - in: query
        name: successful_landings__lt
        schema:
          type: integer
      - in: query
        name: successful_landings__lte
        schema:
          type: integer
      - in: query
        name: successful_launches
        schema:
          type: integer
      - in: query
        name: successful_launches__gt
        schema:
          type: integer
      - in: query
        name: successful_launches__gte
        schema:
          type: integer
      - in: query
        name: successful_launches__lt
        schema:
          type: integer
      - in: query
        name: successful_launches__lte
        schema:
          type: integer
      - in: query
        name: total_launch_count
        schema:
          type: integer
      - in: query
        name: total_launch_count__gt
        schema:
          type: integer
      - in: query
        name: total_launch_count__gte
        schema:
          type: integer
      - in: query
        name: total_launch_count__lt
        schema:
          type: integer
      - in: query
        name: total_launch_count__lte
        schema:
          type: integer
      tags:
      - Configurations
      security:
      - cookieAuth: []
      - Token_Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedPolymorphicLauncherConfigEndpointList'
          description: ''
  /2.3.0/launcher_configurations/{id}/:
    get:
      operationId: launcher_configurations_retrieve
      summary: Get Launcher Configuration
      description: '#### Modes

        Levels of detail in the response - `list`, `normal`, `detailed`


        Example - [/launcher_configurations/?mode=list](./?mode=list)


        #### Filters

        Parameters - `active`, `attempted_landings`, `attempted_landings__gt`, `attempted_landings__gte`, `attempted_landings__lt`, `attempted_landings__lte`, `consecutive_successful_landings`, `consecutive_successful_landings__gt`, `consecutive_successful_landings__gte`, `consecutive_successful_landings__lt`, `consecutive_successful_landings__lte`, `consecutive_successful_launches`, `consecutive_successful_launches__gt`, `consecutive_successful_launches__gte`, `consecutive_successful_launches__lt`, `consecutive_successful_launches__lte`, `failed_landings`, `failed_landings__gt`, `failed_landings__gte`, `failed_landings__lt`, `failed_landings__lte`, `failed_launches`, `failed_launches__gt`, `failed_launches__gte`, `failed_launches__lt`, `failed_launches__lte`, `families`, `families__contains`, `full_name`, `full_name__contains`, `is_placeholder`, `maiden_flight`, `maiden_flight__gt`, `maiden_flight__gte`, `maiden_flight__lt`, `maiden_flight__lte`, `manufacturer__name`, `manufacturer__name__contains`, `name`, `name__contains`, `pending_launches`, `pending_launches__gt`, `pending_launches__gte`, `pending_launches__lt`, `pending_launches__lte`, `program`, `program__contains`, `successful_landings`, `successful_landings__gt`, `successful_landings__gte`, `successful_landings__lt`, `successful_landings__lte`, `successful_launches`, `successful_launches__gt`, `successful_launches__gte`, `successful_launches__lt`, `successful_launches__lte`, `total_launch_count`, `total_launch_count__gt`, `total_launch_count__gte`, `total_launch_count__lt`, `total_launch_count__lte`


        Example - [/launcher_configurations/?manufacturer__name=SpaceX](./?manufacturer__name=SpaceX)


        #### Search

        Fields searched - `full_name`, `manufacturer__abbrev`, `manufacturer__name`, `name`


        Example - [/launcher_configurations/?search=Soyuz](./?search=Soyuz)


        #### Ordering

        Fields - `attempted_landings`, `consecutive_successful_landings`, `consecutive_successful_launches`, `failed_landings`, `failed_launches`, `gto_capacity`, `launch_cost`, `launch_mass`, `leo_capacity`, `maiden_flight`, `name`, `pending_launches`, `successful_landings`, `successful_launches`, `total_launch_count`


        Example - [/launcher_configurations/?ordering=-total_launch_count](./?ordering=-total_launch_count)


        #### Number of results

        Use `limit` to control the number of objects in the response (max 100)


        Example - [/launcher_configurations/?limit=2](./?limit=2)


        #### Format

        Switch to JSON output - [/launcher_configurations/?format=json](./?format=json)


        #### Help

        Find all the FAQs and support links on the documentation homepage - [ll.thespacedevs.com/docs](https://ll.thespacedevs.com/docs/)'
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this Launcher Configuration.
        required: true
      tags:
      - Configurations
      security:
      - cookieAuth: []
      - Token_Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LauncherConfigDetailed'
          description: ''
  /2.3.0/spacecraft_configurations/:
    get:
      operationId: spacecraft_configurations_list
      summary: List Spacecraft Configurations
      description: '#### Modes

        Levels of detail in the response - `normal`, `detailed`


        Example - [/spacecraft_configurations/?mode=detailed](./?mode=detailed)


        #### Filters

        Parameters - `agency`, `human_rated`, `in_use`, `name`


        Example - [/spacecraft_configurations/?human_rated=True](./?human_rated=True)


        #### Search

        Fields searched - `agency__abbrev`, `agency__name`, `name`


        Example - [/spacecraft_configurations/?search=Dragon](./?search=Dragon)


        #### Ordering

        Fields - `name`


        Example - [/spacecraft_configurations/?ordering=name](./?ordering=name)


        #### Number of results

        Use `limit` to control the number of objects in the response (max 100)


        Example - [/spacecraft_configurations/?limit=2](./?limit=2)


        #### Format

        Switch to JSON output - [/spacecraft_configurations/?format=json](./?format=json)


        #### Help

        Find all the FAQs and support links on the documentation homepage - [ll.thespacedevs.com/docs](https://ll.thespacedevs.com/docs/)'
      parameters:
      - in: query
        name: agency
        schema:
          type: integer
      - in: query
        name: human_rated
        schema:
          type: boolean
      - in: query
        name: in_use
        schema:
          type: boolean
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - in: query
        name: mode
        schema:
          type: string
          enum:
          - detailed
          - normal
        description: Level of detail in the response.
      - in: query
        name: name
        schema:
          type: string
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - name: ordering
        required: false
        in: query
        description: Which field to use when ordering the results.
        schema:
          type: string
      - name: search
        required: false
        in: query
        description: A search term.
        schema:
          type: string
      tags:
      - Configurations
      security:
      - cookieAuth: []
      - Token_Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedPolymorphicSpacecraftConfigurationEndpointList'
          description: ''
  /2.3.0/spacecraft_configurations/{id}/:
    get:
      operationId: spacecraft_configurations_retrieve
      summary: Get Spacecraft Configuration
      description: '#### Modes

        Levels of detail in the response - `normal`, `detailed`


        Example - [/spacecraft_configurations/?mode=detailed](./?mode=detailed)


        #### Filters

        Parameters - `agency`, `human_rated`, `in_use`, `name`


        Example - [/spacecraft_configurations/?human_rated=True](./?human_rated=True)


        #### Search

        Fields searched - `agency__abbrev`, `agency__name`, `name`


        Example - [/spacecraft_configurations/?search=Dragon](./?search=Dragon)


        #### Ordering

        Fields - `name`


        Example - [/spacecraft_configurations/?ordering=name](./?ordering=name)


        #### Number of results

        Use `limit` to control the number of objects in the response (max 100)


        Example - [/spacecraft_configurations/?limit=2](./?limit=2)


        #### Format

        Switch to JSON output - [/spacecraft_configurations/?format=json](./?format=json)


        #### Help

        Find all the FAQs and support links on the documentation homepage - [ll.thespacedevs.com/docs](https://ll.thespacedevs.com/docs/)'
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this Spacecraft Configuration.
        required: true
      tags:
      - Configurations
      security:
      - cookieAuth: []
      - Token_Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpacecraftConfigDetailed'
          description: ''
components:
  schemas:
    PaginatedRoadClosureStatusList:
      type: object
      required:
      - count
      - results
      properties:
        count:
          type: integer
          example: 123
        next:
          type: string
          nullable: true
          format: uri
          example: http://api.example.org/accounts/?offset=400&limit=100
        previous:
          type: string
          nullable: true
          format: uri
          example: http://api.example.org/accounts/?offset=200&limit=100
        results:
          type: array
          items:
            $ref: '#/components/schemas/RoadClosureStatus'
    ProgramNormal:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: normal
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 255
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
          nullable: true
        info_url:
          type: string
          format: uri
          nullable: true
          maxLength: 200
        wiki_url:
          type: string
          format: uri
          nullable: true
          maxLength: 200
        description:
          type: string
          nullable: true
          maxLength: 40000
        agencies:
          type: array
          items:
            $ref: '#/components/schemas/AgencyMini'
        start_date:
          type: string
          format: date-time
          nullable: true
        end_date:
          type: string
          format: date-time
          nullable: true
        mission_patches:
          type: array
          items:
            $ref: '#/components/schemas/MissionPatch'
        type:
          $ref: '#/components/schemas/ProgramType'
      required:
      - agencies
      - id
      - image
      - mission_patches
      - name
      - response_mode
      - type
      - url
    FirstStageType:
      type: object
      properties:
        id:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        name:
          type: string
          maxLength: 50
      required:
      - id
    Country:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
        alpha_2_code:
          type: string
          description: ISO 3166-1 alpha-2
          maxLength: 2
        alpha_3_code:
          type: string
          description: ISO 3166-1 alpha-3
          maxLength: 3
        nationality_name:
          type: string
          description: e.g. French
          maxLength: 255
        nationality_name_composed:
          type: string
          description: e.g. Franco
          maxLength: 255
      required:
      - id
    LauncherConfigList:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: list
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 200
        families:
          type: array
          items:
            $ref: '#/components/schemas/LauncherConfigFamilyMini'
          nullable: true
        full_name:
          type: string
          maxLength: 200
        variant:
          type: string
[...]
