openapi: 3.2.0
info:
  title: TheSpaceDevs LL2 Starship API
  version: v2.3.0
  description: Rocket launches, space events and crewed spaceflight. The Launch Library 2 API is the official successor of the popular Launch Library API. It keeps its core features whilst also including everything the broader Space Launch Now API had to offer. The result is a large database delivering a more complete experience for each rocket launch and ...
  license:
    name: Apache License 2.0
servers:
- url: https://ll.thespacedevs.com/
  description: Production API (� rate-limited)
- url: https://lldev.thespacedevs.com/
  description: Development API (stale and limited data, for development testing only)
tags:
- name: Starship
paths:
  /2.3.0/dashboard/starship/:
    get:
      operationId: dashboard_starship_list
      description: '#### Modes

        Levels of detail in the response - `list`, `normal`, `detailed`


        Example - /dashboard/starship/?mode=list


        #### Number of results

        Use `limit` to control the number of objects in the response (max 100)


        Example - /dashboard/starship/?limit=2


        #### Format

        Switch to JSON output - /dashboard/starship/?format=json


        #### Help

        Find all the FAQs and support links on the documentation homepage - ll.thespacedevs.com/docs'
      tags:
      - Starship
      security:
      - cookieAuth: []
      - Token_Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PolymorphicStarshipDashboardEndpoint'
          description: ''
      summary: Dashboard starship list
      x-summary-source: derived
components:
  schemas:
    ImageLicense:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
        priority:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        link:
          type:
          - string
          - 'null'
          format: uri
          maxLength: 200
      required:
      - id
    ProgramMini:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: list
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 255
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
        info_url:
          type:
          - string
          - 'null'
          format: uri
          maxLength: 200
        wiki_url:
          type:
          - string
          - 'null'
          format: uri
          maxLength: 200
      required:
      - id
      - image
      - name
      - response_mode
      - url
    Notice:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        type:
          $ref: '#/components/schemas/NoticeType'
        date:
          type: string
          format: date-time
        url:
          type: string
          format: uri
          maxLength: 200
      required:
      - date
      - id
      - type
      - url
    NoticeType:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
      required:
      - id
      - name
    AstronautRole:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        role:
          type: string
          maxLength: 255
        priority:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
      required:
      - id
      - role
    SpacecraftNormal:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: normal
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 255
        serial_number:
          type:
          - string
          - 'null'
          maxLength: 255
        is_placeholder:
          type: boolean
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
          readOnly: true
        in_space:
          type: boolean
        time_in_space:
          type:
          - string
          - 'null'
          readOnly: true
        time_docked:
          type:
          - string
          - 'null'
          readOnly: true
        flights_count:
          type:
          - integer
          - 'null'
        mission_ends_count:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        status:
          $ref: '#/components/schemas/SpacecraftStatus'
        description:
          type: string
          maxLength: 2048
        spacecraft_config:
          $ref: '#/components/schemas/SpacecraftConfigNormal'
        fastest_turnaround:
          type:
          - string
          - 'null'
          readOnly: true
      required:
      - description
      - fastest_turnaround
      - flights_count
      - id
      - image
      - name
      - response_mode
      - spacecraft_config
      - status
      - time_docked
      - time_in_space
      - url
    RocketDetailed:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        configuration:
          $ref: '#/components/schemas/LauncherConfigDetailed'
        launcher_stage:
          type: array
          items:
            $ref: '#/components/schemas/FirstStageNormal'
        spacecraft_stage:
          type: array
          items:
            $ref: '#/components/schemas/SpacecraftFlightDetailedSerializerNoLaunch'
        payloads:
          type: array
          items:
            $ref: '#/components/schemas/PayloadFlightSerializerNoLaunch'
      required:
      - configuration
      - id
      - launcher_stage
      - payloads
      - spacecraft_stage
    LaunchNormal:
      type: object
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 2048
        response_mode:
          type: string
          readOnly: true
          default: normal
        slug:
          type: string
          pattern: ^[-a-zA-Z0-9_]+$
        launch_designator:
          type:
          - string
          - 'null'
          maxLength: 255
        status:
          allOf:
          - $ref: '#/components/schemas/LaunchStatus'
        last_updated:
          type: string
          format: date-time
        net:
          type: string
          format: date-time
        net_precision:
          allOf:
          - $ref: '#/components/schemas/NetPrecision'
        window_end:
          type: string
          format: date-time
        window_start:
          type: string
          format: date-time
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
          readOnly: true
        infographic:
          type:
          - string
          - 'null'
          readOnly: true
        probability:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        weather_concerns:
          type:
          - string
          - 'null'
          maxLength: 255
        failreason:
          type:
          - string
          - 'null'
          maxLength: 2048
        hashtag:
          type:
          - string
          - 'null'
          maxLength: 2048
        launch_service_provider:
          $ref: '#/components/schemas/AgencyMini'
        rocket:
          allOf:
          - $ref: '#/components/schemas/RocketNormal'
        mission:
          allOf:
          - $ref: '#/components/schemas/Mission'
        pad:
          allOf:
          - $ref: '#/components/schemas/Pad'
        webcast_live:
          type: boolean
        program:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ProgramNormal'
        orbital_launch_attempt_count:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        location_launch_attempt_count:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        pad_launch_attempt_count:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        agency_launch_attempt_count:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        orbital_launch_attempt_count_year:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        location_launch_attempt_count_year:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        pad_launch_attempt_count_year:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        agency_launch_attempt_count_year:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
      required:
      - id
      - image
      - infographic
      - launch_service_provider
      - mission
      - net_precision
      - pad
      - program
      - response_mode
      - rocket
      - slug
      - status
      - url
    ProgramType:
      type: object
      properties:
        id:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        name:
          type: string
          maxLength: 255
      required:
      - id
    LauncherConfigFamilyNormal:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: normal
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 200
        manufacturer:
          type: array
          items:
            $ref: '#/components/schemas/AgencyNormal'
        parent:
          allOf:
          - $ref: '#/components/schemas/LauncherConfigFamilyMini'
      required:
      - id
      - manufacturer
      - name
      - parent
      - response_mode
    VidURL:
      type: object
      properties:
        priority:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        source:
          type:
          - string
          - 'null'
          maxLength: 200
        publisher:
          type:
          - string
          - 'null'
          maxLength: 255
        title:
          type:
          - string
          - 'null'
          maxLength: 200
        description:
          type:
          - string
          - 'null'
          maxLength: 350
        feature_image:
          type:
          - string
          - 'null'
          format: uri
          maxLength: 200
        url:
          type: string
          format: uri
        type:
          allOf:
          - $ref: '#/components/schemas/VidURLType'
        language:
          allOf:
          - $ref: '#/components/schemas/Language'
        start_time:
          type:
          - string
          - 'null'
          format: date-time
        end_time:
          type:
          - string
          - 'null'
          format: date-time
        live:
          type: boolean
      required:
      - language
      - type
      - url
    SpacecraftConfigType:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
      required:
      - id
      - name
    VidURLType:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
      required:
      - id
      - name
    SocialMedia:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
        url:
          type:
          - string
          - 'null'
          format: uri
        logo:
          allOf:
          - $ref: '#/components/schemas/Image'
      required:
      - id
      - logo
      - url
    SpacecraftFlightDetailedSerializerNoLaunch:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        destination:
          type:
          - string
          - 'null'
          maxLength: 255
        mission_end:
          type:
          - string
          - 'null'
          format: date-time
        spacecraft:
          $ref: '#/components/schemas/SpacecraftDetailed'
        landing:
          $ref: '#/components/schemas/Landing'
        duration:
          type: string
          readOnly: true
        turn_around_time:
          type: string
          readOnly: true
        response_mode:
          type: string
          readOnly: true
          default: detailed
        launch_crew:
          type: array
          items:
            $ref: '#/components/schemas/AstronautFlight'
        onboard_crew:
          type: array
          items:
            $ref: '#/components/schemas/AstronautFlight'
        landing_crew:
          type: array
          items:
            $ref: '#/components/schemas/AstronautFlight'
        docking_events:
          type: array
          items:
            $ref: '#/components/schemas/DockingEventForChaserNormal'
      required:
      - docking_events
      - duration
      - id
      - landing
      - landing_crew
      - launch_crew
      - onboard_crew
      - response_mode
      - spacecraft
      - turn_around_time
      - url
    LandingLocation:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
        active:
          type: boolean
        abbrev:
          type: string
          maxLength: 255
        description:
          type:
          - string
          - 'null'
          maxLength: 2048
        location:
          $ref: '#/components/schemas/LocationSerializerNoCelestialBody'
        longitude:
          type:
          - number
          - 'null'
          format: double
        latitude:
          type:
          - number
          - 'null'
          format: double
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
        successful_landings:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        attempted_landings:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        failed_landings:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        celestial_body:
          $ref: '#/components/schemas/CelestialBodyNormal'
      required:
      - celestial_body
      - id
      - image
      - location
    ImageVariantType:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
      required:
      - id
    SocialMediaLink:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        social_media:
          $ref: '#/components/schemas/SocialMedia'
        url:
          type:
          - string
          - 'null'
          format: uri
      required:
      - id
      - social_media
      - url
    LauncherNormal:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: normal
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        flight_proven:
          type: boolean
        serial_number:
          type:
          - string
          - 'null'
          maxLength: 10
        is_placeholder:
          type: boolean
        status:
          allOf:
          - $ref: '#/components/schemas/LauncherStatus'
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
          readOnly: true
        details:
          type: string
          maxLength: 2048
        successful_landings:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        attempted_landings:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        flights:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        last_launch_date:
          type:
          - string
          - 'null'
          format: date-time
        first_launch_date:
          type:
          - string
          - 'null'
          format: date-time
        fastest_turnaround:
          type:
          - string
          - 'null'
          readOnly: true
      required:
      - fastest_turnaround
      - id
      - image
      - response_mode
      - status
      - url
    LaunchStatus:
      type: object
      properties:
        id:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        name:
          type: string
          readOnly: true
        abbrev:
          type: string
          maxLength: 255
        description:
          type: string
          maxLength: 2048
      required:
      - id
      - name
    TimelineEventType:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        abbrev:
          type: string
          maxLength: 255
        description:
          type: string
          maxLength: 2048
      required:
      - abbrev
      - id
    LaunchAndEventsList:
      type: object
      properties:
        launches:
          type: array
          items:
            $ref: '#/components/schemas/LaunchBasic'
        events:
          type: array
          items:
            $ref: '#/components/schemas/EventEndpointList'
      required:
      - events
      - launches
    RoadClosureStatus:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
      required:
      - id
      - name
    CelestialBodyMini:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: list
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
      required:
      - id
      - name
      - response_mode
    ProgramNormal:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: normal
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 255
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
        info_url:
          type:
          - string
          - 'null'
          format: uri
          maxLength: 200
        wiki_url:
          type:
          - string
          - 'null'
          format: uri
          maxLength: 200
        description:
          type:
          - string
          - 'null'
          maxLength: 40000
        agencies:
          type: array
          items:
            $ref: '#/components/schemas/AgencyMini'
        start_date:
          type:
          - string
          - 'null'
          format: date-time
        end_date:
          type:
          - string
          - 'null'
          format: date-time
        mission_patches:
          type: array
          items:
            $ref: '#/components/schemas/MissionPatch'
        type:
          $ref: '#/components/schemas/ProgramType'
      required:
      - agencies
      - id
      - image
      - mission_patches
      - name
      - response_mode
      - type
      - url
    SpacecraftConfigFamilyNormal:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: normal
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 200
        description:
          type: string
          maxLength: 2048
        manufacturer:
          allOf:
          - $ref: '#/components/schemas/AgencyMini'
        parent:
          allOf:
          - $ref: '#/components/schemas/SpacecraftConfigFamilyMini'
        maiden_flight:
          type:
          - string
          - 'null'
          format: date
          title: Maiden Flight Date
      required:
      - id
      - manufacturer
      - name
      - parent
      - response_mode
    AgencyMini:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: list
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 200
        abbrev:
          type: string
          maxLength: 255
        type:
          $ref: '#/components/schemas/AgencyType'
      required:
      - id
      - name
      - response_mode
      - type
      - url
    Country:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
        alpha_2_code:
          type: string
          description: ISO 3166-1 alpha-2
          maxLength: 2
        alpha_3_code:
          type: string
          description: ISO 3166-1 alpha-3
          maxLength: 3
        nationality_name:
          type: string
          description: e.g. French
          maxLength: 255
        nationality_name_composed:
          type: string
          description: e.g. Franco
          maxLength: 255
      required:
      - id
    DockingLocation:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
        spacestation:
          $ref: '#/components/schemas/SpaceStationMini'
        spacecraft:
          $ref: '#/components/schemas/SpacecraftConfigNormal'
        payload:
          $ref: '#/components/schemas/PayloadMini'
      required:
      - id
      - name
      - payload
      - spacecraft
      - spacestation
    SpacecraftConfigDetailed:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: detailed
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 200
        type:
          $ref: '#/components/schemas/SpacecraftConfigType'
        agency:
          $ref: '#/components/schemas/AgencyNormal'
        family:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/SpacecraftConfigFamilyDetailed'
        in_use:
          type: boolean
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
        capability:
          type: string
          maxLength: 2048
        history:
          type: string
          maxLength: 1000
        details:
          type: string
          maxLength: 1000
        maiden_flight:
          type:
          - string
          - 'null'
          format: date
        height:
          type:
          - number
          - 'null'
          format: double
          title: Length (m)
        diameter:
          type:
          - number
          - 'null'
          format: double
          title: Diameter (m)
        human_rated:
          type: boolean
        crew_capacity:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        payload_capacity:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
          title: Payload Capacity (kg)
        payload_return_capacity:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
          title: Payload Return Capacity (kg)
        flight_life:
          type:
          - string
          - 'null'
          maxLength: 2048
        wiki_link:
          type: string
          format: uri
          maxLength: 200
        info_link:
          type: string
          format: uri
          maxLength: 200
        spacecraft_flown:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        total_launch_count:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        successful_launches:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        failed_launches:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        attempted_landings:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        successful_landings:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        failed_landings:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        fastest_turnaround:
          type:
          - string
          - 'null'
          readOnly: true
      required:
      - agency
      - family
      - fastest_turnaround
      - id
      - image
      - name
      - response_mode
      - type
      - url
    PayloadDetailed:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: detailed
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 1048
        type:
          $ref: '#/components/schemas/PayloadType'
        manufacturer:
          $ref: '#/components/schemas/AgencyDetailed'
        operator:
          $ref: '#/components/schemas/AgencyDetailed'
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
        wiki_link:
          type: string
          format: uri
          maxLength: 200
        info_link:
          type: string
          format: uri
          maxLength: 200
        program:
          type: array
          items:
            $ref: '#/components/schemas/ProgramNormal'
        cost:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
          title: Cost (USD)
        mass:
          type:
          - number
          - 'null'
          format: double
          title: Mass (kg)
        description:
          type: string
          maxLength: 2048
      required:
      - id
      - image
      - manufacturer
      - operator
      - program
      - response_mode
      - type
    SpacecraftDetailed:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: normal
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 255
        serial_number:
          type:
          - string
          - 'null'
          maxLength: 255
        is_placeholder:
          type: boolean
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
          readOnly: true
        in_space:
          type: boolean
        time_in_space:
          type:
          - string
          - 'null'
          readOnly: true
        time_docked:
          type:
          - string
          - 'null'
          readOnly: true
        flights_count:
          type:
          - integer
          - 'null'
        mission_ends_count:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        status:
          $ref: '#/components/schemas/SpacecraftStatus'
        description:
          type: string
          maxLength: 2048
        spacecraft_config:
          $ref: '#/components/schemas/SpacecraftConfigDetailed'
        fastest_turnaround:
          type:
          - string
          - 'null'
          readOnly: true
      required:
      - description
      - fastest_turnaround
      - flights_count
      - id
      - image
      - name
      - response_mode
      - spacecraft_config
      - status
      - time_docked
      - time_in_space
      - url
    DockingEventForChaserNormal:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        docking:
          type: string
          format: date-time
        departure:
          type:
          - string
          - 'null'
          format: date-time
        docking_location:
          $ref: '#/components/schemas/DockingLocation'
        space_station_target:
          $ref: '#/components/schemas/SpaceStationNormal'
        flight_vehicle_target:
          $ref: '#/components/schemas/SpacecraftFlightNormal'
        payload_flight_target:
          $ref: '#/components/schemas/PayloadFlightNormal'
      required:
      - docking
      - docking_location
      - flight_vehicle_target
      - id
      - payload_flight_target
      - space_station_target
      - url
    AgencyNormal:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: normal
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 200
        abbrev:
          type: string
          maxLength: 255
        type:
          $ref: '#/components/schemas/AgencyType'
        featured:
          type: boolean
        country:
          type: array
          items:
            $ref: '#/components/schemas/Country'
        description:
          type:
          - string
          - 'null'
          maxLength: 2048
        administrator:
          type:
          - string
          - 'null'
          maxLength: 200
        founding_year:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        launchers:
          type: string
          maxLength: 500
        spacecraft:
          type: string
          maxLength: 500
        parent:
          type:
          - string
          - 'null'
          readOnly: true
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
        logo:
          allOf:
          - $ref: '#/components/schemas/Image'
        social_logo:
          allOf:
          - $ref: '#/components/schemas/Image'
      required:
      - country
      - id
      - image
      - logo
      - name
      - parent
      - response_mode
      - social_logo
      - type
      - url
    Location:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: normal
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 255
        celestial_body:
          $ref: '#/components/schemas/CelestialBodyDetailed'
        active:
          type: boolean
        country:
          allOf:
          - $ref: '#/components/schemas/Country'
        description:
          type:
          - string
          - 'null'
          maxLength: 2048
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
        map_image:
          type:
          - string
          - 'null'
          format: uri
        longitude:
          type:
          - number
          - 'null'
          format: double
        latitude:
          type:
          - number
          - 'null'
          format: double
        timezone_name:
          type: string
          maxLength: 255
        total_launch_count:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        total_landing_count:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
      required:
      - celestial_body
      - country
      - id
      - image
      - response_mode
      - url
    Landing:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        attempt:
          type: boolean
        success:
          type:
          - boolean
          - 'null'
        description:
          type: string
          maxLength: 2048
        downrange_distance:
          type:
          - number
          - 'null'
          format: double
          title: Downrange distance (km)
        landing_location:
          $ref: '#/components/schemas/LandingLocation'
        type:
          $ref: '#/components/schemas/LandingType'
      required:
      - id
      - landing_location
      - type
      - url
    Image:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
        image_url:
          type: string
          format: uri
        thumbnail_url:
          type: string
          format: uri
        credit:
          type:
          - string
          - 'null'
          maxLength: 255
        license:
          $ref: '#/components/schemas/ImageLicense'
        single_use:
          type: boolean
        variants:
          type: array
          items:
            $ref: '#/components/schemas/ImageVariant'
      required:
      - id
      - image_url
      - license
      - name
      - thumbnail_url
      - variants
    LaunchAndEventsDetailed:
      type: object
      properties:
        launches:
          type: array
          items:
            $ref: '#/components/schemas/LaunchDetailed'
        events:
          type: array
          items:
            $ref: '#/components/schemas/EventNormal'
      required:
      - events
      - launches
    RoadClosure:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        title:
          type: string
          maxLength: 1048
        status:
          $ref: '#/components/schemas/RoadClosureStatus'
        window_start:
          type: string
          format: date-time
        window_end:
          type: string
          format: date-time
      required:
      - id
      - status
      - title
      - window_end
      - window_start
    RocketNormal:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        configuration:
          $ref: '#/components/schemas/LauncherConfigList'
      required:
      - configuration
      - id
    SpaceStationType:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
      required:
      - id
      - name
    TimelineEvent:
      type: object
      properties:
        type:
          allOf:
          - $ref: '#/components/schemas/TimelineEventType'
        relative_time:
          type:
          - string
          - 'null'
          readOnly: true
      required:
      - relative_time
      - type
    VidURLs:
      type: object
      properties:
        title:
          type:
          - string
          - 'null'
          maxLength: 200
        description:
          type:
          - string
          - 'null'
          maxLength: 350
        image:
          type:
          - string
          - 'null'
          format: uri
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
      required:
      - image
      - url
    FirstStageNormal:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        type:
          type: string
          readOnly: true
        reused:
          type:
          - boolean
          - 'null'
        launcher_flight_number:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        launcher:
          $ref: '#/components/schemas/LauncherNormal'
        previous_flight_date:
          type:
          - string
          - 'null'
          format: date-time
        turn_around_time:
          type: string
          readOnly: true
        landing:
          $ref: '#/components/schemas/Landing'
        previous_flight:
          $ref: '#/components/schemas/LaunchMini'
      required:
      - id
      - landing
      - launcher
      - previous_flight
      - turn_around_time
      - type
    LauncherConfigFamilyMini:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: list
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 200
      required:
      - id
      - name
      - response_mode
    SpaceStationMini:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 255
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
      required:
      - id
      - image
      - name
      - url
    LauncherConfigDetailed:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: detailed
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 200
        families:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/LauncherConfigFamilyDetailed'
        full_name:
          type: string
          maxLength: 200
        variant:
          type: string
          maxLength: 200
        active:
          type: boolean
        is_placeholder:
          type: boolean
        manufacturer:
          allOf:
          - $ref: '#/components/schemas/AgencyDetailed'
        program:
          type: array
          items:
            $ref: '#/components/schemas/ProgramNormal'
        reusable:
          type: boolean
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
        info_url:
          type:
          - string
          - 'null'
          maxLength: 200
        wiki_url:
          type:
          - string
          - 'null'
          maxLength: 200
        description:
          type: string
          maxLength: 2048
        alias:
          type: string
          maxLength: 200
        min_stage:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        max_stage:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        length:
          type:
          - number
          - 'null'
          format: double
          title: Length (m)
        diameter:
          type:
          - number
          - 'null'
          format: double
          title: Max Diameter (m)
        maiden_flight:
          type:
          - string
          - 'null'
          format: date
          title: Maiden Flight Date
        launch_cost:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
          title: Launch Cost (USD)
        launch_mass:
          type:
          - number
          - 'null'
          format: double
          title: Mass at Launch (T)
        leo_capacity:
          type:
          - number
          - 'null'
          format: double
          title: LEO Capacity (kg)
        gto_capacity:
          type:
          - number
          - 'null'
          format: double
          title: GTO Capacity (kg)
        geo_capacity:
          type:
          - number
          - 'null'
          format: double
          title: GEO Capacity (kg)
        sso_capacity:
          type:
          - number
          - 'null'
          format: double
          title: SSO Capacity (kg)
        to_thrust:
          type:
          - number
          - 'null'
          format: double
          title: Thrust at Liftoff (kN)
        apogee:
          type:
          - number
          - 'null'
          format: double
          title: Apogee - Sub-Orbital Only (km)
        total_launch_count:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        consecutive_successful_launches:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        successful_launches:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        failed_launches:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        pending_launches:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        attempted_landings:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        successful_landings:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        failed_landings:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        consecutive_successful_landings:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        fastest_turnaround:
          type:
          - string
          - 'null'
          readOnly: true
      required:
      - families
      - fastest_turnaround
      - id
      - image
      - manufacturer
      - name
      - program
      - response_mode
      - url
    CelestialBodyNormal:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: normal
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
        type:
          $ref: '#/components/schemas/CelestialBodyType'
        diameter:
          type:
          - number
          - 'null'
          format: double
          description: m
        mass:
          type:
          - number
          - 'null'
          format: double
          description: kg
        gravity:
          type:
          - number
          - 'null'
          format: double
          description: m/s^2
        length_of_day:
          type:
          - string
          - 'null'
        atmosphere:
          type: boolean
        image:
          $ref: '#/components/schemas/Image'
        description:
          type:
          - string
          - 'null'
        wiki_url:
          type:
          - string
          - 'null'
          format: uri
          maxLength: 200
      required:
      - id
      - image
      - name
      - response_mode
      - type
    PolymorphicStarshipDashboardEndpoint:
      oneOf:
      - $ref: '#/components/schemas/StarshipDashboardList'
      - $ref: '#/components/schemas/StarshipDashboardNormal'
      - $ref: '#/components/schemas/StarshipDashboardDetailed'
      discriminator:
        propertyName: response_mode
        mapping:
          list: '#/components/schemas/StarshipDashboardList'
          normal: '#/components/schemas/StarshipDashboardNormal'
          detailed: '#/components/schemas/StarshipDashboardDetailed'
    AgencyType:
      type: object
      properties:
        id:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        name:
          type: string
          maxLength: 255
      required:
      - id
    AstronautFlight:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        role:
          $ref: '#/components/schemas/AstronautRole'
        astronaut:
          $ref: '#/components/schemas/AstronautDetailed'
      required:
      - astronaut
      - id
      - role
    Orbit:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 50
        abbrev:
          type: string
          maxLength: 30
        celestial_body:
          $ref: '#/components/schemas/CelestialBodyMini'
      required:
      - abbrev
      - celestial_body
      - id
      - name
    LaunchBasic:
      type: object
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 2048
        response_mode:
          type: string
          readOnly: true
          default: list
        slug:
          type: string
          pattern: ^[-a-zA-Z0-9_]+$
        launch_designator:
          type:
          - string
          - 'null'
          maxLength: 255
        status:
          allOf:
          - $ref: '#/components/schemas/LaunchStatus'
        last_updated:
          type: string
          format: date-time
        net:
          type: string
          format: date-time
        net_precision:
          allOf:
          - $ref: '#/components/schemas/NetPrecision'
        window_end:
          type: string
          format: date-time
        window_start:
          type: string
          format: date-time
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
          readOnly: true
        infographic:
          type:
          - string
          - 'null'
          readOnly: true
      required:
      - id
      - image
      - infographic
      - net_precision
      - response_mode
      - slug
      - status
      - url
    LauncherConfigList:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: list
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 200
        families:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/LauncherConfigFamilyMini'
        full_name:
          type: string
          maxLength: 200
        variant:
          type: string
          maxLength: 200
      required:
      - families
      - id
      - name
      - response_mode
      - url
    PayloadMini:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: list
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 1048
        type:
          $ref: '#/components/schemas/PayloadType'
        manufacturer:
          $ref: '#/components/schemas/AgencyMini'
        operator:
          $ref: '#/components/schemas/AgencyMini'
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
      required:
      - id
      - image
      - manufacturer
      - operator
      - response_mode
      - type
    SpaceStationNormal:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 255
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
        status:
          $ref: '#/components/schemas/SpaceStationStatus'
        founded:
          type: string
          format: date
        deorbited:
          type:
          - string
          - 'null'
          format: date
        description:
          type: string
          maxLength: 2048
        orbit:
          type:
          - string
          - 'null'
          readOnly: true
        type:
          $ref: '#/components/schemas/SpaceStationType'
      required:
      - description
      - founded
      - id
      - image
      - name
      - orbit
      - status
      - type
      - url
    AstronautStatus:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
      required:
      - id
      - name
    PayloadType:
      type: object
      properties:
        id:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        name:
          type: string
          maxLength: 255
      required:
      - id
    StarshipDashboardDetailed:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: detailed
        updates:
          type: array
          items:
            $ref: '#/components/schemas/Update'
        live_streams:
          type: array
          items:
            $ref: '#/components/schemas/VidURLs'
        road_closures:
          type: array
          items:
            $ref: '#/components/schemas/RoadClosure'
        notices:
          type: array
          items:
            $ref: '#/components/schemas/Notice'
        vehicles:
          type: array
          items:
            $ref: '#/components/schemas/LauncherDetailed'
        orbiters:
          type: array
          items:
            $ref: '#/components/schemas/SpacecraftNormal'
        upcoming:
          $ref: '#/components/schemas/LaunchAndEventsDetailed'
        previous:
          $ref: '#/components/schemas/LaunchAndEventsDetailed'
      required:
      - live_streams
      - notices
      - orbiters
      - previous
      - response_mode
      - road_closures
      - upcoming
      - updates
      - vehicles
    PayloadNormal:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: normal
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 1048
        type:
          $ref: '#/components/schemas/PayloadType'
        manufacturer:
          $ref: '#/components/schemas/AgencyNormal'
        operator:
          $ref: '#/components/schemas/AgencyNormal'
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
        wiki_link:
          type: string
          format: uri
          maxLength: 200
        info_link:
          type: string
          format: uri
          maxLength: 200
        program:
          type: array
          items:
            $ref: '#/components/schemas/ProgramMini'
        cost:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
          title: Cost (USD)
        mass:
          type:
          - number
          - 'null'
          format: double
          title: Mass (kg)
        description:
          type: string
          maxLength: 2048
      required:
      - id
      - image
      - manufacturer
      - operator
      - program
      - response_mode
      - type
    AstronautType:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
      required:
      - id
      - name
    LauncherConfigFamilyDetailed:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: detailed
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 200
        manufacturer:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/AgencyDetailed'
        parent:
          allOf:
          - $ref: '#/components/schemas/LauncherConfigFamilyNormal'
        description:
          type: string
          maxLength: 2048
        active:
          type: boolean
        maiden_flight:
          type:
          - string
          - 'null'
          format: date
          title: Maiden Flight Date
        total_launch_count:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        consecutive_successful_launches:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        successful_launches:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        failed_launches:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        pending_launches:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        attempted_landings:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        successful_landings:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        failed_landings:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        consecutive_successful_landings:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
      required:
      - id
      - manufacturer
      - name
      - parent
      - response_mode
    PayloadFlightSerializerNoLaunch:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: detailed
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        destination:
          type:
          - string
          - 'null'
          maxLength: 255
        amount:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        payload:
          $ref: '#/components/schemas/PayloadDetailed'
        landing:
          $ref: '#/components/schemas/Landing'
        docking_events:
          type: array
          items:
            $ref: '#/components/schemas/DockingEventForChaserNormal'
      required:
      - docking_events
      - id
      - landing
      - payload
      - response_mode
      - url
    StarshipDashboardList:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: list
        updates:
          type: array
          items:
            $ref: '#/components/schemas/Update'
        live_streams:
          type: array
          items:
            $ref: '#/components/schemas/VidURLs'
        road_closures:
          type: array
          items:
            $ref: '#/components/schemas/RoadClosure'
        notices:
          type: array
          items:
            $ref: '#/components/schemas/Notice'
        vehicles:
          type: array
          items:
            $ref: '#/components/schemas/LauncherDetailed'
        orbiters:
          type: array
          items:
            $ref: '#/components/schemas/SpacecraftNormal'
        upcoming:
          $ref: '#/components/schemas/LaunchAndEventsList'
        previous:
          $ref: '#/components/schemas/LaunchAndEventsList'
      required:
      - live_streams
      - notices
      - orbiters
      - previous
      - response_mode
      - road_closures
      - upcoming
      - updates
      - vehicles
    LaunchDetailed:
      type: object
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 2048
        response_mode:
          type: string
          readOnly: true
          default: detailed
        slug:
          type: string
          pattern: ^[-a-zA-Z0-9_]+$
        launch_designator:
          type:
          - string
          - 'null'
          maxLength: 255
        status:
          allOf:
          - $ref: '#/components/schemas/LaunchStatus'
        last_updated:
          type: string
          format: date-time
        net:
          type: string
          format: date-time
        net_precision:
          allOf:
          - $ref: '#/components/schemas/NetPrecision'
        window_end:
          type: string
          format: date-time
        window_start:
          type: string
          format: date-time
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
          readOnly: true
        infographic:
          type:
          - string
          - 'null'
          readOnly: true
        probability:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        weather_concerns:
          type:
          - string
          - 'null'
          maxLength: 255
        failreason:
          type:
          - string
          - 'null'
          maxLength: 2048
        hashtag:
          type:
          - string
          - 'null'
          maxLength: 2048
        launch_service_provider:
          $ref: '#/components/schemas/AgencyDetailed'
        rocket:
          allOf:
          - $ref: '#/components/schemas/RocketDetailed'
        mission:
          allOf:
          - $ref: '#/components/schemas/Mission'
        pad:
          allOf:
          - $ref: '#/components/schemas/Pad'
        webcast_live:
          type: boolean
        program:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ProgramNormal'
        orbital_launch_attempt_count:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        location_launch_attempt_count:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        pad_launch_attempt_count:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        agency_launch_attempt_count:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        orbital_launch_attempt_count_year:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        location_launch_attempt_count_year:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        pad_launch_attempt_count_year:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        agency_launch_attempt_count_year:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        flightclub_url:
          type:
          - string
          - 'null'
          format: uri
          maxLength: 200
        updates:
          type: array
          items:
            $ref: '#/components/schemas/Update'
        info_urls:
          type: array
          items:
            $ref: '#/components/schemas/InfoURL'
        vid_urls:
          type: array
          items:
            $ref: '#/components/schemas/VidURL'
        timeline:
          type: array
          items:
            $ref: '#/components/schemas/TimelineEvent'
        pad_turnaround:
          type: string
          readOnly: true
        mission_patches:
          type: array
          items:
            $ref: '#/components/schemas/MissionPatch'
      required:
      - id
      - image
      - info_urls
      - infographic
      - launch_service_provider
      - mission
      - mission_patches
      - net_precision
      - pad
      - pad_turnaround
      - program
      - response_mode
      - rocket
      - slug
      - status
      - timeline
      - updates
      - url
      - vid_urls
    InfoURL:
      type: object
      properties:
        priority:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        source:
          type:
          - string
          - 'null'
          maxLength: 200
        title:
          type:
          - string
          - 'null'
          maxLength: 200
        description:
          type:
          - string
          - 'null'
          maxLength: 350
        feature_image:
          type:
          - string
          - 'null'
          format: uri
          maxLength: 200
        url:
          type: string
          format: uri
        type:
          allOf:
          - $ref: '#/components/schemas/InfoURLType'
        language:
          allOf:
          - $ref: '#/components/schemas/Language'
      required:
      - language
      - type
      - url
    Language:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
        code:
          type: string
          description: ISO 639-1 (two-letter) code
          maxLength: 255
      required:
      - code
      - id
      - name
    LaunchMini:
      type: object
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 2048
      required:
      - id
      - url
    SpacecraftFlightNormal:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        destination:
          type:
          - string
          - 'null'
          maxLength: 255
        mission_end:
          type:
          - string
          - 'null'
          format: date-time
        spacecraft:
          $ref: '#/components/schemas/SpacecraftNormal'
        launch:
          $ref: '#/components/schemas/LaunchNormal'
        landing:
          $ref: '#/components/schemas/Landing'
        duration:
          type: string
          readOnly: true
        turn_around_time:
          type: string
          readOnly: true
        response_mode:
          type: string
          readOnly: true
          default: normal
      required:
      - duration
      - id
      - landing
      - launch
      - response_mode
      - spacecraft
      - turn_around_time
      - url
    StarshipDashboardNormal:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: normal
        updates:
          type: array
          items:
            $ref: '#/components/schemas/Update'
        live_streams:
          type: array
          items:
            $ref: '#/components/schemas/VidURLs'
        road_closures:
          type: array
          items:
            $ref: '#/components/schemas/RoadClosure'
        notices:
          type: array
          items:
            $ref: '#/components/schemas/Notice'
        vehicles:
          type: array
          items:
            $ref: '#/components/schemas/LauncherDetailed'
        orbiters:
          type: array
          items:
            $ref: '#/components/schemas/SpacecraftNormal'
        upcoming:
          $ref: '#/components/schemas/LaunchAndEventsNormal'
        previous:
          $ref: '#/components/schemas/LaunchAndEventsNormal'
      required:
      - live_streams
      - notices
      - orbiters
      - previous
      - response_mode
      - road_closures
      - upcoming
      - updates
      - vehicles
    PayloadFlightNormal:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: normal
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        destination:
          type:
          - string
          - 'null'
          maxLength: 255
        amount:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        payload:
          $ref: '#/components/schemas/PayloadNormal'
        launch:
          $ref: '#/components/schemas/LaunchNormal'
        landing:
          $ref: '#/components/schemas/Landing'
      required:
      - id
      - landing
      - launch
      - payload
      - response_mode
      - url
    NetPrecision:
      type: object
      properties:
        id:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        name:
          type: string
          maxLength: 255
        abbrev:
          type: string
          maxLength: 255
        description:
          type: string
          maxLength: 2048
      required:
      - id
    SpacecraftConfigFamilyMini:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: list
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 200
      required:
      - id
      - name
      - response_mode
    LaunchAndEventsNormal:
      type: object
      properties:
        launches:
          type: array
          items:
            $ref: '#/components/schemas/LaunchNormal'
        events:
          type: array
          items:
            $ref: '#/components/schemas/EventNormal'
      required:
      - events
      - launches
    EventType:
      type: object
      properties:
        id:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        name:
          type: string
          maxLength: 255
      required:
      - id
    SpacecraftConfigNormal:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: normal
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 200
        type:
          $ref: '#/components/schemas/SpacecraftConfigType'
        agency:
          $ref: '#/components/schemas/AgencyMini'
        family:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/SpacecraftConfigFamilyNormal'
        in_use:
          type: boolean
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
      required:
      - agency
      - family
      - id
      - image
      - name
      - response_mode
      - type
      - url
    CelestialBodyDetailed:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: normal
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
        type:
          $ref: '#/components/schemas/CelestialBodyType'
        diameter:
          type:
          - number
          - 'null'
          format: double
          description: m
        mass:
          type:
          - number
          - 'null'
          format: double
          description: kg
        gravity:
          type:
          - number
          - 'null'
          format: double
          description: m/s^2
        length_of_day:
          type:
          - string
          - 'null'
        atmosphere:
          type: boolean
        image:
          $ref: '#/components/schemas/Image'
        description:
          type:
          - string
          - 'null'
        wiki_url:
          type:
          - string
          - 'null'
          format: uri
          maxLength: 200
        total_attempted_launches:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        successful_launches:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        failed_launches:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        total_attempted_landings:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        successful_landings:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        failed_landings:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
      required:
      - id
      - image
      - name
      - response_mode
      - type
    ImageVariant:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        type:
          $ref: '#/components/schemas/ImageVariantType'
        image_url:
          type: string
          format: uri
      required:
      - id
      - image_url
      - type
    Mission:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
        type:
          type: string
          readOnly: true
        description:
          type: string
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
        orbit:
          $ref: '#/components/schemas/Orbit'
        agencies:
          type: array
          items:
            $ref: '#/components/schemas/AgencyDetailed'
        info_urls:
          type: array
          items:
            $ref: '#/components/schemas/InfoURL'
        vid_urls:
          type: array
          items:
            $ref: '#/components/schemas/VidURL'
      required:
      - agencies
      - id
      - image
      - info_urls
      - name
      - orbit
      - type
      - vid_urls
    LauncherStatus:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 50
      required:
      - id
    LandingType:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
        abbrev:
          type: string
          maxLength: 255
        description:
          type:
          - string
          - 'null'
          maxLength: 2048
      required:
      - id
    SpacecraftConfigFamilyDetailed:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: normal
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 200
        description:
          type: string
          maxLength: 2048
        manufacturer:
          $ref: '#/components/schemas/AgencyNormal'
        parent:
          allOf:
          - $ref: '#/components/schemas/SpacecraftConfigFamilyNormal'
        maiden_flight:
          type:
          - string
          - 'null'
          format: date
          title: Maiden Flight Date
        spacecraft_flown:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        total_launch_count:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        successful_launches:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        failed_launches:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        attempted_landings:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        successful_landings:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        failed_landings:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
      required:
      - id
      - manufacturer
      - name
      - parent
      - response_mode
    EventNormal:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 200
        info_urls:
          type: array
          items:
            $ref: '#/components/schemas/InfoURL'
        vid_urls:
          type: array
          items:
            $ref: '#/components/schemas/VidURL'
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
        date:
          type:
          - string
          - 'null'
          format: date-time
        slug:
          type: string
          pattern: ^[-a-zA-Z0-9_]+$
        type:
          $ref: '#/components/schemas/EventType'
        description:
          type: string
          maxLength: 2048
        webcast_live:
          type: boolean
        location:
          type:
          - string
          - 'null'
          maxLength: 100
        date_precision:
          allOf:
          - $ref: '#/components/schemas/NetPrecision'
      required:
      - date_precision
      - id
      - image
      - info_urls
      - name
      - slug
      - type
      - url
      - vid_urls
    AgencyDetailed:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: normal
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 200
        abbrev:
          type: string
          maxLength: 255
        type:
          $ref: '#/components/schemas/AgencyType'
        featured:
          type: boolean
        country:
          type: array
          items:
            $ref: '#/components/schemas/Country'
        description:
          type:
          - string
          - 'null'
          maxLength: 2048
        administrator:
          type:
          - string
          - 'null'
          maxLength: 200
        founding_year:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        launchers:
          type: string
          maxLength: 500
        spacecraft:
          type: string
          maxLength: 500
        parent:
          type:
          - string
          - 'null'
          readOnly: true
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
        logo:
          allOf:
          - $ref: '#/components/schemas/Image'
        social_logo:
          allOf:
          - $ref: '#/components/schemas/Image'
        total_launch_count:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        consecutive_successful_launches:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        successful_launches:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        failed_launches:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        pending_launches:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        consecutive_successful_landings:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        successful_landings:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        failed_landings:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        attempted_landings:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        successful_landings_spacecraft:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        failed_landings_spacecraft:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        attempted_landings_spacecraft:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        successful_landings_payload:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        failed_landings_payload:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        attempted_landings_payload:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        info_url:
          type:
          - string
          - 'null'
          format: uri
          maxLength: 200
        wiki_url:
          type:
          - string
          - 'null'
          format: uri
          maxLength: 200
        social_media_links:
          type: array
          items:
            $ref: '#/components/schemas/SocialMediaLink'
      required:
      - country
      - id
      - image
      - logo
      - name
      - parent
      - response_mode
      - social_logo
      - social_media_links
      - type
      - url
    LocationSerializerNoCelestialBody:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: normal
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 255
        active:
          type: boolean
        country:
          allOf:
          - $ref: '#/components/schemas/Country'
        description:
          type:
          - string
          - 'null'
          maxLength: 2048
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
        map_image:
          type:
          - string
          - 'null'
          format: uri
        longitude:
          type:
          - number
          - 'null'
          format: double
        latitude:
          type:
          - number
          - 'null'
          format: double
        timezone_name:
          type: string
          maxLength: 255
        total_launch_count:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        total_landing_count:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
      required:
      - country
      - id
      - image
      - response_mode
      - url
    CelestialBodyType:
      type: object
      properties:
        id:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        name:
          type: string
          maxLength: 255
      required:
      - id
    EventEndpointList:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 200
        info_urls:
          type: array
          items:
            $ref: '#/components/schemas/InfoURL'
        vid_urls:
          type: array
          items:
            $ref: '#/components/schemas/VidURL'
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
        date:
          type:
          - string
          - 'null'
          format: date-time
        slug:
          type: string
          pattern: ^[-a-zA-Z0-9_]+$
        type:
          $ref: '#/components/schemas/EventType'
        description:
          type: string
          maxLength: 2048
        webcast_live:
          type: boolean
        location:
          type:
          - string
          - 'null'
          maxLength: 100
        date_precision:
          allOf:
          - $ref: '#/components/schemas/NetPrecision'
        response_mode:
          type: string
          readOnly: true
          default: list
        duration:
          type:
          - string
          - 'null'
          readOnly: true
      required:
      - date_precision
      - duration
      - id
      - image
      - info_urls
      - name
      - response_mode
      - slug
      - type
      - url
      - vid_urls
    InfoURLType:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
      required:
      - id
      - name
    Pad:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        active:
          type: boolean
        agencies:
          type: array
          items:
            $ref: '#/components/schemas/AgencyNormal'
        name:
          type: string
          maxLength: 255
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
        description:
          type:
          - string
          - 'null'
          maxLength: 2048
        info_url:
          type:
          - string
          - 'null'
          format: uri
          maxLength: 200
        wiki_url:
          type:
          - string
          - 'null'
          format: uri
          maxLength: 200
        map_url:
          type:
          - string
          - 'null'
          format: uri
          maxLength: 200
        latitude:
          type:
          - number
          - 'null'
          format: double
        longitude:
          type:
          - number
          - 'null'
          format: double
        country:
          allOf:
          - $ref: '#/components/schemas/Country'
        map_image:
          type:
          - string
          - 'null'
          format: uri
        total_launch_count:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        orbital_launch_attempt_count:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        fastest_turnaround:
          type:
          - string
          - 'null'
          readOnly: true
        location:
          allOf:
          - $ref: '#/components/schemas/Location'
      required:
      - agencies
      - country
      - fastest_turnaround
      - id
      - image
      - location
      - url
    MissionPatch:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 200
        priority:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        image_url:
          type: string
          format: uri
        agency:
          allOf:
          - $ref: '#/components/schemas/AgencyMini'
        response_mode:
          type: string
          readOnly: true
          default: normal
      required:
      - agency
      - id
      - image_url
      - name
      - response_mode
    SpacecraftStatus:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
      required:
      - id
      - name
    LauncherDetailed:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: detailed
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        flight_proven:
          type: boolean
        serial_number:
          type:
          - string
          - 'null'
          maxLength: 10
        is_placeholder:
          type: boolean
        status:
          allOf:
          - $ref: '#/components/schemas/LauncherStatus'
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
          readOnly: true
        details:
          type: string
          maxLength: 2048
        successful_landings:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        attempted_landings:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        flights:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        last_launch_date:
          type:
          - string
          - 'null'
          format: date-time
        first_launch_date:
          type:
          - string
          - 'null'
          format: date-time
        fastest_turnaround:
          type:
          - string
          - 'null'
          readOnly: true
        launcher_config:
          allOf:
          - $ref: '#/components/schemas/LauncherConfigList'
      required:
      - fastest_turnaround
      - id
      - image
      - launcher_config
      - response_mode
      - status
      - url
    Update:
      type: object
      properties:
        id:
          type: integer
        profile_image:
          type:
          - string
          - 'null'
          readOnly: true
        comment:
          type:
          - string
          - 'null'
          maxLength: 40000
        info_url:
          type:
          - string
          - 'null'
          format: uri
          maxLength: 200
        created_by:
          type:
          - string
          - 'null'
          readOnly: true
        created_on:
          type: string
          format: date-time
      required:
      - created_by
      - id
      - profile_image
    AstronautDetailed:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 255
        status:
          $ref: '#/components/schemas/AstronautStatus'
        agency:
          allOf:
          - $ref: '#/components/schemas/AgencyMini'
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
        response_mode:
          type: string
          readOnly: true
          default: list
        type:
          $ref: '#/components/schemas/AstronautType'
        in_space:
          type: boolean
        time_in_space:
          type:
          - string
          - 'null'
          readOnly: true
        eva_time:
          type: string
          readOnly: true
        age:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        date_of_birth:
          type:
          - string
          - 'null'
          format: date
        date_of_death:
          type:
          - string
          - 'null'
          format: date
        nationality:
          type: array
          items:
            $ref: '#/components/schemas/Country'
        bio:
          type: string
          maxLength: 2048
        wiki:
          type:
          - string
          - 'null'
          maxLength: 255
        last_flight:
          type:
          - string
          - 'null'
          format: date-time
        first_flight:
          type:
          - string
          - 'null'
          format: date-time
        social_media_links:
          type: array
          items:
            $ref: '#/components/schemas/SocialMediaLink'
      required:
      - agency
      - bio
      - eva_time
      - id
      - image
      - name
      - nationality
      - response_mode
      - social_media_links
      - status
      - time_in_space
      - type
      - url
    SpaceStationStatus:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
      required:
      - id
      - name
  securitySchemes:
    Token_Authentication:
      type: apiKey
      in: header
      name: Authorization
      description: "Token authentication uses a header of Authorization and the value with a required prefix \"Token\" followed by a space and then the apiKey. \n\n Example: `Authorization: Token 9944b09199c62bcf9418ad846dd0e4bbdfc6ee4b`"
    cookieAuth:
      type: apiKey
      in: cookie
      name: sessionid
