openapi: 3.0.3
info:
  title: TheSpaceDevs LL2 Patches API
  version: v2.3.0
  description: Rocket launches, space events and crewed spaceflight. The Launch Library 2 API is the official successor of the popular Launch Library API. It keeps its core features whilst also including everything the broader Space Launch Now API had to offer. The result is a large database delivering a more complete experience for each rocket launch and ...
  license:
    name: Apache License 2.0
servers:
- url: https://ll.thespacedevs.com/
  description: Production API (� rate-limited)
- url: https://lldev.thespacedevs.com/
  description: Development API (stale and limited data, for development testing only)
tags:
- name: Patches
paths:
  /2.3.0/mission_patches/:
    get:
      operationId: mission_patches_list
      summary: List Mission Patches
      description: '#### Modes

        Levels of detail in the response - `normal`, `detailed`


        Example - [/mission_patches/?mode=detailed](./?mode=detailed)


        #### Filters

        Parameters - `agency__id`, `agency__name`, `agency__name__contains`, `id`, `ids`, `name`, `name__contains`


        Example - [/mission_patches/?agency__id=147](./?agency__id=147)


        #### Search

        Fields searched - `agency__name`, `name`


        Example - [/mission_patches/?search=Ariane](./?search=Ariane)


        #### Ordering

        Fields - `agency__name`, `id`, `name`, `priority`


        Example - [/mission_patches/?ordering=priority](./?ordering=priority)


        #### Number of results

        Use `limit` to control the number of objects in the response (max 100)


        Example - [/mission_patches/?limit=2](./?limit=2)


        #### Format

        Switch to JSON output - [/mission_patches/?format=json](./?format=json)


        #### Help

        Find all the FAQs and support links on the documentation homepage - [ll.thespacedevs.com/docs](https://ll.thespacedevs.com/docs/)'
      parameters:
      - in: query
        name: agency__id
        schema:
          type: integer
      - in: query
        name: agency__name
        schema:
          type: string
      - in: query
        name: agency__name__contains
        schema:
          type: string
      - in: query
        name: id
        schema:
          type: integer
      - in: query
        name: ids
        schema:
          type: array
          items:
            type: integer
        description: Comma-separated mission patch IDs.
        explode: false
        style: form
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - in: query
        name: mode
        schema:
          type: string
          enum:
          - detailed
          - normal
        description: Level of detail in the response.
      - in: query
        name: name
        schema:
          type: string
      - in: query
        name: name__contains
        schema:
          type: string
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - name: ordering
        required: false
        in: query
        description: Which field to use when ordering the results.
        schema:
          type: string
      - name: search
        required: false
        in: query
        description: A search term.
        schema:
          type: string
      tags:
      - Patches
      security:
      - cookieAuth: []
      - Token_Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedPolymorphicMissionPatchEndpointList'
          description: ''
  /2.3.0/mission_patches/{id}/:
    get:
      operationId: mission_patches_retrieve
      summary: Get Mission Patch
      description: '#### Modes

        Levels of detail in the response - `normal`, `detailed`


        Example - [/mission_patches/?mode=detailed](./?mode=detailed)


        #### Filters

        Parameters - `agency__id`, `agency__name`, `agency__name__contains`, `id`, `ids`, `name`, `name__contains`


        Example - [/mission_patches/?agency__id=147](./?agency__id=147)


        #### Search

        Fields searched - `agency__name`, `name`


        Example - [/mission_patches/?search=Ariane](./?search=Ariane)


        #### Ordering

        Fields - `agency__name`, `id`, `name`, `priority`


        Example - [/mission_patches/?ordering=priority](./?ordering=priority)


        #### Number of results

        Use `limit` to control the number of objects in the response (max 100)


        Example - [/mission_patches/?limit=2](./?limit=2)


        #### Format

        Switch to JSON output - [/mission_patches/?format=json](./?format=json)


        #### Help

        Find all the FAQs and support links on the documentation homepage - [ll.thespacedevs.com/docs](https://ll.thespacedevs.com/docs/)'
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this Mission Patch.
        required: true
      tags:
      - Patches
      security:
      - cookieAuth: []
      - Token_Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MissionPatchDetailed'
          description: ''
components:
  schemas:
    RocketNormal:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        configuration:
          $ref: '#/components/schemas/LauncherConfigList'
      required:
      - configuration
      - id
    Mission:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
        type:
          type: string
          readOnly: true
        description:
          type: string
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
          nullable: true
        orbit:
          $ref: '#/components/schemas/Orbit'
        agencies:
          type: array
          items:
            $ref: '#/components/schemas/AgencyDetailed'
        info_urls:
          type: array
          items:
            $ref: '#/components/schemas/InfoURL'
        vid_urls:
          type: array
          items:
            $ref: '#/components/schemas/VidURL'
      required:
      - agencies
      - id
      - image
      - info_urls
      - name
      - orbit
      - type
      - vid_urls
    SocialMedia:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
        url:
          type: string
          format: uri
          nullable: true
        logo:
          allOf:
          - $ref: '#/components/schemas/Image'
          nullable: true
      required:
      - id
      - logo
      - url
    InfoURLType:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
      required:
      - id
      - name
    ProgramNormal:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: normal
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 255
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
          nullable: true
        info_url:
          type: string
          format: uri
          nullable: true
          maxLength: 200
        wiki_url:
          type: string
          format: uri
          nullable: true
          maxLength: 200
        description:
          type: string
          nullable: true
          maxLength: 40000
        agencies:
          type: array
          items:
            $ref: '#/components/schemas/AgencyMini'
        start_date:
          type: string
          format: date-time
          nullable: true
        end_date:
          type: string
          format: date-time
          nullable: true
        mission_patches:
          type: array
          items:
            $ref: '#/components/schemas/MissionPatch'
        type:
          $ref: '#/components/schemas/ProgramType'
      required:
      - agencies
      - id
      - image
      - mission_patches
      - name
      - response_mode
      - type
      - url
    LauncherConfigFamilyMini:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: list
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 200
      required:
      - id
      - name
      - response_mode
    LaunchStatus:
      type: object
      properties:
        id:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        name:
          type: string
          readOnly: true
        abbrev:
          type: string
          maxLength: 255
        description:
          type: string
          maxLength: 2048
      required:
      - id
      - name
    VidURL:
      type: object
      properties:
        priority:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        source:
          type: string
          nullable: true
          maxLength: 200
        publisher:
          type: string
          nullable: true
          maxLength: 255
        title:
          type: string
          nullable: true
          maxLength: 200
        description:
          type: string
          nullable: true
          maxLength: 350
        feature_image:
          type: string
          format: uri
          nullable: true
          maxLength: 200
        url:
          type: string
          format: uri
        type:
          allOf:
          - $ref: '#/components/schemas/VidURLType'
          nullable: true
        language:
          allOf:
          - $ref: '#/components/schemas/Language'
          nullable: true
        start_time:
          type: string
          format: date-time
          nullable: true
        end_time:
          type: string
          format: date-time
          nullable: true
        live:
          type: boolean
      required:
      - language
      - type
      - url
    ImageLicense:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
        priority:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        link:
          type: string
          format: uri
          nullable: true
          maxLength: 200
      required:
      - id
    CelestialBodyMini:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: list
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
      required:
      - id
      - name
      - response_mode
    Location:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: normal
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 255
        celestial_body:
          $ref: '#/components/schemas/CelestialBodyDetailed'
        active:
          type: boolean
        country:
          allOf:
          - $ref: '#/components/schemas/Country'
          nullable: true
        description:
          type: string
          nullable: true
          maxLength: 2048
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
          nullable: true
        map_image:
          type: string
          format: uri
          nullable: true
        longitude:
          type: number
          format: double
          nullable: true
        latitude:
          type: number
          format: double
          nullable: true
        timezone_name:
          type: string
          maxLength: 255
        total_launch_count:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        total_landing_count:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
      required:
      - celestial_body
      - country
      - id
      - image
      - response_mode
      - url
    Country:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
        alpha_2_code:
          type: string
          description: ISO 3166-1 alpha-2
          maxLength: 2
        alpha_3_code:
          type: string
          description: ISO 3166-1 alpha-3
          maxLength: 3
        nationality_name:
          type: string
          description: e.g. French
          maxLength: 255
        nationality_name_composed:
          type: string
          description: e.g. Franco
          maxLength: 255
      required:
      - id
    LauncherConfigList:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: list
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 200
        families:
          type: array
          items:
            $ref: '#/components/schemas/LauncherConfigFamilyMini'
          nullable: true
        full_name:
          type: string
          maxLength: 200
        variant:
          type: string
          maxLength: 200
      required:
      - families
      - id
      - name
      - response_mode
      - url
    AgencyDetailed:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: normal
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 200
        abbrev:
          type: string
          maxLength: 255
        type:
          $ref: '#/components/schemas/AgencyType'
        featured:
          type: boolean
        country:
          type: array
          items:
            $ref: '#/components/schemas/Country'
        description:
          type: string
          nullable: true
          maxLength: 2048
        administrator:
          type: string
          nullable: true
          maxLength: 200
        founding_year:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        launchers:
          type: string
          maxLength: 500
        spacecraft:
          type: string
          maxLength: 500
        parent:
          type: string
          readOnly: true
          nullable: true
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
          nullable: true
        logo:
          allOf:
          - $ref: '#/components/schemas/Image'
          nullable: true
        social_logo:
          allOf:
          - $ref: '#/components/schemas/Image'
          nullable: true
        total_launch_count:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        consecutive_successful_launches:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        successful_launches:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        failed_launches:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        pending_launches:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        consecutive_successful_landings:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        successful_landings:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        failed_landings:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        attempted_landings:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        successful_landings_spacecraft:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        failed_landings_spacecraft:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        attempted_landings_spacecraft:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        successful_landings_payload:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        failed_landings_payload:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        attempted_landings_payload:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        info_url:
          type: string
          format: uri
          nullable: true
          maxLength: 200
        wiki_url:
          type: string
          format: uri
          nullable: true
          maxLength: 200
        social_media_links:
          type: array
          items:
            $ref: '#/components/schemas/SocialMediaLink'
      required:
      - country
      - id
      - image
      - logo
      - name
      - parent
      - response_mode
      - social_logo
      - social_media_links
      - type
      - url
    VidURLType:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
      required:
      - id
      - name
    AgencyMini:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: list
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 200
        abbrev:
          type: string
          maxLength: 255
        type:
          $ref: '#/components/schemas/AgencyType'
      required:
      - id
      - name
      - response_mode
      - type
      - url
    SpacewalkList:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: list
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 255
        start:
          type: string
          format: date-time
          nullable: true
        end:
          type: string
          format: date-time
          nullable: true
        duration:
          type: string
          readOnly: true
          nullable: true
        location:
          type: string
          nullable: true
          maxLength: 255
      required:
      - duration
      - id
      - name
      - response_mode
      - url
    CelestialBodyType:
      type: object
      properties:
        id:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        name:
          type: string
          maxLength: 255
      required:
      - id
    MissionPatchDetailed:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 200
        priority:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        image_url:
          type: string
          format: uri
        agency:
          allOf:
          - $ref: '#/components/schemas/AgencyDetailed'
          nullable: true
        response_mode:
          type: string
          readOnly: true
          default: detailed
        launches:
          type: array
          items:
            $ref: '#/components/schemas/LaunchNormal'
        expeditions:
          type: array
          items:
            $ref: '#/components/schemas/ExpeditionNormal'
        program:
          type: array
          items:
            $ref: '#/components/schemas/ProgramNormal'
      required:
      - agency
      - expeditions
      - id
      - image_url
      - launches
      - name
      - program
      - response_mode
    AgencyNormal:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: normal
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 200
        abbrev:
          type: string
          maxLength: 255
        type:
          $ref: '#/components/schemas/AgencyType'
        featured:
          type: boolean
        country:
          type: array
          items:
            $ref: '#/components/schemas/Country'
        description:
          type: string
          nullable: true
          maxLength: 2048
        administrator:
          type: string
          nullable: true
          maxLength: 200
        founding_year:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        launchers:
          type: string
          maxLength: 500
        spacecraft:
          type: string
          maxLength: 500
        parent:
          type: string
          readOnly: true
          nullable: true
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
          nullable: true
        logo:
          allOf:
          - $ref: '#/components/schemas/Image'
          nullable: true
        social_logo:
          allOf:
          - $ref: '#/components/schemas/Image'
          nullable: true
      required:
      - country
      - id
      - image
      - logo
      - name
      - parent
      - response_mode
      - social_logo
      - type
      - url
    ImageVariantType:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
      required:
      - id
    ProgramType:
      type: object
      properties:
        id:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        name:
          type: string
          maxLength: 255
      required:
      - id
    LaunchNormal:
      type: object
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 2048
        response_mode:
          type: string
          readOnly: true
          default: normal
        slug:
          type: string
          pattern: ^[-a-zA-Z0-9_]+$
        launch_designator:
          type: string
          nullable: true
          maxLength: 255
        status:
          allOf:
          - $ref: '#/components/schemas/LaunchStatus'
          nullable: true
        last_updated:
          type: string
          format: date-time
        net:
          type: string
          format: date-time
        net_precision:
          allOf:
          - $ref: '#/components/schemas/NetPrecision'
          nullable: true
        window_end:
          type: string
          format: date-time
        window_start:
          type: string
          format: date-time
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
          readOnly: true
          nullable: true
        infographic:
          type: string
          readOnly: true
          nullable: true
        probability:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        weather_concerns:
          type: string
          nullable: true
          maxLength: 255
        failreason:
          type: string
          nullable: true
          maxLength: 2048
        hashtag:
          type: string
          nullable: true
          maxLength: 2048
        launch_service_provider:
          $ref: '#/components/schemas/AgencyMini'
        rocket:
          allOf:
          - $ref: '#/components/schemas/RocketNormal'
          nullable: true
        mission:
          allOf:
          - $ref: '#/components/schemas/Mission'
          nullable: true
        pad:
          allOf:
          - $ref: '#/components/schemas/Pad'
          nullable: true
        webcast_live:
          type: boolean
        program:
          type: array
          items:
            $ref: '#/components/schemas/ProgramNormal'
          nullable: true
        orbital_launch_attempt_count:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        location_launch_attempt_count:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        pad_launch_attempt_count:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        agency_launch_attempt_count:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        orbital_launch_attempt_count_year:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        location_launch_attempt_count_year:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        pad_launch_attempt_count_year:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        agency_launch_attempt_count_year:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
      required:
      - id
      - image
      - infographic
      - launch_service_provider
      - mission
      - net_precision
      - pad
      - program
      - response_mode
      - rocket
      - slug
      - status
      - url
    SpaceStationType:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
      required:
      - id
      - name
    SpaceStationStatus:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
      required:
      - id
      - name
    ImageVariant:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        type:
          $ref: '#/components/schemas/ImageVariantType'
        image_url:
          type: string
          format: uri
      required:
      - id
      - image_url
      - type
    Image:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
        image_url:
          type: string
          format: uri
        thumbnail_url:
          type: string
          format: uri
        credit:
          type: string
          nullable: true
          maxLength: 255
        license:
          $ref: '#/components/schemas/ImageLicense'
        single_use:
          type: boolean
        variants:
          type: array
          items:
            $ref: '#/components/schemas/ImageVariant'
      required:
      - id
      - image_url
      - license
      - name
      - thumbnail_url
      - variants
    ExpeditionNormal:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 255
        start:
          type: string
          format: date-time
        end:
          type: string
          format: date-time
          nullable: true
        response_mode:
          type: string
          readOnly: true
          default: normal
        spacestation:
          $ref: '#/components/schemas/SpaceStationNormal'
        mission_patches:
          type: array
          items:
            $ref: '#/components/schemas/MissionPatch'
        spacewalks:
          type: array
          items:
            $ref: '#/components/schemas/SpacewalkList'
      required:
      - id
      - mission_patches
      - name
      - response_mode
      - spacestation
      - spacewalks
      - start
      - url
    NetPrecision:
      type: object
      properties:
        id:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        name:
          type: string
          maxLength: 255
        abbrev:
          type: string
          maxLength: 255
        description:
          type: string
          maxLength: 2048
      required:
      - id
    MissionPatch:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 200
        priority:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        image_url:
          type: string
          format: uri
        agency:
          allOf:
          - $ref: '#/components/schemas/AgencyMini'
          nullable: true
        response_mode:
          type: string
          readOnly: true
          default: normal
      required:
      - agency
      - id
      - image_url
      - name
      - response_mode
    SpaceStationNormal:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 255
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
          nullable: true
        status:
          $ref: '#/components/schemas/SpaceStationStatus'
        founded:
          type: string
          format: date
        deorbited:
          type: string
          format: date
          nullable: true
        description:
          type: string
          maxLength: 2048
        orbit:
          type: string
          readOnly: true
          nullable: true
        type:
          $ref: '#/components/schemas/SpaceStationType'
      required:
      - description
      - founded
      - id
      - image
      - name
      - orbit
      - status
      - type
      - url
    AgencyType:
      type: object
      properties:
        id:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        name:
          type: string
          maxLength: 255
      required:
      - id
    PaginatedPolymorphicMissionPatchEndpointList:
      type: object
      required:
      - count
      - results
      properties:
        count:
          type: integer
          example: 123
        next:
          type: string
          nullable: true
          format: uri
          example: http://api.example.org/accounts/?offset=400&limit=100
        previous:
          type: string
          nullable: true
          format: uri
          example: http://api.example.org/accounts/?offset=200&limit=100
        results:
          type: array
          items:
            $ref: '#/components/schemas/PolymorphicMissionPatchEndpoint'
    PolymorphicMissionPatchEndpoint:
      oneOf:
      - $ref: '#/components/schemas/MissionPatch'
      - $ref: '#/components/schemas/MissionPatchDetailed'
      discriminator:
        propertyName: response_mode
        mapping:
          normal: '#/components/schemas/MissionPatch'
          detailed: '#/components/schemas/MissionPatchDetailed'
    InfoURL:
      type: object
      properties:
        priority:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        source:
          type: string
          nullable: true
          maxLength: 200
        title:
          type: string
          nullable: true
          maxLength: 200
        description:
          type: string
          nullable: true
          maxLength: 350
        feature_image:
          type: string
          format: uri
          nullable: true
          maxLength: 200
        url:
          type: string
          format: uri
        type:
          allOf:
          - $ref: '#/components/schemas/InfoURLType'
          nullable: true
        language:
          allOf:
          - $ref: '#/components/schemas/Language'
          nullable: true
      required:
      - language
      - type
      - url
    Pad:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        active:
          type: boolean
        agencies:
          type: array
          items:
            $ref: '#/components/schemas/AgencyNormal'
        name:
          type: string
          maxLength: 255
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
          nullable: true
        description:
          type: string
          nullable: true
          maxLength: 2048
        info_url:
          type: string
          format: uri
          nullable: true
          maxLength: 200
        wiki_url:
          type: string
          format: uri
          nullable: true
          maxLength: 200
        map_url:
          type: string
          format: uri
          nullable: true
          maxLength: 200
        latitude:
          type: number
          format: double
          nullable: true
        longitude:
          type: number
          format: double
          nullable: true
        country:
          allOf:
          - $ref: '#/components/schemas/Country'
          nullable: true
        map_image:
          type: string
          format: uri
          nullable: true
        total_launch_count:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        orbital_launch_attempt_count:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        fastest_turnaround:
          type: string
          readOnly: true
          nullable: true
        location:
          allOf:
          - $ref: '#/components/schemas/Location'
          nullable: true
      required:
      - agencies
      - country
      - fastest_turnaround
      - id
      - image
      - location
      - url
    SocialMediaLink:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        social_media:
          $ref: '#/components/schemas/SocialMedia'
        url:
          type: string
          format: uri
          nullable: true
      required:
      - id
      - social_media
      - url
    Language:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
        code:
          type: string
          description: ISO 639-1 (two-letter) code
          maxLength: 255
      required:
      - code
      - id
      - name
    Orbit:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 50
        abbrev:
          type: string
          maxLength: 30
        celestial_body:
          $ref: '#/components/schemas/CelestialBodyMini'
      required:
      - abbrev
      - celestial_body
      - id
      - name
    CelestialBodyDetailed:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: normal
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
        type:
          $ref: '#/components/schemas/CelestialBodyType'
        diameter:
          type: number
          format: double
          nullable: true
          description: m
        mass:
          type: number
          format: double
          nullable: true
          description: kg
        gravity:
          type: number
          format: double
          nullable: true
          description: m/s^2
        length_of_day:
          type: string
          nullable: true
        atmosphere:
          type: boolean
        image:
          $ref: '#/components/schemas/Image'
        description:
          type: string
          nullable: true
        wiki_url:
          type: string
          format: uri
          nullable: true
          maxLength: 200
        total_attempted_launches:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        successful_launches:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        failed_launches:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        total_attempted_landings:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        successful_landings:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        failed_landings:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
      required:
      - id
      - image
      - name
      - response_mode
      - type
  securitySchemes:
    Token_Authentication:
      type: apiKey
      in: header
      name: Authorization
      description: "Token authentication uses a header of Authorization and the value with a required prefix \"Token\" followed by a space and then the apiKey. \n\n Example: `Authorization: Token 9944b09199c62bcf9418ad846dd0e4bbdfc6ee4b`"
    cookieAuth:
      type: apiKey
      in: cookie
      name: sessionid
