openapi: 3.0.3
info:
  title: TheSpaceDevs LL2 Launchers API
  version: v2.3.0
  description: Rocket launches, space events and crewed spaceflight. The Launch Library 2 API is the official successor of the popular Launch Library API. It keeps its core features whilst also including everything the broader Space Launch Now API had to offer. The result is a large database delivering a more complete experience for each rocket launch and ...
  license:
    name: Apache License 2.0
servers:
- url: https://ll.thespacedevs.com/
  description: Production API (� rate-limited)
- url: https://lldev.thespacedevs.com/
  description: Development API (stale and limited data, for development testing only)
tags:
- name: Launchers
paths:
  /2.3.0/launchers/:
    get:
      operationId: launchers_list
      summary: List Launchers
      description: '#### Modes

        Levels of detail in the response - `list`, `normal`, `detailed`


        Example - [/launchers/?mode=list](./?mode=list)


        #### Filters

        Parameters - `attempted_landings`, `attempted_landings__gt`, `attempted_landings__gte`, `attempted_landings__lt`, `attempted_landings__lte`, `first_launch_date`, `flight_proven`, `flights`, `flights__gt`, `flights__gte`, `flights__lt`, `flights__lte`, `id`, `id__contains`, `is_placeholder`, `last_launch_date`, `launcher_config__ids`, `launcher_config__manufacturer__name`, `launcher_config__manufacturer__name__contains`, `serial_number`, `serial_number__contains`, `status`, `successful_landings`, `successful_landings__gt`, `successful_landings__gte`, `successful_landings__lt`, `successful_landings__lte`


        Example - [/launchers/?is_placeholder=True](./?is_placeholder=True)


        #### Search

        Fields searched - `serial_number`, `status__name`


        Example - [/launchers/?search=B1048](./?search=B1048)


        #### Ordering

        Fields - `attempted_landings`, `flight_proven`, `flights`, `id`, `successful_landings`


        Example - [/launchers/?ordering=-flights](./?ordering=-flights)


        #### Number of results

        Use `limit` to control the number of objects in the response (max 100)


        Example - [/launchers/?limit=2](./?limit=2)


        #### Format

        Switch to JSON output - [/launchers/?format=json](./?format=json)


        #### Help

        Find all the FAQs and support links on the documentation homepage - [ll.thespacedevs.com/docs](https://ll.thespacedevs.com/docs/)'
      parameters:
      - in: query
        name: attempted_landings
        schema:
          type: integer
      - in: query
        name: attempted_landings__gt
        schema:
          type: integer
      - in: query
        name: attempted_landings__gte
        schema:
          type: integer
      - in: query
        name: attempted_landings__lt
        schema:
          type: integer
      - in: query
        name: attempted_landings__lte
        schema:
          type: integer
      - in: query
        name: first_launch_date
        schema:
          type: string
          format: date-time
      - in: query
        name: flight_proven
        schema:
          type: boolean
      - in: query
        name: flights
        schema:
          type: integer
      - in: query
        name: flights__gt
        schema:
          type: integer
      - in: query
        name: flights__gte
        schema:
          type: integer
      - in: query
        name: flights__lt
        schema:
          type: integer
      - in: query
        name: flights__lte
        schema:
          type: integer
      - in: query
        name: id
        schema:
          type: integer
      - in: query
        name: id__contains
        schema:
          type: integer
      - in: query
        name: is_placeholder
        schema:
          type: boolean
      - in: query
        name: last_launch_date
        schema:
          type: string
          format: date-time
      - in: query
        name: launcher_config__ids
        schema:
          type: array
          items:
            type: integer
        description: Comma-separated launcher config IDs.
        explode: false
        style: form
      - in: query
        name: launcher_config__manufacturer__name
        schema:
          type: string
      - in: query
        name: launcher_config__manufacturer__name__contains
        schema:
          type: string
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - in: query
        name: mode
        schema:
          type: string
          enum:
          - detailed
          - list
          - normal
        description: Level of detail in the response.
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - name: ordering
        required: false
        in: query
        description: Which field to use when ordering the results.
        schema:
          type: string
      - name: search
        required: false
        in: query
        description: A search term.
        schema:
          type: string
      - in: query
        name: serial_number
        schema:
          type: string
      - in: query
        name: serial_number__contains
        schema:
          type: string
      - in: query
        name: status
        schema:
          type: integer
      - in: query
        name: successful_landings
        schema:
          type: integer
      - in: query
        name: successful_landings__gt
        schema:
          type: integer
      - in: query
        name: successful_landings__gte
        schema:
          type: integer
      - in: query
        name: successful_landings__lt
        schema:
          type: integer
      - in: query
        name: successful_landings__lte
        schema:
          type: integer
      tags:
      - Launchers
      security:
      - cookieAuth: []
      - Token_Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedPolymorphicLauncherEndpointList'
          description: ''
  /2.3.0/launchers/{id}/:
    get:
      operationId: launchers_retrieve
      summary: Get Launcher
      description: '#### Modes

        Levels of detail in the response - `list`, `normal`, `detailed`


        Example - [/launchers/?mode=list](./?mode=list)


        #### Filters

        Parameters - `attempted_landings`, `attempted_landings__gt`, `attempted_landings__gte`, `attempted_landings__lt`, `attempted_landings__lte`, `first_launch_date`, `flight_proven`, `flights`, `flights__gt`, `flights__gte`, `flights__lt`, `flights__lte`, `id`, `id__contains`, `is_placeholder`, `last_launch_date`, `launcher_config__ids`, `launcher_config__manufacturer__name`, `launcher_config__manufacturer__name__contains`, `serial_number`, `serial_number__contains`, `status`, `successful_landings`, `successful_landings__gt`, `successful_landings__gte`, `successful_landings__lt`, `successful_landings__lte`


        Example - [/launchers/?is_placeholder=True](./?is_placeholder=True)


        #### Search

        Fields searched - `serial_number`, `status__name`


        Example - [/launchers/?search=B1048](./?search=B1048)


        #### Ordering

        Fields - `attempted_landings`, `flight_proven`, `flights`, `id`, `successful_landings`


        Example - [/launchers/?ordering=-flights](./?ordering=-flights)


        #### Number of results

        Use `limit` to control the number of objects in the response (max 100)


        Example - [/launchers/?limit=2](./?limit=2)


        #### Format

        Switch to JSON output - [/launchers/?format=json](./?format=json)


        #### Help

        Find all the FAQs and support links on the documentation homepage - [ll.thespacedevs.com/docs](https://ll.thespacedevs.com/docs/)'
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this Launch Vehicle.
        required: true
      tags:
      - Launchers
      security:
      - cookieAuth: []
      - Token_Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LauncherDetailed'
          description: ''
components:
  schemas:
    ImageVariantType:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
      required:
      - id
    LauncherNormal:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: normal
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        flight_proven:
          type: boolean
        serial_number:
          type: string
          nullable: true
          maxLength: 10
        is_placeholder:
          type: boolean
        status:
          allOf:
          - $ref: '#/components/schemas/LauncherStatus'
          nullable: true
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
          readOnly: true
          nullable: true
        details:
          type: string
          maxLength: 2048
        successful_landings:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        attempted_landings:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        flights:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        last_launch_date:
          type: string
          format: date-time
          nullable: true
        first_launch_date:
          type: string
          format: date-time
          nullable: true
        fastest_turnaround:
          type: string
          readOnly: true
          nullable: true
      required:
      - fastest_turnaround
      - id
      - image
      - response_mode
      - status
      - url
    LauncherMini:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: list
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        flight_proven:
          type: boolean
        serial_number:
          type: string
          nullable: true
          maxLength: 10
        is_placeholder:
          type: boolean
        status:
          allOf:
          - $ref: '#/components/schemas/LauncherStatus'
          nullable: true
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
          readOnly: true
          nullable: true
      required:
      - id
      - image
      - response_mode
      - status
      - url
    ImageVariant:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        type:
          $ref: '#/components/schemas/ImageVariantType'
        image_url:
          type: string
          format: uri
      required:
      - id
      - image_url
      - type
    Image:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
        image_url:
          type: string
          format: uri
        thumbnail_url:
          type: string
          format: uri
        credit:
          type: string
          nullable: true
          maxLength: 255
        license:
          $ref: '#/components/schemas/ImageLicense'
        single_use:
          type: boolean
        variants:
          type: array
          items:
            $ref: '#/components/schemas/ImageVariant'
      required:
      - id
      - image_url
      - license
      - name
      - thumbnail_url
      - variants
    LauncherConfigFamilyMini:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: list
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 200
      required:
      - id
      - name
      - response_mode
    PolymorphicLauncherEndpoint:
      oneOf:
      - $ref: '#/components/schemas/LauncherMini'
      - $ref: '#/components/schemas/LauncherNormal'
      - $ref: '#/components/schemas/LauncherDetailed'
      discriminator:
        propertyName: response_mode
        mapping:
          list: '#/components/schemas/LauncherMini'
          normal: '#/components/schemas/LauncherNormal'
          detailed: '#/components/schemas/LauncherDetailed'
    LauncherConfigList:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: list
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 200
        families:
          type: array
          items:
            $ref: '#/components/schemas/LauncherConfigFamilyMini'
          nullable: true
        full_name:
          type: string
          maxLength: 200
        variant:
          type: string
          maxLength: 200
      required:
      - families
      - id
      - name
      - response_mode
      - url
    PaginatedPolymorphicLauncherEndpointList:
      type: object
      required:
      - count
      - results
      properties:
        count:
          type: integer
          example: 123
        next:
          type: string
          nullable: true
          format: uri
          example: http://api.example.org/accounts/?offset=400&limit=100
        previous:
          type: string
          nullable: true
          format: uri
          example: http://api.example.org/accounts/?offset=200&limit=100
        results:
          type: array
          items:
            $ref: '#/components/schemas/PolymorphicLauncherEndpoint'
    LauncherStatus:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 50
      required:
      - id
    ImageLicense:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
        priority:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        link:
          type: string
          format: uri
          nullable: true
          maxLength: 200
      required:
      - id
    LauncherDetailed:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: detailed
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        flight_proven:
          type: boolean
        serial_number:
          type: string
          nullable: true
          maxLength: 10
        is_placeholder:
          type: boolean
        status:
          allOf:
          - $ref: '#/components/schemas/LauncherStatus'
          nullable: true
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
          readOnly: true
          nullable: true
        details:
          type: string
          maxLength: 2048
        successful_landings:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        attempted_landings:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        flights:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        last_launch_date:
          type: string
          format: date-time
          nullable: true
        first_launch_date:
          type: string
          format: date-time
          nullable: true
        fastest_turnaround:
          type: string
          readOnly: true
          nullable: true
        launcher_config:
          allOf:
          - $ref: '#/components/schemas/LauncherConfigList'
          nullable: true
      required:
      - fastest_turnaround
      - id
      - image
      - launcher_config
      - response_mode
      - status
      - url
  securitySchemes:
    Token_Authentication:
      type: apiKey
      in: header
      name: Authorization
      description: "Token authentication uses a header of Authorization and the value with a required prefix \"Token\" followed by a space and then the apiKey. \n\n Example: `Authorization: Token 9944b09199c62bcf9418ad846dd0e4bbdfc6ee4b`"
    cookieAuth:
      type: apiKey
      in: cookie
      name: sessionid
