openapi: 3.2.0
info:
  title: TheSpaceDevs LL2 Locations API
  version: v2.3.0
  description: Rocket launches, space events and crewed spaceflight. The Launch Library 2 API is the official successor of the popular Launch Library API. It keeps its core features whilst also including everything the broader Space Launch Now API had to offer. The result is a large database delivering a more complete experience for each rocket launch and ...
  license:
    name: Apache License 2.0
servers:
- url: https://ll.thespacedevs.com/
  description: Production API (� rate-limited)
- url: https://lldev.thespacedevs.com/
  description: Development API (stale and limited data, for development testing only)
tags:
- name: Locations
paths:
  /2.3.0/config/landing_locations/:
    get:
      operationId: config_landing_locations_list
      summary: List Landing Locations
      description: '#### Number of results

        Use `limit` to control the number of objects in the response (max 100)


        Example - /config/landing_locations/?limit=2


        #### Format

        Switch to JSON output - /config/landing_locations/?format=json


        #### Help

        Find all the FAQs and support links on the documentation homepage - ll.thespacedevs.com/docs'
      parameters:
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - name: ordering
        required: false
        in: query
        description: Which field to use when ordering the results.
        schema:
          type: string
      - name: search
        required: false
        in: query
        description: A search term.
        schema:
          type: string
      tags:
      - Locations
      security:
      - cookieAuth: []
      - Token_Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedLandingLocationList'
          description: ''
  /2.3.0/config/landing_locations/{id}/:
    get:
      operationId: config_landing_locations_retrieve
      summary: Get Landing Location
      description: '#### Number of results

        Use `limit` to control the number of objects in the response (max 100)


        Example - /config/landing_locations/?limit=2


        #### Format

        Switch to JSON output - /config/landing_locations/?format=json


        #### Help

        Find all the FAQs and support links on the documentation homepage - ll.thespacedevs.com/docs'
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this landing location.
        required: true
      tags:
      - Locations
      security:
      - cookieAuth: []
      - Token_Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LandingLocation'
          description: ''
  /2.3.0/locations/:
    get:
      operationId: locations_list
      summary: List Locations
      description: '#### Modes

        Levels of detail in the response - `normal`, `detailed`


        Example - /locations/?mode=detailed


        #### Filters

        Parameters - `country_code`, `id`, `name`, `name__contains`, `total_landing_count`, `total_landing_count__gt`, `total_landing_count__gte`, `total_landing_count__lt`, `total_landing_count__lte`, `total_launch_count`, `total_launch_count__gt`, `total_launch_count__gte`, `total_launch_count__lt`, `total_launch_count__lte`


        Example - /locations/?country_code=NZL


        #### Search

        Fields searched - `country__alpha_3_code`, `name`


        Example - /locations/?search=Cape Canaveral


        #### Ordering

        Fields - `total_landing_count`, `total_launch_count`


        Example - /locations/?ordering=-total_launch_count


        #### Number of results

        Use `limit` to control the number of objects in the response (max 100)


        Example - /locations/?limit=2


        #### Format

        Switch to JSON output - /locations/?format=json


        #### Help

        Find all the FAQs and support links on the documentation homepage - ll.thespacedevs.com/docs'
      parameters:
      - in: query
        name: country_code
        schema:
          type: string
        description: Country Code
      - in: query
        name: id
        schema:
          type: integer
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - in: query
        name: mode
        schema:
          type: string
          enum:
          - detailed
          - normal
        description: Level of detail in the response.
      - in: query
        name: name
        schema:
          type: string
      - in: query
        name: name__contains
        schema:
          type: string
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - name: ordering
        required: false
        in: query
        description: Which field to use when ordering the results.
        schema:
          type: string
      - name: search
        required: false
        in: query
        description: A search term.
        schema:
          type: string
      - in: query
        name: total_landing_count
        schema:
          type: integer
      - in: query
        name: total_landing_count__gt
        schema:
          type: integer
      - in: query
        name: total_landing_count__gte
        schema:
          type: integer
      - in: query
        name: total_landing_count__lt
        schema:
          type: integer
      - in: query
        name: total_landing_count__lte
        schema:
          type: integer
      - in: query
        name: total_launch_count
        schema:
          type: integer
      - in: query
        name: total_launch_count__gt
        schema:
          type: integer
      - in: query
        name: total_launch_count__gte
        schema:
          type: integer
      - in: query
        name: total_launch_count__lt
        schema:
          type: integer
      - in: query
        name: total_launch_count__lte
        schema:
          type: integer
      tags:
      - Locations
      security:
      - cookieAuth: []
      - Token_Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedPolymorphicLocationEndpointList'
          description: ''
  /2.3.0/locations/{id}/:
    get:
      operationId: locations_retrieve
      summary: Get Location
      description: '#### Modes

        Levels of detail in the response - `normal`, `detailed`


        Example - /locations/?mode=detailed


        #### Filters

        Parameters - `country_code`, `id`, `name`, `name__contains`, `total_landing_count`, `total_landing_count__gt`, `total_landing_count__gte`, `total_landing_count__lt`, `total_landing_count__lte`, `total_launch_count`, `total_launch_count__gt`, `total_launch_count__gte`, `total_launch_count__lt`, `total_launch_count__lte`


        Example - /locations/?country_code=NZL


        #### Search

        Fields searched - `country__alpha_3_code`, `name`


        Example - /locations/?search=Cape Canaveral


        #### Ordering

        Fields - `total_landing_count`, `total_launch_count`


        Example - /locations/?ordering=-total_launch_count


        #### Number of results

        Use `limit` to control the number of objects in the response (max 100)


        Example - /locations/?limit=2


        #### Format

        Switch to JSON output - /locations/?format=json


        #### Help

        Find all the FAQs and support links on the documentation homepage - ll.thespacedevs.com/docs'
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this Location.
        required: true
      tags:
      - Locations
      security:
      - cookieAuth: []
      - Token_Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationSerializerWithPads'
          description: ''
components:
  schemas:
    CelestialBodyType:
      type: object
      properties:
        id:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        name:
          type: string
          maxLength: 255
      required:
      - id
    CelestialBodyNormal:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: normal
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
        type:
          $ref: '#/components/schemas/CelestialBodyType'
        diameter:
          type:
          - number
          - 'null'
          format: double
          description: m
        mass:
          type:
          - number
          - 'null'
          format: double
          description: kg
        gravity:
          type:
          - number
          - 'null'
          format: double
          description: m/s^2
        length_of_day:
          type:
          - string
          - 'null'
        atmosphere:
          type: boolean
        image:
          $ref: '#/components/schemas/Image'
        description:
          type:
          - string
          - 'null'
        wiki_url:
          type:
          - string
          - 'null'
          format: uri
          maxLength: 200
      required:
      - id
      - image
      - name
      - response_mode
      - type
    LocationSerializerWithPads:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: detailed
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 255
        celestial_body:
          $ref: '#/components/schemas/CelestialBodyDetailed'
        active:
          type: boolean
        country:
          allOf:
          - $ref: '#/components/schemas/Country'
        description:
          type:
          - string
          - 'null'
          maxLength: 2048
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
        map_image:
          type:
          - string
          - 'null'
          format: uri
        longitude:
          type:
          - number
          - 'null'
          format: double
        latitude:
          type:
          - number
          - 'null'
          format: double
        timezone_name:
          type: string
          maxLength: 255
        total_launch_count:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        total_landing_count:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        pads:
          type: array
          items:
            $ref: '#/components/schemas/PadSerializerNoLocation'
      required:
      - celestial_body
      - country
      - id
      - image
      - pads
      - response_mode
      - url
    PadSerializerNoLocation:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        active:
          type: boolean
        agencies:
          type: array
          items:
            $ref: '#/components/schemas/AgencyMini'
        name:
          type: string
          maxLength: 255
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
        description:
          type:
          - string
          - 'null'
          maxLength: 2048
        info_url:
          type:
          - string
          - 'null'
          format: uri
          maxLength: 200
        wiki_url:
          type:
          - string
          - 'null'
          format: uri
          maxLength: 200
        map_url:
          type:
          - string
          - 'null'
          format: uri
          maxLength: 200
        latitude:
          type:
          - number
          - 'null'
          format: double
        longitude:
          type:
          - number
          - 'null'
          format: double
        country:
          allOf:
          - $ref: '#/components/schemas/Country'
        map_image:
          type:
          - string
          - 'null'
          format: uri
        total_launch_count:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        orbital_launch_attempt_count:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        fastest_turnaround:
          type:
          - string
          - 'null'
          readOnly: true
      required:
      - agencies
      - country
      - fastest_turnaround
      - id
      - image
      - url
    ImageLicense:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
        priority:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        link:
          type:
          - string
          - 'null'
          format: uri
          maxLength: 200
      required:
      - id
    Image:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
        image_url:
          type: string
          format: uri
        thumbnail_url:
          type: string
          format: uri
        credit:
          type:
          - string
          - 'null'
          maxLength: 255
        license:
          $ref: '#/components/schemas/ImageLicense'
        single_use:
          type: boolean
        variants:
          type: array
          items:
            $ref: '#/components/schemas/ImageVariant'
      required:
      - id
      - image_url
      - license
      - name
      - thumbnail_url
      - variants
    LandingLocation:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
        active:
          type: boolean
        abbrev:
          type: string
          maxLength: 255
        description:
          type:
          - string
          - 'null'
          maxLength: 2048
        location:
          $ref: '#/components/schemas/LocationSerializerNoCelestialBody'
        longitude:
          type:
          - number
          - 'null'
          format: double
        latitude:
          type:
          - number
          - 'null'
          format: double
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
        successful_landings:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        attempted_landings:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        failed_landings:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        celestial_body:
          $ref: '#/components/schemas/CelestialBodyNormal'
      required:
      - celestial_body
      - id
      - image
      - location
    ImageVariantType:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
      required:
      - id
    PaginatedLandingLocationList:
      type: object
      required:
      - count
      - results
      properties:
        count:
          type: integer
          example: 123
        next:
          type:
          - string
          - 'null'
          format: uri
          example: http://api.example.org/accounts/?offset=400&limit=100
        previous:
          type:
          - string
          - 'null'
          format: uri
          example: http://api.example.org/accounts/?offset=200&limit=100
        results:
          type: array
          items:
            $ref: '#/components/schemas/LandingLocation'
    PolymorphicLocationEndpoint:
      oneOf:
      - $ref: '#/components/schemas/Location'
      - $ref: '#/components/schemas/LocationSerializerWithPads'
      discriminator:
        propertyName: response_mode
        mapping:
          normal: '#/components/schemas/Location'
          detailed: '#/components/schemas/LocationSerializerWithPads'
    AgencyMini:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: list
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 200
        abbrev:
          type: string
          maxLength: 255
        type:
          $ref: '#/components/schemas/AgencyType'
      required:
      - id
      - name
      - response_mode
      - type
      - url
    Country:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
        alpha_2_code:
          type: string
          description: ISO 3166-1 alpha-2
          maxLength: 2
        alpha_3_code:
          type: string
          description: ISO 3166-1 alpha-3
          maxLength: 3
        nationality_name:
          type: string
          description: e.g. French
          maxLength: 255
        nationality_name_composed:
          type: string
          description: e.g. Franco
          maxLength: 255
      required:
      - id
    PaginatedPolymorphicLocationEndpointList:
      type: object
      required:
      - count
      - results
      properties:
        count:
          type: integer
          example: 123
        next:
          type:
          - string
          - 'null'
          format: uri
          example: http://api.example.org/accounts/?offset=400&limit=100
        previous:
          type:
          - string
          - 'null'
          format: uri
          example: http://api.example.org/accounts/?offset=200&limit=100
        results:
          type: array
          items:
            $ref: '#/components/schemas/PolymorphicLocationEndpoint'
    CelestialBodyDetailed:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: normal
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
        type:
          $ref: '#/components/schemas/CelestialBodyType'
        diameter:
          type:
          - number
          - 'null'
          format: double
          description: m
        mass:
          type:
          - number
          - 'null'
          format: double
          description: kg
        gravity:
          type:
          - number
          - 'null'
          format: double
          description: m/s^2
        length_of_day:
          type:
          - string
          - 'null'
        atmosphere:
          type: boolean
        image:
          $ref: '#/components/schemas/Image'
        description:
          type:
          - string
          - 'null'
        wiki_url:
          type:
          - string
          - 'null'
          format: uri
          maxLength: 200
        total_attempted_launches:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        successful_launches:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        failed_launches:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        total_attempted_landings:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        successful_landings:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        failed_landings:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
      required:
      - id
      - image
      - name
      - response_mode
      - type
    Location:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: normal
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 255
        celestial_body:
          $ref: '#/components/schemas/CelestialBodyDetailed'
        active:
          type: boolean
        country:
          allOf:
          - $ref: '#/components/schemas/Country'
        description:
          type:
          - string
          - 'null'
          maxLength: 2048
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
        map_image:
          type:
          - string
          - 'null'
          format: uri
        longitude:
          type:
          - number
          - 'null'
          format: double
        latitude:
          type:
          - number
          - 'null'
          format: double
        timezone_name:
          type: string
          maxLength: 255
        total_launch_count:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        total_landing_count:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
      required:
      - celestial_body
      - country
      - id
      - image
      - response_mode
      - url
    AgencyType:
      type: object
      properties:
        id:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        name:
          type: string
          maxLength: 255
      required:
      - id
    ImageVariant:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        type:
          $ref: '#/components/schemas/ImageVariantType'
        image_url:
          type: string
          format: uri
      required:
      - id
      - image_url
      - type
    LocationSerializerNoCelestialBody:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: normal
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 255
        active:
          type: boolean
        country:
          allOf:
          - $ref: '#/components/schemas/Country'
        description:
          type:
          - string
          - 'null'
          maxLength: 2048
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
        map_image:
          type:
          - string
          - 'null'
          format: uri
        longitude:
          type:
          - number
          - 'null'
          format: double
        latitude:
          type:
          - number
          - 'null'
          format: double
        timezone_name:
          type: string
          maxLength: 255
        total_launch_count:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        total_landing_count:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
      required:
      - country
      - id
      - image
      - response_mode
      - url
  securitySchemes:
    Token_Authentication:
      type: apiKey
      in: header
      name: Authorization
      description: "Token authentication uses a header of Authorization and the value with a required prefix \"Token\" followed by a space and then the apiKey. \n\n Example: `Authorization: Token 9944b09199c62bcf9418ad846dd0e4bbdfc6ee4b`"
    cookieAuth:
      type: apiKey
      in: cookie
      name: sessionid
