openapi: 3.0.3
info:
  title: TheSpaceDevs LL2 Spacecraft API
  version: v2.3.0
  description: Rocket launches, space events and crewed spaceflight. The Launch Library 2 API is the official successor of the popular Launch Library API. It keeps its core features whilst also including everything the broader Space Launch Now API had to offer. The result is a large database delivering a more complete experience for each rocket launch and ...
  license:
    name: Apache License 2.0
servers:
- url: https://ll.thespacedevs.com/
  description: Production API (� rate-limited)
- url: https://lldev.thespacedevs.com/
  description: Development API (stale and limited data, for development testing only)
tags:
- name: Spacecraft
paths:
  /2.3.0/config/spacecraft_configuration_types/:
    get:
      operationId: config_spacecraft_configuration_types_list
      summary: List Spacecraft Configuration Types
      description: '#### Number of results

        Use `limit` to control the number of objects in the response (max 100)


        Example - [/config/spacecraft_configuration_types/?limit=2](./?limit=2)


        #### Format

        Switch to JSON output - [/config/spacecraft_configuration_types/?format=json](./?format=json)


        #### Help

        Find all the FAQs and support links on the documentation homepage - [ll.thespacedevs.com/docs](https://ll.thespacedevs.com/docs/)'
      parameters:
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - name: ordering
        required: false
        in: query
        description: Which field to use when ordering the results.
        schema:
          type: string
      - name: search
        required: false
        in: query
        description: A search term.
        schema:
          type: string
      tags:
      - Spacecraft
      security:
      - cookieAuth: []
      - Token_Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedSpacecraftConfigTypeList'
          description: ''
  /2.3.0/config/spacecraft_configuration_types/{id}/:
    get:
      operationId: config_spacecraft_configuration_types_retrieve
      summary: Get Spacecraft Configuration Type
      description: '#### Number of results

        Use `limit` to control the number of objects in the response (max 100)


        Example - [/config/spacecraft_configuration_types/?limit=2](./?limit=2)


        #### Format

        Switch to JSON output - [/config/spacecraft_configuration_types/?format=json](./?format=json)


        #### Help

        Find all the FAQs and support links on the documentation homepage - [ll.thespacedevs.com/docs](https://ll.thespacedevs.com/docs/)'
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this Spacecraft Configuration Type.
        required: true
      tags:
      - Spacecraft
      security:
      - cookieAuth: []
      - Token_Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpacecraftConfigType'
          description: ''
  /2.3.0/config/spacecraft_statuses/:
    get:
      operationId: config_spacecraft_statuses_list
      summary: List Spacecraft Statuses
      description: '#### Number of results

        Use `limit` to control the number of objects in the response (max 100)


        Example - [/config/spacecraft_statuses/?limit=2](./?limit=2)


        #### Format

        Switch to JSON output - [/config/spacecraft_statuses/?format=json](./?format=json)


        #### Help

        Find all the FAQs and support links on the documentation homepage - [ll.thespacedevs.com/docs](https://ll.thespacedevs.com/docs/)'
      parameters:
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - name: ordering
        required: false
        in: query
        description: Which field to use when ordering the results.
        schema:
          type: string
      - name: search
        required: false
        in: query
        description: A search term.
        schema:
          type: string
      tags:
      - Spacecraft
      security:
      - cookieAuth: []
      - Token_Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedSpacecraftStatusList'
          description: ''
  /2.3.0/config/spacecraft_statuses/{id}/:
    get:
      operationId: config_spacecraft_statuses_retrieve
      summary: Get Spacecraft Status
      description: '#### Number of results

        Use `limit` to control the number of objects in the response (max 100)


        Example - [/config/spacecraft_statuses/?limit=2](./?limit=2)


        #### Format

        Switch to JSON output - [/config/spacecraft_statuses/?format=json](./?format=json)


        #### Help

        Find all the FAQs and support links on the documentation homepage - [ll.thespacedevs.com/docs](https://ll.thespacedevs.com/docs/)'
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this Spacecraft Status.
        required: true
      tags:
      - Spacecraft
      security:
      - cookieAuth: []
      - Token_Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpacecraftStatus'
          description: ''
  /2.3.0/spacecraft/:
    get:
      operationId: spacecraft_list
      summary: List Spacecraft
      description: '#### Modes

        Levels of detail in the response - `normal`, `detailed`


        Example - [/spacecraft/?mode=detailed](./?mode=detailed)


        #### Filters

        Parameters - `in_space`, `is_placeholder`, `name`, `spacecraft_config`, `status`


        Example - [/spacecraft/?is_placeholder=True](./?is_placeholder=True)


        #### Search

        Fields searched - `name`, `spacecraft_config__name`


        Example - [/spacecraft/?search=Endeavour](./?search=Endeavour)


        #### Ordering

        Fields - `flights_count`, `id`, `mission_ends_count`, `time_docked`, `time_in_space`


        Example - [/spacecraft/?ordering=-flights_count](./?ordering=-flights_count)


        #### Number of results

        Use `limit` to control the number of objects in the response (max 100)


        Example - [/spacecraft/?limit=2](./?limit=2)


        #### Format

        Switch to JSON output - [/spacecraft/?format=json](./?format=json)


        #### Help

        Find all the FAQs and support links on the documentation homepage - [ll.thespacedevs.com/docs](https://ll.thespacedevs.com/docs/)'
      parameters:
      - in: query
        name: in_space
        schema:
          type: boolean
      - in: query
        name: is_placeholder
        schema:
          type: boolean
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - in: query
        name: mode
        schema:
          type: string
          enum:
          - detailed
          - normal
        description: Level of detail in the response.
      - in: query
        name: name
        schema:
          type: string
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - name: ordering
        required: false
        in: query
        description: Which field to use when ordering the results.
        schema:
          type: string
      - name: search
        required: false
        in: query
        description: A search term.
        schema:
          type: string
      - in: query
        name: spacecraft_config
        schema:
          type: integer
      - in: query
        name: status
        schema:
          type: integer
      tags:
      - Spacecraft
      security:
      - cookieAuth: []
      - Token_Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedPolymorphicSpacecraftEndpointList'
          description: ''
  /2.3.0/spacecraft/{id}/:
    get:
      operationId: spacecraft_retrieve
      summary: Get Spacecraft
      description: '#### Modes

        Levels of detail in the response - `normal`, `detailed`


        Example - [/spacecraft/?mode=detailed](./?mode=detailed)


        #### Filters

        Parameters - `in_space`, `is_placeholder`, `name`, `spacecraft_config`, `status`


        Example - [/spacecraft/?is_placeholder=True](./?is_placeholder=True)


        #### Search

        Fields searched - `name`, `spacecraft_config__name`


        Example - [/spacecraft/?search=Endeavour](./?search=Endeavour)


        #### Ordering

        Fields - `flights_count`, `id`, `mission_ends_count`, `time_docked`, `time_in_space`


        Example - [/spacecraft/?ordering=-flights_count](./?ordering=-flights_count)


        #### Number of results

        Use `limit` to control the number of objects in the response (max 100)


        Example - [/spacecraft/?limit=2](./?limit=2)


        #### Format

        Switch to JSON output - [/spacecraft/?format=json](./?format=json)


        #### Help

        Find all the FAQs and support links on the documentation homepage - [ll.thespacedevs.com/docs](https://ll.thespacedevs.com/docs/)'
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this Spacecraft.
        required: true
      tags:
      - Spacecraft
      security:
      - cookieAuth: []
      - Token_Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpacecraftEndpointDetailed'
          description: ''
  /2.3.0/spacecraft_configuration_families/:
    get:
      operationId: spacecraft_configuration_families_list
      summary: List Spacecraft Configuration Families
      description: '#### Modes

        Levels of detail in the response - `list`, `normal`, `detailed`


        Example - [/spacecraft_configuration_families/?mode=list](./?mode=list)


        #### Filters

        Parameters - `manufacturer`, `name`


        Example - [/spacecraft_configuration_families/?manufacturer=121](./?manufacturer=121)


        #### Search

        Fields searched - `manufacturer__abbrev`, `manufacturer__name`, `name`


        Example - [/spacecraft_configuration_families/?search=Northrop](./?search=Northrop)


        #### Ordering

        Fields - `name`


        Example - [/spacecraft_configuration_families/?ordering=name](./?ordering=name)


        #### Number of results

        Use `limit` to control the number of objects in the response (max 100)


        Example - [/spacecraft_configuration_families/?limit=2](./?limit=2)


        #### Format

        Switch to JSON output - [/spacecraft_configuration_families/?format=json](./?format=json)


        #### Help

        Find all the FAQs and support links on the documentation homepage - [ll.thespacedevs.com/docs](https://ll.thespacedevs.com/docs/)'
      parameters:
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - in: query
        name: manufacturer
        schema:
          type: integer
      - in: query
        name: mode
        schema:
          type: string
          enum:
          - detailed
          - list
          - normal
        description: Level of detail in the response.
      - in: query
        name: name
        schema:
          type: string
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - name: ordering
        required: false
        in: query
        description: Which field to use when ordering the results.
        schema:
          type: string
      - name: search
        required: false
        in: query
        description: A search term.
        schema:
          type: string
      tags:
      - Spacecraft
      security:
      - cookieAuth: []
      - Token_Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedPolymorphicSpacecraftConfigFamilyEndpointList'
          description: ''
  /2.3.0/spacecraft_configuration_families/{id}/:
    get:
      operationId: spacecraft_configuration_families_retrieve
      summary: Get Spacecraft Configuration Family
      description: '#### Modes

        Levels of detail in the response - `list`, `normal`, `detailed`


        Example - [/spacecraft_configuration_families/?mode=list](./?mode=list)


        #### Filters

        Parameters - `manufacturer`, `name`


        Example - [/spacecraft_configuration_families/?manufacturer=121](./?manufacturer=121)


        #### Search

        Fields searched - `manufacturer__abbrev`, `manufacturer__name`, `name`


        Example - [/spacecraft_configuration_families/?search=Northrop](./?search=Northrop)


        #### Ordering

        Fields - `name`


        Example - [/spacecraft_configuration_families/?ordering=name](./?ordering=name)


        #### Number of results

        Use `limit` to control the number of objects in the response (max 100)


        Example - [/spacecraft_configuration_families/?limit=2](./?limit=2)


        #### Format

        Switch to JSON output - [/spacecraft_configuration_families/?format=json](./?format=json)


        #### Help

        Find all the FAQs and support links on the documentation homepage - [ll.thespacedevs.com/docs](https://ll.thespacedevs.com/docs/)'
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this Spacecraft Configuration Family.
        required: true
      tags:
      - Spacecraft
      security:
      - cookieAuth: []
      - Token_Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpacecraftConfigFamilyEndpointDetailed'
          description: ''
  /2.3.0/spacecraft_configurations/:
    get:
      operationId: spacecraft_configurations_list
      summary: List Spacecraft Configurations
      description: '#### Modes

        Levels of detail in the response - `normal`, `detailed`


        Example - [/spacecraft_configurations/?mode=detailed](./?mode=detailed)


        #### Filters

        Parameters - `agency`, `human_rated`, `in_use`, `name`


        Example - [/spacecraft_configurations/?human_rated=True](./?human_rated=True)


        #### Search

        Fields searched - `agency__abbrev`, `agency__name`, `name`


        Example - [/spacecraft_configurations/?search=Dragon](./?search=Dragon)


        #### Ordering

        Fields - `name`


        Example - [/spacecraft_configurations/?ordering=name](./?ordering=name)


        #### Number of results

        Use `limit` to control the number of objects in the response (max 100)


        Example - [/spacecraft_configurations/?limit=2](./?limit=2)


        #### Format

        Switch to JSON output - [/spacecraft_configurations/?format=json](./?format=json)


        #### Help

        Find all the FAQs and support links on the documentation homepage - [ll.thespacedevs.com/docs](https://ll.thespacedevs.com/docs/)'
      parameters:
      - in: query
        name: agency
        schema:
          type: integer
      - in: query
        name: human_rated
        schema:
          type: boolean
      - in: query
        name: in_use
        schema:
          type: boolean
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - in: query
        name: mode
        schema:
          type: string
          enum:
          - detailed
          - normal
        description: Level of detail in the response.
      - in: query
        name: name
        schema:
          type: string
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - name: ordering
        required: false
        in: query
        description: Which field to use when ordering the results.
        schema:
          type: string
      - name: search
        required: false
        in: query
        description: A search term.
        schema:
          type: string
      tags:
      - Spacecraft
      security:
      - cookieAuth: []
      - Token_Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedPolymorphicSpacecraftConfigurationEndpointList'
          description: ''
  /2.3.0/spacecraft_configurations/{id}/:
    get:
      operationId: spacecraft_configurations_retrieve
      summary: Get Spacecraft Configuration
      description: '#### Modes

        Levels of detail in the response - `normal`, `detailed`


        Example - [/spacecraft_configurations/?mode=detailed](./?mode=detailed)


        #### Filters

        Parameters - `agency`, `human_rated`, `in_use`, `name`


        Example - [/spacecraft_configurations/?human_rated=True](./?human_rated=True)


        #### Search

        Fields searched - `agency__abbrev`, `agency__name`, `name`


        Example - [/spacecraft_configurations/?search=Dragon](./?search=Dragon)


        #### Ordering

        Fields - `name`


        Example - [/spacecraft_configurations/?ordering=name](./?ordering=name)


        #### Number of results

        Use `limit` to control the number of objects in the response (max 100)


        Example - [/spacecraft_configurations/?limit=2](./?limit=2)


        #### Format

        Switch to JSON output - [/spacecraft_configurations/?format=json](./?format=json)


        #### Help

        Find all the FAQs and support links on the documentation homepage - [ll.thespacedevs.com/docs](https://ll.thespacedevs.com/docs/)'
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this Spacecraft Configuration.
        required: true
      tags:
      - Spacecraft
      security:
      - cookieAuth: []
      - Token_Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpacecraftConfigDetailed'
          description: ''
  /2.3.0/spacecraft_flights/:
    get:
      operationId: spacecraft_flights_list
      summary: List Spacecraft Flights
      description: '#### Modes

        Levels of detail in the response - `normal`, `detailed`


        Example - [/spacecraft_flights/?mode=detailed](./?mode=detailed)


        #### Filters

        Parameters - `spacecraft`


        Example - [/spacecraft_flights/?spacecraft=289](./?spacecraft=289)


        #### Number of results

        Use `limit` to control the number of objects in the response (max 100)


        Example - [/spacecraft_flights/?limit=2](./?limit=2)


        #### Format

        Switch to JSON output - [/spacecraft_flights/?format=json](./?format=json)


        #### Help

        Find all the FAQs and support links on the documentation homepage - [ll.thespacedevs.com/docs](https://ll.thespacedevs.com/docs/)'
      parameters:
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - in: query
        name: mode
        schema:
          type: string
          enum:
          - detailed
          - normal
        description: Level of detail in the response.
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - name: ordering
        required: false
        in: query
        description: Which field to use when ordering the results.
        schema:
          type: string
      - name: search
        required: false
        in: query
        description: A search term.
        schema:
          type: string
      - in: query
        name: spacecraft
        schema:
          type: integer
      tags:
      - Spacecraft
      security:
      - cookieAuth: []
      - Token_Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedPolymorphicSpacecraftFlightEndpointList'
          description: ''
  /2.3.0/spacecraft_flights/{id}/:
    get:
      operationId: spacecraft_flights_retrieve
      summary: Get Spacecraft Flight
      description: '#### Modes

        Levels of detail in the response - `normal`, `detailed`


        Example - [/spacecraft_flights/?mode=detailed](./?mode=detailed)


        #### Filters

        Parameters - `spacecraft`


        Example - [/spacecraft_flights/?spacecraft=289](./?spacecraft=289)


        #### Number of results

        Use `limit` to control the number of objects in the response (max 100)


        Example - [/spacecraft_flights/?limit=2](./?limit=2)


        #### Format

        Switch to JSON output - [/spacecraft_flights/?format=json](./?format=json)


        #### Help

        Find all the FAQs and support links on the documentation homepage - [ll.thespacedevs.com/docs](https://ll.thespacedevs.com/docs/)'
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this Spacecraft Flight.
        required: true
      tags:
      - Spacecraft
      security:
      - cookieAuth: []
      - Token_Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpacecraftFlightDetailed'
          description: ''
components:
  schemas:
    LandingLocation:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
        active:
          type: boolean
        abbrev:
          type: string
          maxLength: 255
        description:
          type: string
          nullable: true
          maxLength: 2048
        location:
          $ref: '#/components/schemas/LocationSerializerNoCelestialBody'
        longitude:
          type: number
          format: double
          nullable: true
        latitude:
          type: number
          format: double
          nullable: true
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
          nullable: true
        successful_landings:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        attempted_landings:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        failed_landings:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        celestial_body:
          $ref: '#/components/schemas/CelestialBodyNormal'
      required:
      - celestial_body
      - id
      - image
      - location
    PolymorphicSpacecraftFlightEndpoint:
      oneOf:
      - $ref: '#/components/schemas/SpacecraftFlightNormal'
      - $ref: '#/components/schemas/SpacecraftFlightDetailed'
      discriminator:
        propertyName: response_mode
        mapping:
          normal: '#/components/schemas/SpacecraftFlightNormal'
          detailed: '#/components/schemas/SpacecraftFlightDetailed'
    AstronautDetailed:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 255
        status:
          $ref: '#/components/schemas/AstronautStatus'
        agency:
          allOf:
          - $ref: '#/components/schemas/AgencyMini'
          nullable: true
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
          nullable: true
        response_mode:
          type: string
          readOnly: true
          default: list
        type:
          $ref: '#/components/schemas/AstronautType'
        in_space:
          type: boolean
        time_in_space:
          type: string
          readOnly: true
          nullable: true
        eva_time:
          type: string
          readOnly: true
        age:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        date_of_birth:
          type: string
          format: date
          nullable: true
        date_of_death:
          type: string
          format: date
          nullable: true
        nationality:
          type: array
          items:
            $ref: '#/components/schemas/Country'
        bio:
          type: string
          maxLength: 2048
        wiki:
          type: string
          nullable: true
          maxLength: 255
        last_flight:
          type: string
          format: date-time
          nullable: true
        first_flight:
          type: string
          format: date-time
          nullable: true
        social_media_links:
          type: array
          items:
            $ref: '#/components/schemas/SocialMediaLink'
      required:
      - agency
      - bio
      - eva_time
      - id
      - image
      - name
      - nationality
      - response_mode
      - social_media_links
      - status
      - time_in_space
      - type
      - url
    PayloadType:
      type: object
      properties:
        id:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        name:
          type: string
          maxLength: 255
      required:
      - id
    RocketNormal:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        configuration:
          $ref: '#/components/schemas/LauncherConfigList'
      required:
      - configuration
      - id
    Mission:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
        type:
          type: string
          readOnly: true
        description:
          type: string
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
          nullable: true
        orbit:
          $ref: '#/components/schemas/Orbit'
        agencies:
          type: array
          items:
            $ref: '#/components/schemas/AgencyDetailed'
        info_urls:
          type: array
          items:
            $ref: '#/components/schemas/InfoURL'
        vid_urls:
          type: array
          items:
            $ref: '#/components/schemas/VidURL'
      required:
      - agencies
      - id
      - image
      - info_urls
      - name
      - orbit
      - type
      - vid_urls
    SpacecraftConfigType:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
      required:
      - id
      - name
    SocialMedia:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
        url:
          type: string
          format: uri
          nullable: true
        logo:
          allOf:
          - $ref: '#/components/schemas/Image'
          nullable: true
      required:
      - id
      - logo
      - url
    InfoURLType:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
      required:
      - id
      - name
    LandingType:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
        abbrev:
          type: string
          maxLength: 255
        description:
          type: string
          nullable: true
          maxLength: 2048
      required:
      - id
    ProgramNormal:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: normal
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 255
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
          nullable: true
        info_url:
          type: string
          format: uri
          nullable: true
          maxLength: 200
        wiki_url:
          type: string
          format: uri
          nullable: true
          maxLength: 200
        description:
          type: string
          nullable: true
          maxLength: 40000
        agencies:
          type: array
          items:
            $ref: '#/components/schemas/AgencyMini'
        start_date:
          type: string
          format: date-time
          nullable: true
        end_date:
          type: string
          format: date-time
          nullable: true
        mission_patches:
          type: array
          items:
            $ref: '#/components/schemas/MissionPatch'
        type:
          $ref: '#/components/schemas/ProgramType'
      required:
      - agencies
      - id
      - image
      - mission_patches
      - name
      - response_mode
      - type
      - url
    SpacecraftConfigNormal:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: normal
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 200
        type:
          $ref: '#/components/schemas/SpacecraftConfigType'
        agency:
          $ref: '#/components/schemas/AgencyMini'
        family:
          type: array
          items:
            $ref: '#/components/schemas/SpacecraftConfigFamilyNormal'
          nullable: true
        in_use:
          type: boolean
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
          nullable: true
      required:
      - agency
      - family
      - id
      - image
      - name
      - response_mode
      - type
      - url
    LauncherConfigFamilyMini:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: list
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 200
      required:
      - id
      - name
      - response_mode
    SpacecraftFlightDetailed:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        destination:
          type: string
          nullable: true
          maxLength: 255
        mission_end:
          type: string
          format: date-time
          nullable: true
        spacecraft:
          $ref: '#/components/schemas/SpacecraftDetailed'
        launch:
          $ref: '#/components/schemas/LaunchNormal'
        landing:
          $ref: '#/components/schemas/Landing'
        duration:
          type: string
          readOnly: true
        turn_around_time:
          type: string
          readOnly: true
        response_mode:
          type: string
          readOnly: true
          default: detailed
        launch_crew:
          type: array
          items:
            $ref: '#/components/schemas/AstronautFlight'
        onboard_crew:
          type: array
          items:
            $ref: '#/components/schemas/AstronautFlight'
        landing_crew:
          type: array
          items:
            $ref: '#/components/schemas/AstronautFlight'
        docking_events:
          type: array
          items:
            $ref: '#/components/schemas/DockingEventForChaserNormal'
      required:
      - docking_events
      - duration
      - id
      - landing
      - landing_crew
      - launch
      - launch_crew
      - onboard_crew
      - response_mode
      - spacecraft
      - turn_around_time
      - url
    PaginatedPolymorphicSpacecraftEndpointList:
      type: object
      required:
      - count
      - results
      properties:
        count:
          type: integer
          example: 123
        next:
          type: string
          nullable: true
          format: uri
          example: http://api.example.org/accounts/?offset=400&limit=100
        previous:
          type: string
          nullable: true
          format: uri
          example: http://api.example.org/accounts/?offset=200&limit=100
        results:
          type: array
          items:
            $ref: '#/components/schemas/PolymorphicSpacecraftEndpoint'
    LaunchStatus:
      type: object
      properties:
        id:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        name:
          type: string
          readOnly: true
        abbrev:
          type: string
          maxLength: 255
        description:
          type: string
          maxLength: 2048
      required:
      - id
      - name
    VidURL:
      type: object
      properties:
        priority:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        source:
          type: string
          nullable: true
          maxLength: 200
        publisher:
          type: string
          nullable: true
          maxLength: 255
        title:
          type: string
          nullable: true
          maxLength: 200
        description:
          type: string
          nullable: true
          maxLength: 350
        feature_image:
          type: string
          format: uri
          nullable: true
          maxLength: 200
        url:
          type: string
          format: uri
        type:
          allOf:
          - $ref: '#/components/schemas/VidURLType'
          nullable: true
        language:
          allOf:
          - $ref: '#/components/schemas/Language'
          nullable: true
        start_time:
          type: string
          format: date-time
          nullable: true
        end_time:
          type: string
          format: date-time
          nullable: true
        live:
          type: boolean
      required:
      - language
      - type
      - url
    PayloadFlightNormal:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: normal
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        destination:
          type: string
          nullable: true
          maxLength: 255
        amount:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        payload:
          $ref: '#/components/schemas/PayloadNormal'
        launch:
          $ref: '#/components/schemas/LaunchNormal'
        landing:
          $ref: '#/components/schemas/Landing'
      required:
      - id
      - landing
      - launch
      - payload
      - response_mode
      - url
    AstronautStatus:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
      required:
      - id
      - name
    PolymorphicSpacecraftEndpoint:
      oneOf:
      - $ref: '#/components/schemas/SpacecraftNormal'
      - $ref: '#/components/schemas/SpacecraftEndpointDetailed'
      discriminator:
        propertyName: response_mode
        mapping:
          normal: '#/components/schemas/SpacecraftNormal'
          detailed: '#/components/schemas/SpacecraftEndpointDetailed'
    SpacecraftConfigFamilyEndpointDetailed:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: detailed
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 200
        description:
          type: string
          maxLength: 2048
        manufacturer:
          $ref: '#/components/schemas/AgencyNormal'
        parent:
          allOf:
          - $ref: '#/components/schemas/SpacecraftConfigFamilyNormal'
          nullable: true
        maiden_flight:
          type: string
          format: date
          nullable: true
          title: Maiden Flight Date
        spacecraft_flown:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        total_launch_count:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        successful_launches:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        failed_launches:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        attempted_landings:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        successful_landings:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        failed_landings:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        spacecraft:
          type: array
          items:
            $ref: '#/components/schemas/SpacecraftConfigNormal'
      required:
      - id
      - manufacturer
      - name
      - parent
      - response_mode
      - spacecraft
    AstronautRole:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        role:
          type: string
          maxLength: 255
        priority:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
      required:
      - id
      - role
    ImageLicense:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
        priority:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        link:
          type: string
          format: uri
          nullable: true
          maxLength: 200
      required:
      - id
    CelestialBodyMini:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: list
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
      required:
      - id
      - name
      - response_mode
    Location:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: normal
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 255
        celestial_body:
          $ref: '#/components/schemas/CelestialBodyDetailed'
        active:
          type: boolean
        country:
          allOf:
          - $ref: '#/components/schemas/Country'
          nullable: true
        description:
          type: string
          nullable: true
          maxLength: 2048
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
          nullable: true
        map_image:
          type: string
          format: uri
          nullable: true
        longitude:
          type: number
          format: double
          nullable: true
        latitude:
          type: number
          format: double
          nullable: true
        timezone_name:
          type: string
          maxLength: 255
        total_launch_count:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        total_landing_count:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
      required:
      - celestial_body
      - country
      - id
      - image
      - response_mode
      - url
    ProgramMini:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: list
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 255
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
          nullable: true
        info_url:
          type: string
          format: uri
          nullable: true
          maxLength: 200
        wiki_url:
          type: string
          format: uri
          nullable: true
          maxLength: 200
      required:
      - id
      - image
      - name
      - response_mode
      - url
    Country:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
        alpha_2_code:
          type: string
          description: ISO 3166-1 alpha-2
          maxLength: 2
        alpha_3_code:
          type: string
          description: ISO 3166-1 alpha-3
          maxLength: 3
        nationality_name:
          type: string
          description: e.g. French
          maxLength: 255
        nationality_name_composed:
          type: string
          description: e.g. Franco
          maxLength: 255
      required:
      - id
    SpacecraftEndpointDetailed:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: detailed
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 255
        serial_number:
          type: string
          nullable: true
          maxLength: 255
        is_placeholder:
          type: boolean
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
          readOnly: true
          nullable: true
        in_space:
          type: boolean
        time_in_space:
          type: string
          readOnly: true
          nullable: true
        time_docked:
          type: string
          readOnly: true
          nullable: true
        flights_count:
          type: integer
          nullable: true
        mission_ends_count:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        status:
          $ref: '#/components/schemas/SpacecraftStatus'
        description:
          type: string
          maxLength: 2048
        spacecraft_config:
          $ref: '#/components/schemas/SpacecraftConfigDetailed'
        fastest_turnaround:
          type: string
          readOnly: true
          nullable: true
        flights:
          type: array
          items:
            $ref: '#/components/schemas/SpacecraftFlightNormal'
      required:
      - description
      - fastest_turnaround
      - flights
      - flights_count
      - id
      - image
      - name
      - response_mode
      - spacecraft_config
      - status
      - time_docked
      - time_in_space
      - url
    AstronautFlight:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        role:
          $ref: '#/components/schemas/AstronautRole'
        astronaut:
          $ref: '#/components/schemas/AstronautDetailed'
      required:
      - astronaut
      - id
      - role
    DockingLocation:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
        spacestation:
          $ref: '#/components/schemas/SpaceStationMini'
        spacecraft:
          $ref: '#/components/schemas/SpacecraftConfigNormal'
        payload:
          $ref: '#/components/schemas/PayloadMini'
      required:
      - id
      - name
      - payload
      - spacecraft
      - spacestation
    LauncherConfigList:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: list
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 200
        families:
          type: array
          items:
            $ref: '#/components/schemas/LauncherConfigFamilyMini'
          nullable: true
        full_name:
          type: string
          maxLength: 200
        variant:
          type: string
          maxLength: 200
      required:
      - families
      - id
      - name
      - response_mode
      - url
    PaginatedPolymorphicSpacecraftFlightEndpointList:
      type: object
      required:
      - count
      - results
      properties:
        count:
          type: integer
          example: 123
        next:
          type: string
          nullable: true
          format: uri
          example: http://api.example.org/accounts/?offset=400&limit=100
        previous:
          type: string
          nullable: true
          format: uri
          example: http://api.example.org/accounts/?offset=200&limit=100
        results:
          type: array
          items:
            $ref: '#/components/schemas/PolymorphicSpacecraftFlightEndpoint'
    AgencyDetailed:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: normal
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 200
        abbrev:
          type: string
          maxLength: 255
        type:
          $ref: '#/components/schemas/AgencyType'
        featured:
          type: boolean
        country:
          type: array
          items:
            $ref: '#/components/schemas/Country'
        description:
          type: string
          nullable: true
          maxLength: 2048
        administrator:
          type: string
          nullable: true
          maxLength: 200
        founding_year:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        launchers:
          type: string
          maxLength: 500
        spacecraft:
          type: string
          maxLength: 500
        parent:
          type: string
          readOnly: true
          nullable: true
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
          nullable: true
        logo:
          allOf:
          - $ref: '#/components/schemas/Image'
          nullable: true
        social_logo:
          allOf:
          - $ref: '#/components/schemas/Image'
          nullable: true
        total_launch_count:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        consecutive_successful_launches:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        successful_launches:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        failed_launches:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        pending_launches:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        consecutive_successful_landings:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        successful_landings:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        failed_landings:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        attempted_landings:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        successful_landings_spacecraft:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        failed_landings_spacecraft:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        attempted_landings_spacecraft:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        successful_landings_payload:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        failed_landings_payload:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        attempted_landings_payload:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        info_url:
          type: string
          format: uri
          nullable: true
          maxLength: 200
        wiki_url:
          type: string
          format: uri
          nullable: true
          maxLength: 200
        social_media_links:
          type: array
          items:
            $ref: '#/components/schemas/SocialMediaLink'
      required:
      - country
      - id
      - image
      - logo
      - name
      - parent
      - response_mode
      - social_logo
      - social_media_links
      - type
      - url
    VidURLType:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
      required:
      - id
      - name
    AgencyMini:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: list
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 200
        abbrev:
          type: string
          maxLength: 255
        type:
          $ref: '#/components/schemas/AgencyType'
      required:
      - id
      - name
      - response_mode
      - type
      - url
    LocationSerializerNoCelestialBody:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: normal
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 255
        active:
          type: boolean
        country:
          allOf:
          - $ref: '#/components/schemas/Country'
          nullable: true
        description:
          type: string
          nullable: true
          maxLength: 2048
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
          nullable: true
        map_image:
          type: string
          format: uri
          nullable: true
        longitude:
          type: number
          format: double
          nullable: true
        latitude:
          type: number
          format: double
          nullable: true
        timezone_name:
          type: string
          maxLength: 255
        total_launch_count:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        total_landing_count:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
      required:
      - country
      - id
      - image
      - response_mode
      - url
    PaginatedPolymorphicSpacecraftConfigFamilyEndpointList:
      type: object
      required:
      - count
      - results
      properties:
        count:
          type: integer
          example: 123
        next:
          type: string
          nullable: true
          format: uri
          example: http://api.example.org/accounts/?offset=400&limit=100
        previous:
          type: string
          nullable: true
          format: uri
          example: http://api.example.org/accounts/?offset=200&limit=100
        results:
          type: array
          items:
            $ref: '#/components/schemas/PolymorphicSpacecraftConfigFamilyEndpoint'
    CelestialBodyType:
      type: object
      properties:
        id:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        name:
          type: string
          maxLength: 255
      required:
      - id
    PolymorphicSpacecraftConfigurationEndpoint:
      oneOf:
      - $ref: '#/components/schemas/SpacecraftConfigNormal'
      - $ref: '#/components/schemas/SpacecraftConfigDetailed'
      discriminator:
        propertyName: response_mode
        mapping:
          normal: '#/components/schemas/SpacecraftConfigNormal'
          detailed: '#/components/schemas/SpacecraftConfigDetailed'
    PolymorphicSpacecraftConfigFamilyEndpoint:
      oneOf:
      - $ref: '#/components/schemas/SpacecraftConfigFamilyMini'
      - $ref: '#/components/schemas/SpacecraftConfigFamilyNormal'
      - $ref: '#/components/schemas/SpacecraftConfigFamilyEndpointDetailed'
      discriminator:
        propertyName: response_mode
        mapping:
          list: '#/components/schemas/SpacecraftConfigFamilyMini'
          normal: '#/components/schemas/SpacecraftConfigFamilyNormal'
          detailed: '#/components/schemas/SpacecraftConfigFamilyEndpointDetailed'
    AgencyNormal:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: normal
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 200
        abbrev:
          type: string
          maxLength: 255
        type:
          $ref: '#/components/schemas/AgencyType'
        featured:
          type: boolean
        country:
          type: array
          items:
            $ref: '#/components/schemas/Country'
        description:
          type: string
          nullable: true
          maxLength: 2048
        administrator:
          type: string
          nullable: true
          maxLength: 200
        founding_year:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        launchers:
          type: string
          maxLength: 500
        spacecraft:
          type: string
          maxLength: 500
        parent:
          type: string
          readOnly: true
          nullable: true
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
          nullable: true
        logo:
          allOf:
          - $ref: '#/components/schemas/Image'
          nullable: true
        social_logo:
          allOf:
          - $ref: '#/components/schemas/Image'
          nullable: true
      required:
      - country
      - id
      - image
      - logo
      - name
      - parent
      - response_mode
      - social_logo
      - type
      - url
    ImageVariantType:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
      required:
      - id
    AstronautType:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
      required:
      - id
      - name
    LaunchNormal:
      type: object
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 2048
        response_mode:
          type: string
          readOnly: true
          default: normal
        slug:
          type: string
          pattern: ^[-a-zA-Z0-9_]+$
        launch_designator:
          type: string
          nullable: true
          maxLength: 255
        status:
          allOf:
          - $ref: '#/components/schemas/LaunchStatus'
          nullable: true
        last_updated:
          type: string
          format: date-time
        net:
          type: string
          format: date-time
        net_precision:
          allOf:
          - $ref: '#/components/schemas/NetPrecision'
          nullable: true
        window_end:
          type: string
          format: date-time
        window_start:
          type: string
          format: date-time
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
          readOnly: true
          nullable: true
        infographic:
          type: string
          readOnly: true
          nullable: true
        probability:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        weather_concerns:
          type: string
          nullable: true
          maxLength: 255
        failreason:
          type: string
          nullable: true
          maxLength: 2048
        hashtag:
          type: string
          nullable: true
          maxLength: 2048
        launch_service_provider:
          $ref: '#/components/schemas/AgencyMini'
        rocket:
          allOf:
          - $ref: '#/components/schemas/RocketNormal'
          nullable: true
        mission:
          allOf:
          - $ref: '#/components/schemas/Mission'
          nullable: true
        pad:
          allOf:
          - $ref: '#/components/schemas/Pad'
          nullable: true
        webcast_live:
          type: boolean
        program:
          type: array
          items:
            $ref: '#/components/schemas/ProgramNormal'
          nullable: true
        orbital_launch_attempt_count:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        location_launch_attempt_count:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        pad_launch_attempt_count:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        agency_launch_attempt_count:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        orbital_launch_attempt_count_year:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        location_launch_attempt_count_year:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        pad_launch_attempt_count_year:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        agency_launch_attempt_count_year:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
      required:
      - id
      - image
      - infographic
      - launch_service_provider
      - mission
      - net_precision
      - pad
      - program
      - response_mode
      - rocket
      - slug
      - status
      - url
    ProgramType:
      type: object
      properties:
        id:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        name:
          type: string
          maxLength: 255
      required:
      - id
    SpaceStationType:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
      required:
      - id
      - name
    SpaceStationStatus:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
      required:
      - id
      - name
    ImageVariant:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        type:
          $ref: '#/components/schemas/ImageVariantType'
        image_url:
          type: string
          format: uri
      required:
      - id
      - image_url
      - type
    Image:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
        image_url:
          type: string
          format: uri
        thumbnail_url:
          type: string
          format: uri
        credit:
          type: string
          nullable: true
          maxLength: 255
        license:
          $ref: '#/components/schemas/ImageLicense'
        single_use:
          type: boolean
        variants:
          type: array
          items:
            $ref: '#/components/schemas/ImageVariant'
      required:
      - id
      - image_url
      - license
      - name
      - thumbnail_url
      - variants
    SpacecraftStatus:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
      required:
      - id
      - name
    SpacecraftConfigFamilyMini:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: list
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 200
      required:
      - id
      - name
      - response_mode
    NetPrecision:
      type: object
      properties:
        id:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        name:
          type: string
          maxLength: 255
        abbrev:
          type: string
          maxLength: 255
        description:
          type: string
          maxLength: 2048
      required:
      - id
    PaginatedSpacecraftStatusList:
      type: object
      required:
      - count
      - results
      properties:
        count:
          type: integer
          example: 123
        next:
          type: string
          nullable: true
          format: uri
          example: http://api.example.org/accounts/?offset=400&limit=100
        previous:
          type: string
          nullable: true
          format: uri
          example: http://api.example.org/accounts/?offset=200&limit=100
        results:
          type: array
          items:
            $ref: '#/components/schemas/SpacecraftStatus'
    MissionPatch:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 200
        priority:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        image_url:
          type: string
          format: uri
        agency:
          allOf:
          - $ref: '#/components/schemas/AgencyMini'
          nullable: true
        response_mode:
          type: string
          readOnly: true
          default: normal
      required:
      - agency
      - id
      - image_url
      - name
      - response_mode
    PaginatedPolymorphicSpacecraftConfigurationEndpointList:
      type: object
      required:
      - count
      - results
      properties:
        count:
          type: integer
          example: 123
        next:
          type: string
          nullable: true
          format: uri
          example: http://api.example.org/accounts/?offset=400&limit=100
        previous:
          type: string
          nullable: true
          format: uri
          example: http://api.example.org/accounts/?offset=200&limit=100
        results:
          type: array
          items:
            $ref: '#/components/schemas/PolymorphicSpacecraftConfigurationEndpoint'
    SpacecraftConfigFamilyNormal:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: normal
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 200
        description:
          type: string
          maxLength: 2048
        manufacturer:
          allOf:
          - $ref: '#/components/schemas/AgencyMini'
          nullable: true
        parent:
          allOf:
          - $ref: '#/components/schemas/SpacecraftConfigFamilyMini'
          nullable: true
        maiden_flight:
          type: string
          format: date
          nullable: true
          title: Maiden Flight Date
      required:
      - id
      - manufacturer
      - name
      - parent
      - response_mode
    SpaceStationNormal:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 255
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
          nullable: true
        status:
          $ref: '#/components/schemas/SpaceStationStatus'
        founded:
          type: string
          format: date
        deorbited:
          type: string
          format: date
          nullable: true
        description:
          type: string
          maxLength: 2048
        orbit:
          type: string
          readOnly: true
          nullable: true
        type:
          $ref: '#/components/schemas/SpaceStationType'
      required:
      - description
      - founded
      - id
      - image
      - name
      - orbit
      - status
      - type
      - url
    AgencyType:
      type: object
      properties:
        id:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        name:
          type: string
          maxLength: 255
      required:
      - id
    SpacecraftFlightNormal:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        destination:
          type: string
          nullable: true
          maxLength: 255
        mission_end:
          type: string
          format: date-time
          nullable: true
        spacecraft:
          $ref: '#/components/schemas/SpacecraftNormal'
        launch:
          $ref: '#/components/schemas/LaunchNormal'
        landing:
          $ref: '#/components/schemas/Landing'
        duration:
          type: string
          readOnly: true
        turn_around_time:
          type: string
          readOnly: true
        response_mode:
          type: string
          readOnly: true
          default: normal
      required:
      - duration
      - id
      - landing
      - launch
      - response_mode
      - spacecraft
      - turn_around_time
      - url
    SpacecraftDetailed:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: normal
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 255
        serial_number:
          type: string
          nullable: true
          maxLength: 255
        is_placeholder:
          type: boolean
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
          readOnly: true
          nullable: true
        in_space:
          type: boolean
        time_in_space:
          type: string
          readOnly: true
          nullable: true
        time_docked:
          type: string
          readOnly: true
          nullable: true
        flights_count:
          type: integer
          nullable: true
        mission_ends_count:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        status:
          $ref: '#/components/schemas/SpacecraftStatus'
        description:
          type: string
          maxLength: 2048
        spacecraft_config:
          $ref: '#/components/schemas/SpacecraftConfigDetailed'
        fastest_turnaround:
          type: string
          readOnly: true
          nullable: true
      required:
      - description
      - fastest_turnaround
      - flights_count
      - id
      - image
      - name
      - response_mode
      - spacecraft_config
      - status
      - time_docked
      - time_in_space
      - url
    PaginatedSpacecraftConfigTypeList:
      type: object
      required:
      - count
      - results
      properties:
        count:
          type: integer
          example: 123
        next:
          type: string
          nullable: true
          format: uri
          example: http://api.example.org/accounts/?offset=400&limit=100
        previous:
          type: string
          nullable: true
          format: uri
          example: http://api.example.org/accounts/?offset=200&limit=100
        results:
          type: array
          items:
            $ref: '#/components/schemas/SpacecraftConfigType'
    Landing:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        attempt:
          type: boolean
        success:
          type: boolean
          nullable: true
        description:
          type: string
          maxLength: 2048
        downrange_distance:
          type: number
          format: double
          nullable: true
          title: Downrange distance (km)
        landing_location:
          $ref: '#/components/schemas/LandingLocation'
        type:
          $ref: '#/components/schemas/LandingType'
      required:
      - id
      - landing_location
      - type
      - url
    CelestialBodyNormal:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: normal
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
        type:
          $ref: '#/components/schemas/CelestialBodyType'
        diameter:
          type: number
          format: double
          nullable: true
          description: m
        mass:
          type: number
          format: double
          nullable: true
          description: kg
        gravity:
          type: number
          format: double
          nullable: true
          description: m/s^2
        length_of_day:
          type: string
          nullable: true
        atmosphere:
          type: boolean
        image:
          $ref: '#/components/schemas/Image'
        description:
          type: string
          nullable: true
        wiki_url:
          type: string
          format: uri
          nullable: true
          maxLength: 200
      required:
      - id
      - image
      - name
      - response_mode
      - type
    InfoURL:
      type: object
      properties:
        priority:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        source:
          type: string
          nullable: true
          maxLength: 200
        title:
          type: string
          nullable: true
          maxLength: 200
        description:
          type: string
          nullable: true
          maxLength: 350
        feature_image:
          type: string
          format: uri
          nullable: true
          maxLength: 200
        url:
          type: string
          format: uri
        type:
          allOf:
          - $ref: '#/components/schemas/InfoURLType'
          nullable: true
        language:
          allOf:
          - $ref: '#/components/schemas/Language'
          nullable: true
      required:
      - language
      - type
      - url
    SpacecraftConfigDetailed:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: detailed
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 200
        type:
          $ref: '#/components/schemas/SpacecraftConfigType'
        agency:
          $ref: '#/components/schemas/AgencyNormal'
        family:
          type: array
          items:
            $ref: '#/components/schemas/SpacecraftConfigFamilyDetailed'
          nullable: true
        in_use:
          type: boolean
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
          nullable: true
        capability:
          type: string
          maxLength: 2048
        history:
          type: string
          maxLength: 1000
        details:
          type: string
          maxLength: 1000
        maiden_flight:
          type: string
          format: date
          nullable: true
        height:
          type: number
          format: double
          nullable: true
          title: Length (m)
        diameter:
          type: number
          format: double
          nullable: true
          title: Diameter (m)
        human_rated:
          type: boolean
        crew_capacity:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        payload_capacity:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
          title: Payload Capacity (kg)
        payload_return_capacity:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
          title: Payload Return Capacity (kg)
        flight_life:
          type: string
          nullable: true
          maxLength: 2048
        wiki_link:
          type: string
          format: uri
          maxLength: 200
        info_link:
          type: string
          format: uri
          maxLength: 200
        spacecraft_flown:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        total_launch_count:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        successful_launches:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        failed_launches:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        attempted_landings:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        successful_landings:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        failed_landings:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        fastest_turnaround:
          type: string
          readOnly: true
          nullable: true
      required:
      - agency
      - family
      - fastest_turnaround
      - id
      - image
      - name
      - response_mode
      - type
      - url
    PayloadNormal:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: normal
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 1048
        type:
          $ref: '#/components/schemas/PayloadType'
        manufacturer:
          $ref: '#/components/schemas/AgencyNormal'
        operator:
          $ref: '#/components/schemas/AgencyNormal'
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
          nullable: true
        wiki_link:
          type: string
          format: uri
          maxLength: 200
        info_link:
          type: string
          format: uri
          maxLength: 200
        program:
          type: array
          items:
            $ref: '#/components/schemas/ProgramMini'
        cost:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
          title: Cost (USD)
        mass:
          type: number
          format: double
          nullable: true
          title: Mass (kg)
        description:
          type: string
          maxLength: 2048
      required:
      - id
      - image
      - manufacturer
      - operator
      - program
      - response_mode
      - type
    Pad:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        active:
          type: boolean
        agencies:
          type: array
          items:
            $ref: '#/components/schemas/AgencyNormal'
        name:
          type: string
          maxLength: 255
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
          nullable: true
        description:
          type: string
          nullable: true
          maxLength: 2048
        info_url:
          type: string
          format: uri
          nullable: true
          maxLength: 200
        wiki_url:
          type: string
          format: uri
          nullable: true
          maxLength: 200
        map_url:
          type: string
          format: uri
          nullable: true
          maxLength: 200
        latitude:
          type: number
          format: double
          nullable: true
        longitude:
          type: number
          format: double
          nullable: true
        country:
          allOf:
          - $ref: '#/components/schemas/Country'
          nullable: true
        map_image:
          type: string
          format: uri
          nullable: true
        total_launch_count:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        orbital_launch_attempt_count:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        fastest_turnaround:
          type: string
          readOnly: true
          nullable: true
        location:
          allOf:
          - $ref: '#/components/schemas/Location'
          nullable: true
      required:
      - agencies
      - country
      - fastest_turnaround
      - id
      - image
      - location
      - url
    SocialMediaLink:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        social_media:
          $ref: '#/components/schemas/SocialMedia'
        url:
          type: string
          format: uri
          nullable: true
      required:
      - id
      - social_media
      - url
    Language:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
        code:
          type: string
          description: ISO 639-1 (two-letter) code
          maxLength: 255
      required:
      - code
      - id
      - name
    PayloadMini:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: list
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 1048
        type:
          $ref: '#/components/schemas/PayloadType'
        manufacturer:
          $ref: '#/components/schemas/AgencyMini'
        operator:
          $ref: '#/components/schemas/AgencyMini'
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
          nullable: true
      required:
      - id
      - image
      - manufacturer
      - operator
      - response_mode
      - type
    SpacecraftNormal:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: normal
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 255
        serial_number:
          type: string
          nullable: true
          maxLength: 255
        is_placeholder:
          type: boolean
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
          readOnly: true
          nullable: true
        in_space:
          type: boolean
        time_in_space:
          type: string
          readOnly: true
          nullable: true
        time_docked:
          type: string
          readOnly: true
          nullable: true
        flights_count:
          type: integer
          nullable: true
        mission_ends_count:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        status:
          $ref: '#/components/schemas/SpacecraftStatus'
        description:
          type: string
          maxLength: 2048
        spacecraft_config:
          $ref: '#/components/schemas/SpacecraftConfigNormal'
        fastest_turnaround:
          type: string
          readOnly: true
          nullable: true
      required:
      - description
      - fastest_turnaround
      - flights_count
      - id
      - image
      - name
      - response_mode
      - spacecraft_config
      - status
      - time_docked
      - time_in_space
      - url
    SpacecraftConfigFamilyDetailed:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: normal
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 200
        description:
          type: string
          maxLength: 2048
        manufacturer:
          $ref: '#/components/schemas/AgencyNormal'
        parent:
          allOf:
          - $ref: '#/components/schemas/SpacecraftConfigFamilyNormal'
          nullable: true
        maiden_flight:
          type: string
          format: date
          nullable: true
          title: Maiden Flight Date
        spacecraft_flown:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        total_launch_count:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        successful_launches:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        failed_launches:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        attempted_landings:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        successful_landings:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        failed_landings:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
      required:
      - id
      - manufacturer
      - name
      - parent
      - response_mode
    SpaceStationMini:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        name:
          type: string
          maxLength: 255
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
          nullable: true
      required:
      - id
      - image
      - name
      - url
    DockingEventForChaserNormal:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          readOnly: true
        docking:
          type: string
          format: date-time
        departure:
          type: string
          format: date-time
          nullable: true
        docking_location:
          $ref: '#/components/schemas/DockingLocation'
        space_station_target:
          $ref: '#/components/schemas/SpaceStationNormal'
        flight_vehicle_target:
          $ref: '#/components/schemas/SpacecraftFlightNormal'
        payload_flight_target:
          $ref: '#/components/schemas/PayloadFlightNormal'
      required:
      - docking
      - docking_location
      - flight_vehicle_target
      - id
      - payload_flight_target
      - space_station_target
      - url
    Orbit:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 50
        abbrev:
          type: string
          maxLength: 30
        celestial_body:
          $ref: '#/components/schemas/CelestialBodyMini'
      required:
      - abbrev
      - celestial_body
      - id
      - name
    CelestialBodyDetailed:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: normal
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
        type:
          $ref: '#/components/schemas/CelestialBodyType'
        diameter:
          type: number
          format: double
          nullable: true
          description: m
        mass:
          type: number
          format: double
          nullable: true
          description: kg
        gravity:
          type: number
          format: double
          nullable: true
          description: m/s^2
        length_of_day:
          type: string
          nullable: true
        atmosphere:
          type: boolean
        image:
          $ref: '#/components/schemas/Image'
        description:
          type: string
          nullable: true
        wiki_url:
          type: string
          format: uri
          nullable: true
          maxLength: 200
        total_attempted_launches:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        successful_launches:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        failed_launches:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        total_attempted_landings:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        successful_landings:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        failed_landings:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
      required:
      - id
      - image
      - name
      - response_mode
      - type
  securitySchemes:
    Token_Authentication:
      type: apiKey
      in: header
      name: Authorization
      description: "Token authentication uses a header of Authorization and the value with a required prefix \"Token\" followed by a space and then the apiKey. \n\n Example: `Authorization: Token 9944b09199c62bcf9418ad846dd0e4bbdfc6ee4b`"
    cookieAuth:
      type: apiKey
      in: cookie
      name: sessionid
