openapi: 3.2.0
info:
  title: TheSpaceDevs LL2 Configurations API
  version: v2.3.0
  description: Rocket launches, space events and crewed spaceflight. The Launch Library 2 API is the official successor of the popular Launch Library API. It keeps its core features whilst also including everything the broader Space Launch Now API had to offer. The result is a large database delivering a more complete experience for each rocket launch and ...
  license:
    name: Apache License 2.0
servers:
- url: https://ll.thespacedevs.com/
  description: Production API (� rate-limited)
- url: https://lldev.thespacedevs.com/
  description: Development API (stale and limited data, for development testing only)
tags:
- name: Configurations
paths:
  /2.3.0/config/orbits/:
    get:
      operationId: config_orbits_list
      summary: List Orbits
      description: '#### Number of results

        Use `limit` to control the number of objects in the response (max 100)


        Example - /config/orbits/?limit=2


        #### Format

        Switch to JSON output - /config/orbits/?format=json


        #### Help

        Find all the FAQs and support links on the documentation homepage - ll.thespacedevs.com/docs'
      parameters:
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - name: ordering
        required: false
        in: query
        description: Which field to use when ordering the results.
        schema:
          type: string
      - name: search
        required: false
        in: query
        description: A search term.
        schema:
          type: string
      tags:
      - Configurations
      security:
      - cookieAuth: []
      - Token_Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedOrbitList'
          description: ''
  /2.3.0/config/orbits/{id}/:
    get:
      operationId: config_orbits_retrieve
      summary: Get Orbit
      description: '#### Number of results

        Use `limit` to control the number of objects in the response (max 100)


        Example - /config/orbits/?limit=2


        #### Format

        Switch to JSON output - /config/orbits/?format=json


        #### Help

        Find all the FAQs and support links on the documentation homepage - ll.thespacedevs.com/docs'
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this Orbit.
        required: true
      tags:
      - Configurations
      security:
      - cookieAuth: []
      - Token_Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Orbit'
          description: ''
components:
  schemas:
    CelestialBodyMini:
      type: object
      properties:
        response_mode:
          type: string
          readOnly: true
          default: list
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
      required:
      - id
      - name
      - response_mode
    Orbit:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 50
        abbrev:
          type: string
          maxLength: 30
        celestial_body:
          $ref: '#/components/schemas/CelestialBodyMini'
      required:
      - abbrev
      - celestial_body
      - id
      - name
    PaginatedOrbitList:
      type: object
      required:
      - count
      - results
      properties:
        count:
          type: integer
          example: 123
        next:
          type:
          - string
          - 'null'
          format: uri
          example: http://api.example.org/accounts/?offset=400&limit=100
        previous:
          type:
          - string
          - 'null'
          format: uri
          example: http://api.example.org/accounts/?offset=200&limit=100
        results:
          type: array
          items:
            $ref: '#/components/schemas/Orbit'
  securitySchemes:
    Token_Authentication:
      type: apiKey
      in: header
      name: Authorization
      description: "Token authentication uses a header of Authorization and the value with a required prefix \"Token\" followed by a space and then the apiKey. \n\n Example: `Authorization: Token 9944b09199c62bcf9418ad846dd0e4bbdfc6ee4b`"
    cookieAuth:
      type: apiKey
      in: cookie
      name: sessionid
